---
http_interactions:
- request:
    method: get
    uri: https://api.postcodes.io/postcodes/E81HE
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gnu:
      - Michael J Blanchard
      Etag:
      - W/"317-nsbP5jdTW7co/cCROWSPRx5Wjn0"
    body:
      encoding: ASCII-8BIT
      string: '{"status":200,"result":{"postcode":"E8 1HE","quality":1,"eastings":534963,"northings":184709,"country":"England","nhs_ha":"London","longitude":-0.055061,"latitude":51.545146,"european_electoral_region":"London","primary_care_trust":"City
        and Hackney Teaching","region":"London","lsoa":"Hackney 017A","msoa":"Hackney
        017","incode":"1HE","outcode":"E8","parliamentary_constituency":"Hackney South
        and Shoreditch","admin_district":"Hackney","parish":"Hackney, unparished area","admin_county":null,"admin_ward":"Homerton","ced":null,"ccg":"NHS
        City and Hackney","nuts":"Hackney and Newham","codes":{"admin_district":"E09000012","admin_county":"E99999999","admin_ward":"E05009376","parish":"E43000202","parliamentary_constituency":"E14000721","ccg":"E38000035","ced":"E99999999","nuts":"UKI41"}}}'
  recorded_at: Tue, 16 Jul 2019 10:22:44 GMT
recorded_with: VCR 3.0.3
