<div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">

  <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
    There was a problem with your details
  </h1>

  <ul class="error-summary-list">
    <% errors.try(:keys).try(:each) do |attribute| %>
      <li><a href="#<%= attribute %>"><%= errors[attribute].first %></a></li>
    <% end %>
  </ul>

</div>
