<div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">

  <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
    There was a problem with your details
  </h1>

  <ul class="error-summary-list">
    <% messages.each do |attribute, attribute_messages| %>
      <% attribute_messages.each do |attribute_message| %>
        <li><a href="#<%= attribute %>"><%= sanitize(attribute_message, :tags => []) %></a></li>
      <% end %>
    <% end %>
  </ul>

</div>
