<div class="error-summary js-error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1" data-error-summary>

  <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
    <%= t('.heading') %>
  </h2>

  <ul class="error-summary-list">
    <% errors.each do |attribute, message| %>
      <li>
        <%= link_to "#{form.human_attribute_name attribute} – #{sanitize(message, :tags => [])}", "##{attribute}" %>
      </li>
    <% end %>
  </ul>

</div>
