<div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">

  <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
    <%= t('.heading') %>
  </h2>

  <ul class="error-summary-list">
    <% errors.each do |error| %>
      <li>
        <%= link_to "#{form.human_attribute_name error.attribute} – #{sanitize(error.message, :tags => [])}", "##{error.attribute}" %>
      </li>
    <% end %>
  </ul>

</div>
