<div class="l-grid-row">
  <div class="l-column-two-thirds">
    <h1>Your appointment request was successful</h1>

    <p>Thank you for requesting a guidance appointment with Pension Wise. You should shortly receive an email acknowledging your booking request.</p>

    <p>We’ll contact you within 2 working days to confirm the date and time of
    your appointment.</p>
  </div>
</div>
