<div class="l-grid-row">
  <div class="l-column-two-thirds">
    <h1>Sorry, you’re not eligible for an appointment</h1>

    <p>You should be aged <strong>50 or over</strong> and have a
    <strong>defined contribution</strong> pension. This is a pension
    based on how much you and possibly your employer paid into your
    pot. It’s not a final salary pension.</p>
    <p>Find out more if you’re not sure what <a
      href="/pension-types">type of pension</a> you have.</p>

    <%= render 'feedback/feedback_form' %>
  </div>
</div>
