<div class="l-grid-row">
  <div class="l-column-two-thirds">
    <h1>Sorry, you’re unable to have an appointment</h1>

    <p>You must be aged <strong>50 or over</strong> and have a
    <strong>defined contribution</strong> pension.</p>

    <p>Find out more if you’re not sure what <a
      href="/pension-types">type of pension</a> you have.</p>

    <%= render 'feedbacks/feedback_form' %>
  </div>
</div>

<script>
  window.dataLayer = window.dataLayer || [];
  dataLayer.push({
    'event': 'OnlineBooking',
    'step': 'ineligible',
    'booking_location_name': '<%= @booking_request.booking_location.name %>',
    'delivery_location_name': '<%= @booking_request.location_name %>'
  });
</script>
