<% content_for(:page_title, t('service.title', page_title: 'Choose a Time')) %>

<div class="l-column-half l-column-half--right" data-slot-picker-single-time>
  <%= render 'hidden_fields', f: f, id_prefix: 'step_2' %>
  <%= render 'times', times: @times %>
  <%= render 'times_js' %>
</div>
