<% content_for(:page_title, t('service.title', page_title: 'Confirmation')) %>

<div class="l-grid-row">
  <div class="l-column-two-thirds">
    <div class="govuk-box-highlight">
      <h1 class="bold-large govuk-box-highlight__header">We’ve booked your appointment</h1>
      <p>
        Your reference number is <br>
        <strong class="heading-medium t-booking-reference"><%= @booking_reference %></strong>
      </p>
    </div>

    <div class="t-start">
      <p><strong>Date</strong><br><%= l(@booking_date, format: :govuk_date) %></p>
      <p><strong>Time</strong><br><%= l(@booking_date, format: :govuk_time) %></p>
    </div>

    <div class="application-notice help-notice">
      <p>
        In the interest of road safety we will not deliver an appointment if
        you are driving. This also includes the use of hands-free devices.
        Please ensure you are not driving at the time of your appointment.
      </p>
    </div>

    <h5>What happens next?</h5>

    <p>We’ll contact you to confirm these details. You’ll also receive information to help you prepare for your appointment.</p>

    <p>To cancel or change your appointment, or if any of the information above isn’t correct, call <strong>0800 100 166</strong>.</p>

    <h5>Preparing for your appointment</h5>
    <p>To make the most of your appointment it would be helpful if you find out:</p>
    <p>
    <ul>
      <li>the value of your pension pot(s) — check your pension paperwork or ask your provider</li>
      <li>an estimate of your current State Pension value — call the Future Pension Centre on <strong>0800 731 0175</strong> or use the online service on GOV.UK for a State Pension statement</li>
      <li>ask your provider if your pot contains any special features, eg a guaranteed annuity rate or a guaranteed pot value at a certain time</li>
    </ul>
    </p>
    <p>Think about your financial circumstances in general and plans for retirement, eg:</p>
    <p>
    <ul>
      <li>sources of income like salary, state benefits, savings and investments</li>
      <li>debts and repayments you might have</li>
      <li>when you want to stop working</li>
      <li>if you want a fixed or flexible income in retirement</li>
    </ul>
    </p>
    <p><a href="https://www.moneyhelper.org.uk/prepare-pw" rel="external" target="_blank">moneyhelper.org.uk/prepare-pw</a></p>
  </div>
</div>

<script>
  window.dataLayer = window.dataLayer || [];
  dataLayer.push({
    'event': 'NudgeBooking',
    'step': 'completed'
  });
</script>
