<% content_for(:page_title, t('service.title', page_title: 'Book an Appointment')) %>

<div class="l-column-full">
  <%= f.hidden_field :start_at, id: 'hidden_booking_start_at_step_1' %>
  <%= render 'hidden_fields', f: f, id_prefix: 'step_1' %>

  <div class="application-notice help-notice">
    <p>
    The ongoing response to coronavirus may impact appointment availability.
    </p>
    <p>
    If you are unable to find a suitable appointment or can no longer attend,
    you can <a href="/en/explore-your-options">explore your options</a>.
    </p>
  </div>

  <% if @slot_assignment_failed %>
    <div class="error-summary t-assignment-failed">
      <h2 class="heading-medium error-summary-heading">There was a problem booking your appointment</h2>
      <p>There was a problem assigning you an appointment time, please choose again.</p>
    </div>
  <% end %>
</div>
