<nav class="breadcrumbs" aria-label="breadcrumb">
  <ul class="breadcrumbs__list">
    <li class="breadcrumbs__item">
      <%= link_to t('breadcrumbs.home.title'), root_path, class: 'breadcrumbs__link t-breadcrumb' %>
    </li>
    <% breadcrumbs.each do |breadcrumb| %>
      <li class="breadcrumbs__item">
        <%= link_to breadcrumb.title, breadcrumb.path, class: 'breadcrumbs__link t-breadcrumb' %>
      </li>
    <% end %>
  </ul>
</nav>
