<nav class="breadcrumbs" aria-label="breadcrumb" role="navigation">
  <ul class="breadcrumbs__list">
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link t-breadcrumb" href="/">Home</a>
    </li>
    <% breadcrumbs.each do |breadcrumb| %>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link t-breadcrumb" href="<%= breadcrumb.path %>"><%= breadcrumb.title %></a>
      </li>
    <% end %>
  </ul>
</nav>
