<div class="footer-categories t-footer-categories">
  <% categories.each do |category| %>
    <div class="footer-categories__<%= category.items.size.humanize %>-column t-footer-category">
      <h3 class="footer-categories__heading t-footer-category-header"><%= category.label %></h3>

      <% category.items.each do |item| %>

        <ul class="footer-categories__list">
          <% item.each do |guide| %>
            <li class="t-footer-category-item">
              <%= link_to guide.label, guide.url %>
            </li>
          <% end %>
        </ul>

      <% end %>

    </div>
  <% end %>
</div>
