<div class="journey-promo">
  <h2 class="journey-promo__heading">
    6 things you need to know
  </h2>

  <p class="journey-promo__introduction l-text">These steps can help you understand
    how to turn your pension pot into income for your retirement.</p>

  <div class="l-grid-row">
    <div class="l-column-half">
      <ol class="journey-promo__list">
        <li class="journey-promo__item">
          <a href="/6-things-you-need-to-know#check-how-much-is-in-your-pension-pot"
             class="journey-promo__anchor">
            Check the value of your pension pot
          </a>
        </li>
        <li class="journey-promo__item">
          <a href="/6-things-you-need-to-know#understand-what-you-can-do-with-your-pension-pot"
             class="journey-promo__anchor">
            Understand what you can do with your pension pot
          </a>
        </li>
        <li class="journey-promo__item">
          <a href="/6-things-you-need-to-know#plan-how-long-your-money-needs-to-last"
             class="journey-promo__anchor">
            Plan how long your money needs to last
          </a>
        </li>
      </ol>
    </div>
    <div class="l-column-half">
      <ol start="4" class="journey-promo__list">
        <li class="journey-promo__item">
          <a href="/6-things-you-need-to-know#work-out-how-much-youll-need"
             class="journey-promo__anchor">
            Work out how much money you'll have in retirement
          </a>
        </li>
        <li class="journey-promo__item">
          <a href="/6-things-you-need-to-know#remember-tax"
             class="journey-promo__anchor">
            Watch out for tax
          </a>
        </li>
        <li class="journey-promo__item">
          <a href="/6-things-you-need-to-know#take-your-time-to-shop-around"
             class="journey-promo__anchor">
            Shop around for the best deal
          </a>
        </li>
      </ol>
    </div>
  </div>
  <a href="/6-things-you-need-to-know" class="button journey-promo__link-cta">
    Start now
  </a>
</div>
