<div class="journey-promo">
  <h2 class="journey-promo__heading">
    6 steps you need to take
  </h2>

  <p class="journey-promo__introduction l-text">These steps can help you understand
    how to turn your pension pot into income for your retirement.</p>

  <div class="l-grid-row">
    <div class="l-column-half">
      <ol class="journey-promo__list">
        <li class="journey-promo__item">
          <span class="journey-promo__number journey-promo__number--1"></span>
          <a href="/6-steps-you-need-to-take#step1"
             class="journey-promo__anchor">
            Check the value of your pension pot
          </a>
        </li>
        <li class="journey-promo__item">
          <span class="journey-promo__number journey-promo__number--2"></span>
          <a href="/6-steps-you-need-to-take#step2"
             class="journey-promo__anchor">
            Understand what you can do with your pension pot
          </a>
        </li>
        <li class="journey-promo__item last-child">
          <span class="journey-promo__number journey-promo__number--3"></span>
          <a href="/6-steps-you-need-to-take#step3"
             class="journey-promo__anchor">
            Plan how long your money needs to last
          </a>
        </li>
      </ol>
    </div>
    <div class="l-column-half">
      <ol start="4" class="journey-promo__list">
        <li class="journey-promo__item">
          <span class="journey-promo__number journey-promo__number--4"></span>
          <a href="/6-steps-you-need-to-take#step4"
             class="journey-promo__anchor">
            Work out how much money you'll have in retirement
          </a>
        </li>
        <li class="journey-promo__item">
          <span class="journey-promo__number journey-promo__number--5"></span>
          <a href="/6-steps-you-need-to-take#step5"
             class="journey-promo__anchor">
            Watch out for tax
          </a>
        </li>
        <li class="journey-promo__item journey-promo__item--last-step last-child">
          <span class="journey-promo__number journey-promo__number--6"></span>
          <a href="/6-steps-you-need-to-take#step6"
             class="journey-promo__anchor">
            Shop around for the best deal
          </a>
        </li>
      </ol>
    </div>
  </div>
  <a href="/6-steps-you-need-to-take" class="button journey-promo__link-cta">
    Start now
  </a>
</div>
