<div class="language-toggle">
  <div class="language-toggle__inner">
    <% alternate_locales.each do |alternate_locale| %>
      <%= link_to alternate_url(alternate_locale), lang: alternate_locale, class: 'language-toggle__lang t-language-toggle' do %>
        <%= t('language_name', locale: alternate_locale) %>
      <% end %>
    <% end %>
  </div>
</div>
