<div class="l-masthead">
  <div class="l-banner-container">
    <%= render 'components/phase_banner' %>
    <%= render 'components/logo_link' %>


    <%= render 'components/quick_links' %>

    <% if local_assigns.show_appointment %>
      <div class="l-book-appointment">
        <a href="/appointments" class="l-book-appointment__link">Book a free appointment</a>
      </div>
    <% end %>
  </div>
</div>
