<div class="nav">
  <div class="nav__mobile">
    <a href="#" class="nav__mobile-link js-nav-toggler">Menu</a>
  </div>

  <ul class="nav__list js-nav">
    <%= navigation_topics(navigation.topics) %>
  </ul>
</div>
