<div class="nav">
  <div class="nav__mobile">
    <button class="nav__mobile-toggler js-nav-toggler" aria-expanded="false" aria-controls="mobile-menu">Menu</button>
  </div>

  <ul class="nav__list js-nav" id="mobile-menu" aria-hidden="true">
    <%= navigation_topics(navigation.topics) %>
  </ul>
</div>
