<ul class="pager">
  <% if pager.previous_step %>
    <li class="pager__item pager__item--previous">
      <a href="<%= pager.previous_step.url %>" rel="prev">
        <span class="pager__label">Previous</span>
        <span class="pager__title">
          <span class="t-pager__item-previous"><%= pager.previous_step.label %></span>
        </span>
      </a>
    </li>
  <% end %>

  <% if pager.next_step %>
    <li class="pager__item pager__item--next">
      <a href="<%= pager.next_step.url %>" rel="next">
        <span class="pager__label">Next</span>
        <span class="pager__title">
          <span class="t-pager__item-next"><%= pager.next_step.label %></span>
        </span>
      </a>
    </li>
  <% end %>
</ul>
