<ul class="journey-nav__sub-nav">
  <li class="t-journey-subnav-step">
    <span class="bullet bullet--untouched"></span>
    <a href="#untouched" id="sub-nav-untouched">Leave untouched</a>
  </li>
  <li class="t-journey-subnav-step">
    <span class="bullet bullet--annuity"></span>
    <a href="#annuity" id="sub-nav-annuity">Guaranteed income</a>
  </li>
  <li class="t-journey-subnav-step">
    <span class="bullet bullet--flexible"></span>
    <a href="#flexible" id="sub-nav-flexible">Flexible money</a>
  </li>
  <li class="t-journey-subnav-step">
    <span class="bullet bullet--cash"></span>
    <a href="#cash" id="sub-nav-cash">Cash your pot in</a>
  </li>
  <li class="t-journey-subnav-step">
    <span class="bullet bullet--mix"></span>
    <a href="#mix" id="sub-nav-mix">Mix your options</a>
  </li>
</ul>
