<div class="phase-banner">
  <p>
    <strong class="phase-tag">BETA</strong>
      <span>This is a new service under development – your
        <a href="mailto:pensions-beta-feedback@digital.cabinet-office.gov.uk?Subject=Feedback%20for%20Pension%20Guidance%20Beta%20Service">
          feedback</a> will help us to improve it.
      </span>
  </p>
</div>
