<ul class="nav">
  <li class="nav__item">
    Your pension details

    <div class="nav__sub-nav">
      <ul class="nav__sub-nav-list">
        <li class="nav__item">Know your pension type</li>
        <li class="nav__item">Know your pension value</li>
        <li class="nav__item">Understand your pension statement</li>
        <li class="nav__item">The State Pension</li>
      </ul>
    </div>
  </li>
  <li class="nav__item">
    Taking your pension money

    <div class="nav__sub-nav nav__sub-nav--double">
      <ul class="nav__sub-nav-list">
        <li class="nav__item">The 6 pension options</li>
        <li class="nav__item">Leave your pot untouched</li>
        <li class="nav__item">Get a guaranteed income (annuity)</li>
        <li class="nav__item">Get an adjustable income</li>
        <li class="nav__item">Take cash in chunks</li>
        <li class="nav__item">Take your whole pot</li>
        <li class="nav__item">Mix your options</li>
      </ul>

      <ul class="nav__sub-nav-list">
        <li class="nav__item">Combine different pension pots</li>
        <li class="nav__item">Shop around and compare providers</li>
        <li class="nav__item">Making your money last</li>
        <li class="nav__item">Work out what you’ll have in retirement</li>
        <li class="nav__item">Avoiding scams</li>
      </ul>
    </div>
  </li>
  <li class="nav__item">
    Tax and getting advice

    <div class="nav__sub-nav">
      <ul class="nav__sub-nav-list">
        <li class="nav__item">Tax on your pension money</li>
        <li class="nav__item">Seeing a financial adviser</li>
        <li class="nav__item">Benefits entitlement</li>
        <li class="nav__item">Debt</li>
      </ul>
    </div>
  </li>
  <li class="nav__item">
    Illness and death

    <div class="nav__sub-nav">
      <ul class="nav__sub-nav-list">
        <li class="nav__item">Ill health</li>
        <li class="nav__item">Care costs</li>
        <li class="nav__item">When you die</li>
      </ul>
    </div>
  </li>
  <li class="nav__item">
    More...<br><br>

    <div class="nav__sub-nav">
      <ul class="nav__sub-nav-list">
        <li class="nav__item">Living abroad</li>
        <li class="nav__item">Divorce</li>
        <li class="nav__item">Pension compensation</li>
      </ul>
    </div>
  </li>
</ul>
