<ul class="nav">
  <li class="nav__item">
    <span class="nav__item-label">Your pension details</span>

    <div class="nav__sub-nav">
      <ul class="nav__sub-nav-list">
        <li class="nav__item"><a href="/pension-types">Know your pension type</a></li>
        <li class="nav__item"><a href="/pension-pot-value">Know your pension value</a></li>
        <li class="nav__item"><a href="/understand-your-statement">Understand your pension statement</a></li>
        <li class="nav__item"><a href="/state-pension">The State Pension</a></li>
      </ul>
    </div>
  </li>
  <li class="nav__item">
    <span class="nav__item-label">Taking your pension money</span>

    <div class="nav__sub-nav nav__sub-nav--double">
      <ul class="nav__sub-nav-list nav__sub-nav-list--first">
        <li class="nav__item nav__item--parent">The 6 pension options</li>
        <li class="nav__item"><a href="/leave-pot-untouched">Leave your pot untouched</a></li>
        <li class="nav__item"><a href="/guaranteed-income">Get a guaranteed income (annuity)</a></li>
        <li class="nav__item"><a href="/adjustable-income">Get an adjustable income</a></li>
        <li class="nav__item"><a href="/take-cash-in-chunks">Take cash in chunks</a></li>
        <li class="nav__item"><a href="/take-whole-pot">Take your whole pot</a></li>
        <li class="nav__item"><a href="/mix-options">Mix your options</a></li>
      </ul>

      <ul class="nav__sub-nav-list nav__sub-nav-list--second">
        <li class="nav__item nav__item--parent">Other information</li>
        <li class="nav__item"><a href="/combine-pension-pots">Combine different pension pots</a></li>
        <li class="nav__item"><a href="/shop-around">Shop around and compare providers</a></li>
        <li class="nav__item"><a href="/making-money-last">Making your money last</a></li>
        <li class="nav__item"><a href="/work-out-income">Work out what you’ll have in retirement</a></li>
        <li class="nav__item"><a href="/scams">Avoiding scams</a></li>
      </ul>
    </div>
  </li>
  <li class="nav__item">
    <span class="nav__item-label">Tax and getting advice</span>

    <div class="nav__sub-nav">
      <ul class="nav__sub-nav-list">
        <li class="nav__item"><a href="/tax">Tax on your pension money</a></li>
        <li class="nav__item"><a href="/seeing-financial-adviser">Seeing a financial adviser</a></li>
        <li class="nav__item"><a href="/benefits">Benefits entitlement</a></li>
        <li class="nav__item"><a href="/debt">Debt</a></li>
      </ul>
    </div>
  </li>
  <li class="nav__item">
    <span class="nav__item-label">Illness and death</span>

    <div class="nav__sub-nav">
      <ul class="nav__sub-nav-list">
        <li class="nav__item"><a href="/benefits">Ill health</a></li>
        <li class="nav__item"><a href="/care-costs">Care costs</a></li>
        <li class="nav__item"><a href="/when-you-die">When you die</a></li>
      </ul>
    </div>
  </li>
  <li class="nav__item">
    <span class="nav__item-label nav__item-label--single">More...<br><br></span>

    <div class="nav__sub-nav nav__sub-nav--left">
      <ul class="nav__sub-nav-list">
        <li class="nav__item"><a href="/living-abroad">Living abroad</a></li>
        <li class="nav__item"><a href="/divorce">Divorce</a></li>
        <li class="nav__item"><a href="/protection">Pension compensation</a></li>
      </ul>
    </div>
  </li>
</ul>
