<ul class="nav">
  <li class="nav__item">
    Your pension details

    <div class="nav__sub-nav">
      <ul class="nav__sub-nav-list">
        <li class="nav__item"><a href="#">Know your pension type</a></li>
        <li class="nav__item"><a href="#">Know your pension value</a></li>
        <li class="nav__item"><a href="#">Understand your pension statement</a></li>
        <li class="nav__item"><a href="#">The State Pension</a></li>
      </ul>
    </div>
  </li>
  <li class="nav__item">
    Taking your pension money

    <div class="nav__sub-nav nav__sub-nav--double">
      <ul class="nav__sub-nav-list">
        <li class="nav__item"><a href="#">The 6 pension options</a></li>
        <li class="nav__item"><a href="#">Leave your pot untouched</a></li>
        <li class="nav__item"><a href="#">Get a guaranteed income (annuity)</a></li>
        <li class="nav__item"><a href="#">Get an adjustable income</a></li>
        <li class="nav__item"><a href="#">Take cash in chunks</a></li>
        <li class="nav__item"><a href="#">Take your whole pot</a></li>
        <li class="nav__item"><a href="#">Mix your options</a></li>
      </ul>

      <ul class="nav__sub-nav-list">
        <li class="nav__item"><a href="#">Combine different pension pots</a></li>
        <li class="nav__item"><a href="#">Shop around and compare providers</a></li>
        <li class="nav__item"><a href="#">Making your money last</a></li>
        <li class="nav__item"><a href="#">Work out what you’ll have in retirement</a></li>
        <li class="nav__item"><a href="#">Avoiding scams</a></li>
      </ul>
    </div>
  </li>
  <li class="nav__item">
    Tax and getting advice

    <div class="nav__sub-nav">
      <ul class="nav__sub-nav-list">
        <li class="nav__item"><a href="#">Tax on your pension money</a></li>
        <li class="nav__item"><a href="#">Seeing a financial adviser</a></li>
        <li class="nav__item"><a href="#">Benefits entitlement</a></li>
        <li class="nav__item"><a href="#">Debt</a></li>
      </ul>
    </div>
  </li>
  <li class="nav__item">
    Illness and death

    <div class="nav__sub-nav">
      <ul class="nav__sub-nav-list">
        <li class="nav__item"><a href="#">Ill health</a></li>
        <li class="nav__item"><a href="#">Care costs</a></li>
        <li class="nav__item"><a href="#">When you die</a></li>
      </ul>
    </div>
  </li>
  <li class="nav__item">
    More...<br><br>

    <div class="nav__sub-nav">
      <ul class="nav__sub-nav-list">
        <li class="nav__item"><a href="#">Living abroad</a></li>
        <li class="nav__item"><a href="#">Divorce</a></li>
        <li class="nav__item"><a href="#">Pension compensation</a></li>
      </ul>
    </div>
  </li>
</ul>
