<% content_for(:page_title, t('service.title', page_title: t('.title'))) %>

<div class="l-column-two-thirds">
  <%= @guide.content %>

  <%= button_to t('.start_now_button'), explore_your_options_start_path, class: 'button button--primary' %>

  <p>
  <%= link_to t('.not_sure_what_type_of_pension_link'), 'https://tool.moneyhelper.org.uk/en/pension-type/question-1', target: '_blank' %>
  </p>

  <p>
  <%= t('.get_help_message.html') %>
  </p>
</div>
