<% content_for(:page_title, t('service.title', page_title: t('.title'))) %>
<% content_for(:page_name, 'explore-your-options--thank-you') %>
<% content_for(:step_name, '') %>
<% content_for(:tool_step, '') %>
<% content_for(:tool_name, 'Explore Your Options') %>

<div class="l-column-two-thirds">
  <span class="build-your-own-progress">
    <%= t('.pagination', current_page: @summary.current_step_number, total_pages: @summary.all_selected_steps.count) %>
  </span>

  <%= @guide.content %>

  <%= render 'sidebar' %>
</div>
