<%= render layout: 'layouts/base' do %>
  <div class="l-masthead">
    <div class="l-banner-container">
      <%= render 'components/logo_link' %>
      <%= render 'components/page_nav' %>
    </div>
  </div>

  <div class="l-home">
    <main role="main" class="l-home-experiment" id="content" tabindex="-1">
      <%= yield %>
    </main>
  </div>
<% end %>
