<% content_for(:page_title, t('service.title', page_title: 'Taking your whole pot in one go')) %>

<a class="link-back" href="/take-whole-pot">Back to description</a>

<h1>Taking your whole pot in one go</h1>

<div class="calculator">
  <%= render partial: 'form' %>
  <%= render partial: 'results' %>
</div>

<a class="link-back" href="/take-whole-pot">Back to description</a>
