sudo: false
language: ruby
cache:
  bundler: true
  directories:
  - node_modules
  - tmp/cache/assets/test
  - vendor/assets/bower_components
env:
  global:
  - secure: UJ8k9SIGUlvEPjSGx5ji863LWbViJw/bFR18Pm1aeTdTiQmFTOLM9orq4Fuxb/sQWEXTyjcYiS5LzLS9pS568b0GH7gYau/jJr1DV9j+RbpUU+e7dnhywL9GfxZ7pnWLzrvE2IF+q/7IraQOR+Z+LX9RUVwddJgUX8IFoKi4Ln8=
  - secure: moD2EZPtH4IRmt5sSVle/tIB7fEuAYU7Z58Lu7SKKEdYnFwqQRBTM7maD+Nm1aU7H/h98+YoyxkRqs5sujgj0LtAM+wJWcMs+Drdut5VccJ2darfbFkZEDFdtMcrksv5iokd/uDQBkK8wluvk9RzvMJv8EbTCaTUS2iQUxixoHE=
node_js:
- '0.10'
rvm:
- '2.2.1'
before_script:
- npm install
after_script:
- "./node_modules/.bin/travis-notify-geckoboard -a $GECKOBOARD_API_KEY -w $GECKOBOARD_WIDGET_KEY"
deploy:
  provider: heroku
  app: ggp-pension-guidance
  api_key:
    secure: bASAlGbdIIHSLR2gErxLUtDcgtJaFFbSxrmeAzyIvkYw947iWIXmQtqODFCLTrg3v202PoW5rI47fjWVr47GdjxIVJctQAbYJo3qNBXNU8Xdv+aU1EXH+22E0nAGA+ZO71KLmb+Wdc9+AXJ6KfqfABqQmIEI2OdBWbjuLZ9LOR4=
  on:
    repo: guidance-guarantee-programme/pension_guidance
  run: "curl -X POST -d '' https://ggp-smoke-tests.herokuapp.com/staging"
