sudo: false
language: ruby
cache:
  bundler: true
  directories:
  - ".downloads"
  - node_modules
  - tmp/cache/assets/test
  - vendor/assets/bower_components
env:
  global:
  - PATH=$PWD/bin:$PATH
  - secure: oZejYlwy5wgEKshf51GbyA62FURMPRolk4snUK5cXQLCSQ+pjleKZq5h7CYlSZfvQNDctw0u3NsFMK9c+FNm057p4/wSvhP1wxz8Zq2jDFRJjmZGIInW5l5Fw7AvDE+Ndn9ndTyi/Ye/xWOIaiI9q9dlqcp62sKTjvHU+w+vGgA=
  - secure: MdrB+5oJX74bc7wSPut3vANmXUlvQN+pJyagxE+tuWWadKb5F4oAAXU2/BtrMqD9f/lxs2d+lh3AxKIWgN/ZUyxNxWZPk8958pqaTbc8eAcYLag4E2fqqyafkJZYW5Dny1lkoIzdmxn4FPHdp8WTfXsnOSmDa56fSj5DwBe4cF0=
node_js:
- '0.10'
before_install:
- echo -e "machine github.com\n  login $CI_USER_TOKEN" >> ~/.netrc
before_script:
- "[ -d .downloads ] || mkdir .downloads"
- "(cd .downloads; [ -d prince-9.0r5-linux-amd64-static ] || curl -s http://www.princexml.com/download/prince-9.0r5-linux-amd64-static.tar.gz | tar xzf -)"
- echo $PWD | ./.downloads/prince-9.0r5-linux-amd64-static/install.sh
- npm install
deploy:
  provider: heroku
  app: ggp-pension-guidance
  api_key:
    secure: oOyqM/OW8yMk4pkYL4/A0xJOF12OgaXQ8ooPcxlteksJh4ow3nzezTm2GECsrx5NmdUEVkbPJdxOky/I1XKv3vNUIek11uFm4zJT6OYq1+PxiMaeuTsBd7bPcPVVppfs1g/D43oIVauPIiCvHEeq9U3uKzt0AhS785FzaLJ01pc=
  on:
    repo: guidance-guarantee-programme/pension_guidance
  run: curl -X POST -d '' https://ggp-smoke-tests.herokuapp.com/staging
notifications:
  slack:
    secure: dbkW7tikYd7n+K8JgMmfowamyeYxWAFkEEJbtVwKtKaucxezrrfggdThKnrQSu5a9JDwl3Owfy8Cd8XICG/Sy92REM9i6MIMeiO95j4lHwVt4up9UvXrxWbcHczRcBFFNAPj0oxRNFYmkwyYVqNtNk9G/TBUUnVbGC3DcQ4IRoo=
branches:
  except:
    - /^prototypes\/.*$/
