<p>Your pot could be worth this much over the
  next <%= content_tag(:span, pluralize(estimate.size, 'years'), class: 't-calculator-years') %>:</p>

<table>
  <caption class="visuallyhidden">Estimated pot growth</caption>
  <thead>
  <tr>
    <th>Years left untouched</th>
    <th>Amount in your pot</th>
  </tr>
  </thead>
  <tbody>
  <% estimate.each_with_index do |value, year| %>
    <tr>
      <td><%= year + 1 %></td>
      <td class="t-calculator-future-pot-size"><%= number_to_currency(value) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<ul class="t-calculator-notes">
  <li>
    This is an estimate based on your whole pot growing at a rate of about
    <%= number_to_percentage(LeavePotUntouchedCalculator::INTEREST_RATE * 100) %>
    per year — this may vary.
  </li>
  <li>
    The amount in your pot will be affected by inflation and any fees your provider charges.
  </li>
  <li>
    You must leave your whole pot — you can't take just the 25% tax-free lump sum.
  </li>
</ul>
