<% content_for(:page_title, t('service.title', page_title: t('.document_title'))) %>
<% content_for(:search_global, true) %>

<h1 class="heading-search-results">
  <%= t('.page_title_html') %>
</h1>

<%= render 'form' %>
