<p>This table show how your pension pot could grow over time.</p>

<table class="result-table">
  <thead>
  <tr>
    <th scope="col">Years of growth</th>
    <th scope="col">Pot size</th>
  </tr>
  </thead>
  <tbody>
  <% @pot_growth.each_with_index do |pot, index| %>
    <tr class="<%= 'visuallyhidden' if index > 4 %>">
      <td scope="row"><%= index + 1%></td>
      <td><%= number_to_currency(pot, unit: '£') %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<p><button class="btn-link"> + Show more</button></p>

<p>Our estimate is based on the following assumptions:</p>
<ul>
  <li>Your pension pot grows at 3% per year</li>
  <li>Your provider charges an administration fee of 1% per year</li>
  <li>UK inflation is 1%</li>
</ul>

<p>If you receive <a href="https://www.gov.uk/tax-on-your-private-pension/pension-tax-relief">tax relief</a>
  on your contributions your growth will be higher.</p>
