<a class="link-back" href="/leave-pot-untouched">Back</a>

<div class="calculator">
  <h2>Estimate how much your pot could be worth in the future</h2>

  <form action="/leave-pot-untouched/results" method="get">
    <div class="form-group">
      <label class="form-label" for="pot">
        Total value of your pension pot(s)
      </label>
      <span class="input-label" id="saving-label">£</span>
      <input aria-describedby="pot-label" type="text" id="pot" name="pot" value="<%= @pot %>">
    </div>

    <div class="form-group">
      <label class="form-label" for="saving">
        Pension contribution per month
      </label>
      <span class="input-label" id="saving-label">£</span>
      <input aria-describedby="saving-label" type="text" id="saving" name="saving" value="<%= @saving %>">
    </div>

    <div class="form-group">
      <label class="form-label" for="duration">
        Years of growth
      </label>
      <input type="text" id="duration" name="duration" value="<%= @duration %>">
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Calculate" id="btn-calculate-untouched">
    </div>
  </form>

  <%= render partial: 'results' %>

</div>
