---
http_interactions:
- request:
    method: get
    uri: https://api.postcodes.io/postcodes/BT73AP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2a9-HgDhl4N5wBUnx5tR2F28IA"
      X-Gnu:
      - Michael J Blanchard
    body:
      encoding: ASCII-8BIT
      string: '{"status":200,"result":{"postcode":"BT7 3AP","quality":1,"eastings":334475,"northings":372070,"country":"Northern
        Ireland","nhs_ha":"Health & Social Care Board","longitude":-5.92103307128071,"latitude":54.5790132673042,"parliamentary_constituency":"Belfast
        South","european_electoral_region":"Northern Ireland","primary_care_trust":"Belfast","region":null,"lsoa":"Ballynafeigh
        3","msoa":null,"incode":"3AP","outcode":"BT7","admin_district":"Belfast","parish":null,"admin_county":null,"admin_ward":"Ormeau","ccg":"Belfast","nuts":"Belfast","codes":{"admin_district":"N09000003","admin_county":"N99999999","admin_ward":"N08000342","parish":"N99999999","ccg":"ZC010","nuts":"UKN01"}}}'
  recorded_at: Mon, 30 Jan 2017 16:04:12 GMT
- request:
    method: get
    uri: https://api.postcodes.io/postcodes/BT73AP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2a9-HgDhl4N5wBUnx5tR2F28IA"
      X-Gnu:
      - Michael J Blanchard
    body:
      encoding: ASCII-8BIT
      string: '{"status":200,"result":{"postcode":"BT7 3AP","quality":1,"eastings":334475,"northings":372070,"country":"Northern
        Ireland","nhs_ha":"Health & Social Care Board","longitude":-5.92103307128071,"latitude":54.5790132673042,"parliamentary_constituency":"Belfast
        South","european_electoral_region":"Northern Ireland","primary_care_trust":"Belfast","region":null,"lsoa":"Ballynafeigh
        3","msoa":null,"incode":"3AP","outcode":"BT7","admin_district":"Belfast","parish":null,"admin_county":null,"admin_ward":"Ormeau","ccg":"Belfast","nuts":"Belfast","codes":{"admin_district":"N09000003","admin_county":"N99999999","admin_ward":"N08000342","parish":"N99999999","ccg":"ZC010","nuts":"UKN01"}}}'
  recorded_at: Mon, 30 Jan 2017 16:04:13 GMT
recorded_with: VCR 3.0.3
