.l-home {
  padding-bottom: 16px;
}

// .l-home-row--accent {
//   background-image: radial-gradient(ellipse at center, $color-blue-background-light 0%, $color-blue-background-dark 100%);
// }

.l-home-row-accent__content {
  position: relative;

  // @include media(desktop) {
  //   background-image: none;
  // }
}

.l-home-single-column-heading {
  margin-bottom: 0;
}

.l-home-single-column-subheading {
  @include bold-27();
}

.l-home-row-accent__column,
.l-home-row-callout__column {
  @include media(tablet) {
    @include grid-column(1/2);
  }
}

.l-home-central-column {
  @include media(tablet) {
    border-left: 1px solid $color-grey-hit;
    border-right: 1px solid $color-grey-hit;
  }
}

.l-home-right-column {
  margin-top: 20px;

  @include media(tablet) {
    border-left: 1px solid $color-grey-hit;
    margin-top: 0;
  }
}
