<div class="l-home-header">
  <header class="header">
    <h1 class="header__title">The Pension Guidance Service</h1>
    <p class="header__tagline">Your money, your retirement</p>
  </header>
</div>
