<p>
  <%= t('.summary.html', pot_value: number_to_currency(pot),
                         estimate: number_to_currency(estimate[:tax_free_lump_sum]),
                         income: number_to_currency(estimate[:income])) %>
</p>

<ul class="t-calculator-notes">
  <%= t('.notes.html') %>
</ul>
