<article class="text">
  <h1>What you can do with your pension pot</h1>

  <div class="summary">
    <p>
      If you’re unsure how much you’ve got in your whole pension pot, or how
      many pots you’ve paid into,
      there are different ways to find out.
    </p>
  </div>

  <p>
    The pension you get from the government is called the State Pension.
    You get it when you reach
    <a rel="external" href="https://www.gov.uk//calculate-state-pension">State
      Pension age</a>.
  </p>

  <ul>
    <li>the amount you’ve paid in</li>
    <li>the length of time the money’s invested</li>
    <li>how well the pension fund’s investments have done</li>
  </ul>

  <p>
    You may have paid into more than one pension pot. You’ll need to contact
    each
    pension provider to find out the value of each one.
  </p>

  <div class="application-notice info-notice">
    <p>
      You’ll probably need to know the total value of your pension pot if you
      want
      to <a href="/appointments">talk to an expert</a> or get useful help on
      what to do with it.
    </p>
  </div>

  <h2>Take your whole pot as cash</h2>

  <p>
    You can take 25% of your whole pension pot tax-free.
    After that you have to <a href="/tax-on-your-pension/1">pay Income Tax</a>.
  </p>

  <div class="application-notice help-notice">
    <p>Taking a large sum of cash from your pension pot can bump you into a
      higher tax rate.</p>
  </div>

  <h2>Mix your pension options</h2>

  <p>
    You can mix your pension options. You can do this at different times in your
    retirement.
    For example, you can take some cash from your pot first and buy an
    <span class="tooltip" title="Gives you a regular income in your retirement">annuity</span>
    later.
  </p>

  <div class="example">
    <p><strong>Example: mixing your options</strong></p>

    <p>You could mix these options at different points in your retirement.</p>

    <p>Your pension pot is £60,000. You decide to take 25% as tax-free cash =
      £15,000.</p>

    <p>You then use £20,000 to buy an annuity. This will give you an income for
      the rest of your life of about £900 a year.</p>

    <p>You leave £25,000 invested and take out about £5,000 a year for about 5
      years.</p>
  </div>

  <h2>How much tax you pay</h2>

  <p>
    Your Income Tax for the year depends on your
    <a rel="external" href="http://www.gov.uk/income-tax-rates">tax rate</a>
    and tax-free
    <a rel="external" href="http://www.gov.uk/income-tax-rates/personal-allowances">Personal
      Allowance</a>
    that everyone gets.
  </p>

  <h2 id="calculating-your-income-tax">Calculating your Income Tax</h2>

  <p>To figure out how much tax you’ll pay do the following:</p>

  <ol class="steps">
    <li>
      <p>Take the 25% you get tax free away from your pension pot.</p>
    </li>
    <li>
      <p>Add your other income to the amount of the remaining 75% from your
        pension pot.</p>
    </li>
    <li>
      <p>Take your
        <a rel="external" href="http://www.gov.uk/income-tax-rates/personal-allowances">tax-free
          Personal Allowance</a> away from this amount.</p>
    </li>
    <li>
      <p>Check your
        <a rel="external" href="http://www.gov.uk/income-tax-rates/income-tax-rates">tax
          rate</a> to calculate how much tax you’ll pay for the year.</p>
    </li>
  </ol>
  <div class="example">
    <p><strong>Example:</strong>
      You’ve decided to take your whole pot of £60,000 as cash.<br>
      You also work part-time and make £7,000 a year.</p>

    <h3 id="add-up-all-your-income">1. Take 25% away from your pension pot</h3>

    <p>25% of £60,000 is £15,000</p>

    <p>This leaves £45,000</p>

    <h3 id="work-out-your-tax-free-allowances">2. Add your other income</h3>

    <p>£45,000 plus £7,000 = £52,000</p>

  </div>

  <h2 id="upcoming-bank-holidays-in-england-and-wales">Upcoming bank holidays in
    England and Wales</h2>
  <table class="calendar">
    <thead>
    <tr>
      <th colspan="3" aria-labelledby="upcoming-bank-holidays-in-england-and-wales">2014</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="calendar_date">25 December</td>
      <td class="calendar_day">Thursday</td>
      <td class="calendar_title">Christmas Day</td>
    </tr>
    <tr>
      <td class="calendar_date">26 December</td>
      <td class="calendar_day">Friday</td>
      <td class="calendar_title">Boxing Day</td>
    </tr>
    </tbody>
  </table>

</article>
