<article class="text">
  <h1>An example article</h1>
  <div class="summary">
    <p>Pregnant employees have legal rights - including paid time off for antenatal care, maternity leave and maternity pay.</p>
  </div>

  <p>Pregnant employees have 4 key rights:</p>

  <ul>
    <li>paid time off for antenatal care  </li>
    <li>maternity leave </li>
    <li>maternity pay </li>
    <li>protection against unfair treatment, discrimination or dismissal</li>
  </ul>
  <p>‘Antenatal care’ isn’t just medical appointments - it can also include antenatal or parenting classes if they’ve been recommended by a doctor or midwife.</p>

  <p>Employers can’t change a pregnant employee’s contract terms and conditions without agreement - if they do they are in breach of contract.</p>

  <div class="application-notice info-notice">
    <p>It’s illegal for employers to refuse to give pregnant employees time off for antenatal care or refuse to pay their normal rate for this time off, but fathers don’t have a legal right to time off to accompany their partners.</p>
  </div>

  <h2>Pregnancy-related illnesses</h2>
  <p>If the employee is off work for a pregnancy-related illness in the 4 weeks before the baby is due, maternity leave and Statutory Maternity Pay will start automatically - it doesn’t matter what has been previously agreed.</p>

  <h2>Compulsory maternity leave</h2>
  <p>If the employee isn’t taking Statutory Maternity Leave, they must take 2 weeks off after the baby is born - or 4 weeks if they work in a factory.</p>

  <h2>Telling the employer about the pregnancy</h2>

  <p>Employees must tell their employer about the pregnancy at least 15 weeks before the beginning of the week the baby is due. </p>

  <p>If this isn’t possible - eg because they didn’t know they were pregnant - the employer must be told as soon as possible. </p>

  <p>Employees must also tell the employer when they want to start their <a href="/maternity-leave" title="Statutory Maternity Leave">Statutory Maternity Leave</a> and <a href="/statutory-maternity-pay" title="Statutory Maternity Pay">Pay</a>. </p>

  <div class="application-notice info-notice">
    <p>Employees can’t take time off for antenatal appointments until they’ve told the employer about the pregnancy.</p>
  </div>

  <h2>Health and safety for pregnant employees</h2>

  <p>When the employee tells their employer they’re pregnant, the employer should assess the risks to the woman and her baby. </p>

  <p>Risks could be caused by:</p>

  <ul>
    <li>heavy lifting or carrying</li>
    <li>standing or sitting for long periods without adequate breaks</li>
    <li>exposure to toxic substances</li>
    <li>long working hours</li>
  </ul>
  <p>Where there are risks, the employer should take reasonable steps to remove them - eg, by offering the employee different work or changing their hours.</p>

  <p>If the employer can’t remove any risks (eg by offering suitable alternative work) they should <a href="/expenses-and-benefits-medical-suspension-payments" title="suspension from work for medical reasons">suspend the employee on full pay</a>.</p>

  <div class="application-notice info-notice">
    <p>For <a rel="external" href="http://www.hse.gov.uk/contact/faqs/pregnancy.htm" title="Read the regulations about pregnant workers and risk assessment">full details about the regulations</a> see the Health &amp; Safety Executive website.</p>
  </div>

  <p>Pregnant employees who think they’re at risk but their employer disagrees should talk to their health and safety or trade union representative. If your employer still refuses to do anything, talk to your doctor or contact the <a rel="external" href="http://www.hse.gov.uk/contact/index.htm" title="Contact the Health and Safety Executive">Health and Safety Executive.</a></p>

</article>
