<article>
  <h1>Article Demo</h1>
  <p>Ut sed finibus justo. Nunc gravida lorem et mattis sagittis. Etiam dictum
    massa eget purus facilisis, non venenatis lectus consectetur. In at mollis
    justo. Donec blandit et justo non gravida. Duis congue mi nisl, eu ultrices
    magna tempus eu. Duis sodales auctor ligula vitae elementum.</p>

  <ul>
    <li>Ut sed finibus justo</li>
    <li>Nunc gravida lorem et mattis sagittis</li>
    <li>Etiam dictum massa eget purus facilisis</li>
  </ul>


  <div class="application-notice info-notice">
    <p>This is an information callout</p>
  </div>

  <p>Ut sed finibus justo. Nunc gravida lorem et mattis sagittis. Etiam dictum
    massa eget purus facilisis, non venenatis lectus consectetur. In at mollis
    justo. Donec blandit et justo non gravida. Duis congue mi nisl, eu ultrices
    magna tempus eu. Duis sodales auctor ligula vitae elementum.</p>

  <h2>2nd level Heading</h2>

  <p>Ut sed finibus justo. Nunc gravida lorem et mattis sagittis. Etiam dictum
    massa eget purus facilisis, non venenatis lectus consectetur. In at mollis
    justo. Donec blandit et justo non gravida. Duis congue mi nisl, eu ultrices
    magna tempus eu. Duis sodales auctor ligula vitae elementum.</p>

  <ol>
    <li>Ut sed finibus justo</li>
    <li>Nunc gravida lorem et mattis sagittis</li>
    <li>Etiam dictum massa eget purus facilisis</li>
  </ol>

  <p>Ut sed finibus justo. Nunc gravida lorem et mattis sagittis. Etiam dictum
    massa eget purus facilisis, non venenatis lectus consectetur. In at mollis
    justo. Donec blandit et justo non gravida. Duis congue mi nisl, eu ultrices
    magna tempus eu. Duis sodales auctor ligula vitae elementum.</p>

  <div class="application-notice help-notice">
    <p>This is a warning callout</p>
  </div>


  <h3>3rd level Heading</h3>

  <p>Ut sed finibus justo. Nunc gravida lorem et mattis sagittis. Etiam dictum
    massa eget purus facilisis, non venenatis lectus consectetur. In at mollis
    justo. Donec blandit et justo non gravida. Duis congue mi nisl, eu ultrices
    magna tempus eu. Duis sodales auctor ligula vitae elementum.</p>

  <div class="example">
    <p><strong>Example:</strong> Open the pod bay doors</p>
  </div>

  <p>Ut sed finibus justo. Nunc gravida lorem et mattis sagittis. Etiam dictum
    massa eget purus facilisis, non venenatis lectus consectetur. In at mollis
    justo. Donec blandit et justo non gravida. Duis congue mi nisl, eu ultrices
    magna tempus eu. Duis sodales auctor ligula vitae elementum.</p>

  <div class="form-download">
    <p><a href="http://example.com/" title="Example form" rel="external">An example form download link.</a></p>
  </div>

  <h2>2nd level Heading</h2>

  <h3>3rd level Heading</h3>

  <h3 class="advisory">
    <span>This is a very important message or warning</span>
  </h3>


  <div class="highlight-answer">
    <p>The standard VAT rate is <em>20%</em></p>
  </div>

  <div class="contact">
    <p><strong>Student Finance England</strong><br>
      <strong>Telephone:</strong> 0845 300 50 90<br>
      <strong>Minicom:</strong> 0845 604 44 34</p>
  </div>

  <div class="address">
    <div class="adr org fn">
      <p>
        Hercules House<br>
        Hercules Road<br>
        London SE1 7DU<br>
      </p>
    </div>
  </div>

</article>
