<% content_for(:page_title, t('styleguide.title', page_title: 'Components')) %>

<h1>Component Library</h1>

<h2>Beta banner</h2>
<%= render 'partials/phase_banner' %>

<h2>Breadcumbs</h2>
<%= render 'styleguide/partials/breadcrumbs' %>

<h2>Header</h2>
<%= render 'partials/header' %>

<h2>Link promo</h2>
<%= render 'styleguide/partials/link_promo' %>
