<h1>Component Library</h1>

<h2>Beta banner</h2>
<%= render 'partials/phase_banner' %>

<h2>Breadcumbs</h2>
<%= render 'partials/breadcrumbs' %>

<h2>Link promo</h2>
<%= render 'styleguide/partials/link_promo' %>
