<% content_for(:page_title, 'Style guide: Homepage - The Pension Guidance Service') %>

<h1>Style guide</h1>

<h2>Demo pages</h2>
<ul>
  <li><a href="/styleguide/base">Base styles</a> - default styles for html elements</li>
  <li><a href="/styleguide/govspeak">Govspeak components</a> - typography components generated from govspeak</li>
  <li><a href="/styleguide/article">Artice Page</a> - an example article with combination of all elements and components</li>
  <li><a href="/styleguide/layout">Layout</a> - grids/columns</li>
  <li><a href="/styleguide/components">Component Library</a> - beta banner, bread crumb, etc</li>
  <li><a href="/styleguide/govuk-elements">GOV.UK elements</a> - typography, layout, forms, buttons and data</li>
</ul>
