<% content_for(:page_title, t('styleguide.title', page_title: 'Homepage')) %>

<h1>Style guide</h1>

<h2>Building blocks</h2>
<ul>
  <li><a href="/styleguide/base">Base styles</a> - default styles for html elements</li>
  <li><a href="/styleguide/forms">Forms</a> - form elements including errors and validation</li>
  <li><a href="/styleguide/govspeak">Govspeak components</a> - typography components generated from govspeak</li>
  <li><a href="/styleguide/components">Service components</a> - beta banner, bread crumb, etc</li>
  <li><a href="/styleguide/govuk_elements">GOV.UK elements</a> - reusable typography, buttons, forms</li>
  <li><a href="/styleguide/layout">Layout</a> - grids/columns</li>
</ul>

<h2>Pages</h2>
<ul>
  <li><a href="/styleguide/pages/homepage">Homepage</a> - beta launch</li>
  <li><a href="/styleguide/pages/guide">Guide Page</a> - an example guide with combination of all elements and
    components</li>
  <li><a href="/styleguide/pages/journey-index">Journey Index</a></li>
  <li><a href="/styleguide/pages/journey-page">Journey Page</a></li>
  <li><a href="/styleguide/pages/locations-search">Locations search</a></li>
  <li><a href="/styleguide/pages/locations-index">Locations index</a></li>
  <li><a href="/styleguide/pages/locations-invalid">Locations invalid</a></li>
  <li><a href="/styleguide/pages/locations-show">Location</a></li>
  <li><a href="/styleguide/pages/locations-show-call-centre">Location with call centre</a></li>
  <li><a href="/styleguide/pages/appointment-details">Appointment details</a> - form</li>
</ul>
