<% content_for(:page_title, 'Style guide: Layout - The Pension Guidance Service') %>

<h1>Layout</h1>


<div class="l-grid-row">
  <div class="l-column-two-thirds">
    <h3 class="heading-small">Two thirds</h3>
    <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus.
      Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
  </div>
  <div class="l-column-third">
    <h3 class="heading-small">One third</h3>
    <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus.
      Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
  </div>
</div>

<div class="l-grid-row">
  <div class="l-column-half">
    <h3 class="heading-small">Half</h3>
    <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus.
      Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
  </div>
  <div class="l-column-half">
    <h3 class="heading-small">Half</h3>
    <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus.
      Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
  </div>
</div>

<div class="l-grid-row">
  <div class="l-column-third">
    <h3 class="heading-small">Third</h3>
    <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus.
      Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
  </div>
  <div class="l-column-third">
    <h3 class="heading-small">Third</h3>
    <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus.
      Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
  </div>
  <div class="l-column-third">
    <h3 class="heading-small">Third</h3>
    <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus.
      Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
  </div>
</div>

<div class="l-grid-row">
  <div class="l-column-quarter">
    <h3 class="heading-small">Quarter</h3>
    <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus.
      Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
  </div>
  <div class="l-column-quarter">
    <h3 class="heading-small">Quarter</h3>
    <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus.
      Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
  </div>
  <div class="l-column-quarter">
    <h3 class="heading-small">Quarter</h3>
    <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus.
      Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
  </div>
  <div class="l-column-quarter">
    <h3 class="heading-small">Quarter</h3>
    <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus.
      Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
  </div>
</div>
