table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1em 0 2em;
  width: 100%;
}

caption {
  @include bold-24;
  margin: .4em .5em .4em 0;
  text-align: left;
}

th,
td {
  @include core-14;
  vertical-align: top;
  padding: .7em .5em .7em 0;
  border-bottom: solid 1px $border-colour;
}

th {
  line-height: 1.25em;
  text-align: left;
  font-weight: 700;
}
