body {
  @include core-19;
  -webkit-font-smoothing: antialiased;
}

b,
strong {
  font-weight: bold;
}


small {
  @include core-16;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}
