body {
  @include core-19;
  -webkit-font-smoothing: antialiased;
}

b,
strong {
  font-weight: bold;
}


small {
  @include core-16;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

hr {
  border-color: $color-hr-blue;
  border-style: solid;
  border-top-width: 3px;
  border-bottom-width: 0;
}

blockquote {
  background: $color-blockquote-bg;
  border-left: 10px solid $color-blockquote-border;
  margin: 1.5em 0;
  padding: .5em 10px;
}
