<% content_for(:page_title, t('service.homepage.title')) %>
<% content_for(:meta_description, 'A free and impartial government service that helps you understand ' +
  'the options for your pension pot.') %>

<style>
  .player-container {
    display: block;
    overflow: hidden;
    margin: 30px 0
  }

  .player-container.player-wide {
    min-width: 580px
  }

  .player-container span {
    display: block;
    margin: 0 !important;
    padding: 0
  }

  .player-container .video {
    position: relative;
    z-index: 3000
  }

  .player-container .video iframe {
    display: block
  }

  .player-container .logo {
    display: none
  }

  .player-container .control-bar {
    position: relative;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #bfc1c3
  }

  .player-container .control-bar button {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer
  }

  .player-container .control-bar a:focus,.player-container .control-bar button:focus {
    background-color: #ffbf47;
    outline: none
  }

  .player-container .control-bar .player-controls .play,.player-container .control-bar .player-controls .pause {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 40px;
    overflow: hidden;
    text-indent: -5000%;
    background-repeat: no-repeat;
    background-position: center left
  }

  .player-container .control-bar .player-controls .play {
    background-image: url(https://assets.publishing.service.gov.uk/frontend/player-icon-play-5f23ea564bd748ccc9c6e524d5ffbeda9bf8a22d46a8a9c0a4ef8656b017203c.png)
  }

  .player-container .control-bar .player-controls .pause {
    background-image: url(https://assets.publishing.service.gov.uk/frontend/player-icon-pause-0b5610c829c02671ca50e892d91f0174edba49ee46b646552a8584f6eb6c9657.png)
  }

  .player-container .control-bar .player-controls .rewind,.player-container .control-bar .player-controls .forward {
    position: absolute;
    top: 0;
    z-index: 30;
    height: 20px;
    width: 40px;
    overflow: hidden;
    text-indent: -5000%;
    background-repeat: no-repeat;
    background-position: center left
  }

  .player-container .control-bar .player-controls .rewind {
    left: 0;
    background-image: url(https://assets.publishing.service.gov.uk/frontend/player-icon-rewind-f6c25d30d21e8b1179a965bf0ccb7c8741bf89a2c084e3a5d1c9b9eb0e6ee729.png)
  }

  .player-container .control-bar .player-controls .forward {
    left: 100%;
    margin-left: -40px;
    background-image: url(https://assets.publishing.service.gov.uk/frontend/player-icon-forward-2b7a0f97a46fdd5cf8b530c404d550dfb49d7f06c61956fc01e7dcff832f9af6.png)
  }

  .player-container .control-bar .volume-controls {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 40px;
    width: 180px;
    overflow: visible
  }

  .player-container .control-bar .volume-controls .mute {
    position: absolute;
    bottom: 0;
    left: 120px;
    height: 40px;
    width: 50px;
    padding-top: 1px;
    font-size: 14px;
    line-height: 40px;
    text-align: center
  }

  .player-container .control-bar .volume-controls .muted {
    color: #2b8cc4
  }

  .player-container .control-bar .volume-controls .muted ~ * {
    opacity: 0.333
  }

  .player-container .control-bar .volume-controls .muted ~ .vol-display {
    text-decoration: line-through
  }

  .player-container .control-bar .volume-controls .muted::after {
    content: "d"
  }

  .player-container .control-bar .volume-controls .vol-down,.player-container .control-bar .volume-controls .vol-up {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 60px;
    padding-top: 2px;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    z-index: 10
  }

  .player-container .control-bar .volume-controls .vol-down:hover,.player-container .control-bar .volume-controls .vol-down:focus,.player-container .control-bar .volume-controls .vol-up:hover,.player-container .control-bar .volume-controls .vol-up:focus {
    color: #2b8cc4
  }

  .player-container .control-bar .volume-controls .vol-down {
    text-align: left;
    padding-left: 10px;
    left: 0
  }

  .player-container .control-bar .volume-controls .vol-up {
    text-align: right;
    padding-right: 10px;
    left: 60px
  }

  .player-container .control-bar .volume-controls .vol-display {
    position: absolute;
    bottom: 0;
    left: 20px;
    height: 40px;
    width: 0;
    padding-left: 35px;
    overflow: visible;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    background-repeat: no-repeat;
    background-position: center left;
    background-image: url(https://assets.publishing.service.gov.uk/frontend/player-icon-volume-5e2b2e02188f3c1065656dae9e64d80fb21de5c2455751cb91d4814862394f17.png)
  }

  .player-container .control-bar .current-time {
    position: absolute;
    bottom: 0;
    left: 50px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    font-weight: bold
  }

  .player-container .control-bar .duration-time {
    display: none;
    position: absolute;
    bottom: 0;
    right: 10px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold
  }

  .player-container .control-bar .ui-slider {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 20px;
    overflow: hidden;
    background: #bfc1c3
  }

  .player-container .control-bar .ui-slider .progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding-bottom: 1px;
    background: #2b8cc4
  }

  .player-container .control-bar .ui-slider .ui-slider-handle {
    position: absolute;
    top: 0;
    height: 100%;
    padding-bottom: 1px;
    width: 20px;
    color: rgba(0,0,0,0.5);
    z-index: 10
  }

  .player-container .ui-helper-hidden-accessible {
    position: absolute;
    left: -5000%
  }

</style>

<% content_for(:page_nav) do %>
  <div class="l-page-nav">
    <div class="nav">
      <div class="nav__mobile">
        <a href="#" class="nav__mobile-link js-nav-toggler">Menu</a>
      </div>

      <ul class="nav__list js-nav">
        <li class="nav__item">
          <a class="nav__item-label" href="#welcome-to-pensionwise">Welcome to Pension Wise</a>
        </li>
        <li class="nav__item">
          <a class="nav__item-label" href="#book-an-appointment">Book an Appointment</a>
        </li>
        <li class="nav__item nav__item--single">
          <a class="nav__item-label" href="#what-to-expect">What to expect</a>
        </li>
      </ul>
    </div>
  </div>
<% end %>

<% content_for(:after_script) do %>
  <%= javascript_include_tag 'video-player' %>
<%   end %>

<div class="home-intro l-page-container">
  <p class="home-intro__text">Phone <b>0800 138 3944</b> to <a href="/appointments">book a free appointment</a></p>
</div>

<div id="welcome-to-pensionwise" class="l-grid-row l-home-row l-home-row--accent">
  <div class="l-page-container l-home-row-accent__content">
    <div class="l-home-row-accent__column">
      <h1 class="l-home-single-column-heading">Welcome to Pension Wise</h1>
      <p>Free and impartial pension guidance from the government.</p>
    </div>
  </div>
</div>

<div id="book-an-appointment" class="l-grid-row l-home-row">
  <div class="l-page-container">
    <div class="l-column-half">
      <h2>Book a free appointment</h2>
      <p>Find out about the different ways you can take your pension money, from getting a guaranteed income to taking your whole pot as cash.</p>
      <p>Speak to us over the phone or in person somewhere local to you.</p>
      <p>Pension Wise is free and impartial – we don’t recommend products or companies and won’t tell you how to invest your money.</p>
      <p><a href="/appointments" class="button">Book a free appointment</a></p>
    </div>
    <div class="l-column-half">
      <h2>What is an appointment?</h2>
      <div class="youtube-video" >
        <% video_id = '-YvBOX_7HRY' %>
        <div class="youtube-video--video">
          <a href="https://www.youtube.com/watch?v=<%= video_id %>">Watch our video about GOV.UK</a>
        </div>
        <div class="youtube-video--transcript">
          <p>
            <a href="#main-transcript" class="visuallyhidden video-transcript-toggle">View video transcript</a>
          </p>
          <div class="video-transcript" id="main-transcript" style="display: none">
            <p>Sarah: GOV.UK is a new website, it's the best place to find government services and information.</p>
            <p>Mike: GOV.UK makes it simpler, clearer and faster for people to get what they need from government.</p>
            <p>S: It's got some step-by-step guides for things like employing new staff, which can make some complicated processes much easier to understand.</p>
            <p>M: You can work out things like maternity pay with the help of some very simple tools.</p>
            <p>S: And for things like Bank Holidays, we put the information most people are looking for right in the middle of the page.</p>
            <p>M: GOV.UK. It's simpler, clearer and faster. Have a look at www.gov.uk.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="what-to-expect" class="l-grid-row l-home-row">
  <div class="l-page-container ">
    <div class="l-column-half">
      <div style="text-align: center;font-size:30px;border: solid black 4px; padding: 200px 0; margin: 40px 0">Picture goes here</div>
    </div>
    <div class="l-column-half">
      <h2>What to expect</h2>

      <p>An appointment is a conversation with a pensions specialist, over the phone or face to face.</p>
      <p>We’ll talk about the options you have for taking your personal or workplace pension money. These include getting a guaranteed income (annuity), taking small sums of cash or taking your whole pot in one go. We also explain what you could pay in tax and give you next steps to take.</p>
      <p>Appointments last around 45 to 60 minutes. Afterwards you get a written summary of what was discussed.</p>
      <div role="note" aria-label="Information" class="application-notice info-notice">
        <p>For guidance on the State Pension or defined benefit (final salary or career average) pensions speak to The Pensions Advisory Service.</a>.</p>
      </div>

    </div>
  </div>
</div>


<div id="what-to-expect" class="l-grid-row l-home-row l-home-row--callout">
  <div class="l-page-container l-home-row-callout__content">
    <div class="l-home-row-callout__column">
      <h2 class="l-home-single-column-subheading">About Pension Wise</h2>
      <p>Pension Wise is a free government service that helps you understand what you can do with your pension money from the age of 55.</p>
      <p>We were set up in 2015 after changes were made to pensions giving people more choice over what they could do with their money.</p>
    </div>
  </div>
</div>
