<% content_for(:page_title, t('service.homepage.title')) %>
<% content_for(:meta_description, 'A free and impartial government service that helps you understand ' +
  'the options for your pension pot.') %>

<% content_for(:page_nav) do %>
  <div class="l-page-nav">
    <div class="nav">
      <div class="nav__mobile">
        <a href="#" class="nav__mobile-link js-nav-toggler">Menu</a>
      </div>

      <ul class="nav__list js-nav">
        <li class="nav__item">
          <a class="nav__item-label" href="#book-an-appointment">Book a free Appointment</a>
        </li>
        <li class="nav__item nav__item--single">
          <a class="nav__item-label" href="#what-to-expect">What to expect</a>
        </li>
        <li class="nav__item">
          <a class="nav__item-label" href="#about-pensionwise">About Pension Wise</a>
        </li>
      </ul>
    </div>
  </div>
<% end %>

<% content_for(:after_script) do %>
  <%= javascript_include_tag 'video-player' %>
<%   end %>

<div class="home-intro l-page-container">
  <p class="home-intro__text">Phone <b>0800 138 3375</b> to <a href="/appointments">book a free appointment</a></p>
</div>

<div class="l-grid-row l-home-row l-home-row--accent">
  <div class="l-page-container l-home-row-accent__content">
    <div class="l-home-row-accent__column">
      <h1 class="l-home-single-column-heading">Welcome to Pension Wise</h1>
      <p>Free and impartial pension guidance from the government.</p>
    </div>
  </div>
</div>

<div id="book-an-appointment" class="l-grid-row l-home-row">
  <div class="l-page-container">
    <div class="l-column-half">
      <h2 class="l-home-single-column-subheading">Book a free appointment</h2>
      <p>Find out about how you can take your pension money, from getting a regular income to taking your whole pot as cash.</p>
      <p>Speak to us over the phone or in person somewhere local to you.</p>
      <p>Pension Wise is free and impartial – we don’t recommend products or companies and won’t tell you how to invest your money.</p>
      <p><a href="/appointments" class="button">Book a free appointment</a></p>
    </div>
    <div class="l-column-half">
      <h2 class="l-home-single-column-subheading">What is an appointment?</h2>
      <div class="youtube-video" >
        <% video_id = '-YvBOX_7HRY' %>
        <div class="youtube-video--video">
          <a href="https://www.youtube.com/watch?v=<%= video_id %>">Watch our video about GOV.UK</a>
        </div>
        <div class="youtube-video--transcript">
          <p>
            <a href="#main-transcript" class="visuallyhidden video-transcript-toggle">View video transcript</a>
          </p>
          <div class="video-transcript" id="main-transcript" style="display: none">
            <p>Sarah: GOV.UK is a new website, it's the best place to find government services and information.</p>
            <p>Mike: GOV.UK makes it simpler, clearer and faster for people to get what they need from government.</p>
            <p>S: It's got some step-by-step guides for things like employing new staff, which can make some complicated processes much easier to understand.</p>
            <p>M: You can work out things like maternity pay with the help of some very simple tools.</p>
            <p>S: And for things like Bank Holidays, we put the information most people are looking for right in the middle of the page.</p>
            <p>M: GOV.UK. It's simpler, clearer and faster. Have a look at www.gov.uk.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="what-to-expect" class="l-grid-row l-home-row">
  <div class="l-page-container ">
    <div class="l-column-half">
      <div style="text-align: center;font-size:30px;border: solid black 4px; padding: 200px 0; margin: 40px 0">Picture goes here</div>
    </div>
    <div class="l-column-half">
      <h2 class="l-home-single-column-subheading">What to expect in an appointment</h2>

      <p>An appointment is a 45 to 60 minute conversation with a pensions specialist.</p>
      <p>We’ll talk through your options for taking your personal or workplace pension money. We’ll also explain tax and give you next steps to take.</p>
      <p>You’ll also get a written summary of your appointment.</p>
      <div role="note" aria-label="Information" class="application-notice info-notice">
        <p>For guidance on the State Pension or defined benefit (final salary or career average) pensions speak to The Pensions Advisory Service.</p>
      </div>

    </div>
  </div>
</div>


<div id="about-pensionwise" class="l-grid-row l-home-row l-home-row--callout">
  <div class="l-page-container l-home-row-callout__content">
    <div class="l-home-row-callout__column">
      <h2 class="l-home-single-column-subheading">About Pension Wise</h2>
      <p>Pension Wise is a free and impartial government service.</p>
      <p>We were set up in 2015 after changes to pension rules gave people more choice over what they could do with their money.</p>
      <p>We provide appointments through Citizens Advice and The Pensions Advisory Service over the phone and in person across the UK.</p>
    </div>
  </div>
</div>
