<% content_for(:page_title, t('service.homepage.title')) %>
<% content_for(:meta_description, 'A free and impartial government service that helps you understand ' +
  'the options for your pension pot.') %>
<% content_for(:body_classes, 'landing-page') %>

<% content_for(:after_script) do %>
  <%= javascript_include_tag 'video-player' %>
<% end %>

<% content_for(:page_nav) do %>

<% end %>

<div class="l-grid-row">
  <div class="l-landing-promo">
    <div class="l-page-container l-landing-promo__content">
      <div class="l-column-third">
        <a href="/"><svg version="1.1" class="landing-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 567.6 248.4" style="enable-background:new 0 0 567.6 248.4;" xml:space="preserve">
          <style type="text/css">
            .st0{fill:#FFFFFF;}
            .st1{fill:#5BC5F2;}
            .st2{fill:#95C11F;}
            .st3{fill:#009740;}
            .st4{fill:#F39200;}
            .st5{fill:#CC611D;}
            .st6{fill:#046734;}
          </style>
          <title>Pension Wise logo</title>
          <path id="_Compound_Path_" class="st0" d="M232.2,31.4c0,11.3-7.1,16.2-18.2,16.2H200V16.2h13.9C224.9,16.2,232.2,20.6,232.2,31.4
             M245.8,31.4c0-17.3-13.3-25.9-31.4-25.9H179v9.8h7.5v64.9H179V90h30.2v-9.8H200v-22h14.4C232.5,58.2,245.8,49.6,245.8,31.4
             M284.5,58.1h-29.2c1-8.1,6.9-13.4,15.2-13.4C279.2,44.8,284.2,50.6,284.5,58.1 M297.7,67c0.9-18-8.9-32.3-27.3-32.3
            c-16.1,0-28.2,12.1-28.2,28.2s10.8,28.1,29.6,28.1c11.1,0,17.4-3.6,22.5-8.6l-7.1-7.5c-4,4-9.4,6.2-15,6c-10,0-15.6-5.7-16.6-13.9
            L297.7,67z M338.3,89.9h26.4v-9.7H358V57.8c0-14.7-8.2-23.2-20-23.2c-8,0-14.9,4.1-18.2,11.2v-10H300v10h7.1v34.4h-7v9.7H327v-9.7
            h-6.9V60c0-9.4,5.5-14.5,13.8-14.5c7.5,0,11.2,4.5,11.2,12.9v21.9h-6.8L338.3,89.9z M381.2,49.5c0-3.9,3.6-5.7,7.9-5.7
            c5.1,0,9.6,2.3,11.6,7.5h8.4V35.8h-7.8l-1.1,4.2c-3.2-3.6-7.8-5.6-12.6-5.4c-10.1,0-18.2,6-18.2,16.1c0,11.1,7.9,14.7,17.6,17.4
            c8.7,2.3,12,3.3,12,7.7c0,3.9-3.7,5.9-9.5,5.9c-6.4,0-11.1-3.5-12.2-9.1h-9.1v17.2h7.9l0.9-4.8c2.8,3.3,7,5.9,14.5,5.9
            c13.7,0,19.9-7.6,19.9-16.7c0-9.8-6.5-14.2-19.4-17.5C384.1,54.8,381.1,53.2,381.2,49.5 M436.2,20.3c0.1-4.3-3.2-7.8-7.5-7.9
            c-0.1,0-0.2,0-0.4,0c-4.4-0.4-8.3,2.9-8.7,7.3c-0.4,4.4,2.9,8.3,7.3,8.7c0.5,0,0.9,0,1.4,0c4.3,0.1,7.8-3.3,7.8-7.6
            C436.3,20.6,436.3,20.5,436.2,20.3 M415.4,89.9h27v-9.7h-7V35.8h-20.1v10h7.3v34.4h-7.1L415.4,89.9z M487.7,63
            c0,10.3-6.1,17.9-15.7,17.9s-15.7-7.6-15.7-17.9s6.2-17.9,15.7-17.9S487.7,52.6,487.7,63 M501,63c0-16.2-12.6-28.3-29-28.3
            S443,46.8,443,63c0,16,12.8,27.9,29,27.9S501,78.9,501,63 M567,89.9v-9.7h-6.8V57.8c0-14.7-8.2-23.2-20-23.2
            c-8,0-14.9,4.1-18.2,11.2v-10h-19.8v10h7.1v34.4h-7v9.7h26.8v-9.7h-6.9V60c0-9.4,5.5-14.5,13.8-14.5c7.5,0,11.2,4.5,11.2,12.9v21.9
            h-6.8v9.7H567z"/>
          <path id="_Compound_Path_2" class="st0" d="M259.4,135h5.5v-10h-22.2v9.8h6.5l-6.2,19.8c-1.3,3.9-2.9,11.1-2.9,11.1
            c-0.7-3.7-1.6-7.3-2.8-10.8L226.4,125h-6.6l-11,29.5c-1.2,3.6-2.2,7.3-2.8,11.1c-0.3-0.9-1.5-7.7-2.6-10.8l-6.6-19.9h6.9V125H179v10
            h5.6l15.2,44h9.8l9.4-25.9c1.1-3,3.1-10,3.3-10.7c0.8,3.6,1.9,7.2,3.1,10.7l9.2,25.9h10.1L259.4,135z M289,109.5
            c0.1-4.3-3.2-7.8-7.5-7.9c-0.1,0-0.2,0-0.4,0c-4.4-0.4-8.3,2.9-8.7,7.3c-0.4,4.4,2.9,8.3,7.3,8.7c0.5,0,0.9,0,1.4,0
            c4.3,0.1,7.8-3.3,7.8-7.6C289,109.8,289,109.6,289,109.5 M268.1,179.1h27v-9.6h-7V125h-20.1v10h7.3v34.4h-7.1L268.1,179.1z
             M311.7,138.7c0-3.9,3.6-5.7,7.9-5.7c5.1,0,9.6,2.3,11.6,7.5h8.4V125h-7.8l-1.1,4.2c-3.2-3.6-7.8-5.6-12.6-5.4
            c-10.1,0-18.2,6.1-18.2,16.1c0,11.1,7.9,14.7,17.6,17.4c8.7,2.3,12,3.4,12,7.7c0,3.9-3.7,5.9-9.5,5.9c-6.4,0-11.1-3.5-12.2-9.1h-9.1
            v17.2h7.9l0.9-4.8c2.8,3.4,7,5.9,14.5,5.9c13.7,0,19.9-7.6,19.9-16.7c0-9.8-6.5-14.2-19.4-17.5C314.6,143.9,311.7,142.4,311.7,138.7
             M387.2,147.3H358c1-8.1,6.9-13.4,15.2-13.4C381.9,133.9,386.8,139.7,387.2,147.3 M373,123.8c-16.1,0-28.2,12.1-28.2,28.2
            s10.9,28.1,29.6,28.1c11.1,0,17.4-3.6,22.5-8.6l-7.1-7.5c-4,4-9.4,6.2-15.1,6.1c-10,0-15.6-5.7-16.6-13.9h42.2
            C401.2,138.1,391.4,123.8,373,123.8"/>
          <g id="_Group_">
            <path id="_Path_" class="st1" d="M80,0L45.4,34.8L56,45.5l15.3-15.4v53.6c3.3,2.9,6.3,6.3,8.7,9.9c2.5-3.7,5.4-7,8.7-9.9V30
              l15.4,15.6L114.7,35L80,0z"/>
            <path id="_Path_2" class="st2" d="M125.2,45.6l-10.5,10.6L130.3,72h-8.8c-12.8,0-23.9,3.8-32.8,11.7v38.7
              c0-18.6,14.4-32.7,32.8-32.7h8.8L114,106l10.5,10.5L160,80.7L125.2,45.6z"/>
            <path id="_Path_3" class="st3" d="M88.7,83.7c-3.3,2.9-6.2,6.3-8.7,9.9c5.7,8.5,8.7,18.5,8.7,28.7L88.7,83.7z"/>
            <path id="_Path_4" class="st4" d="M38.4,71.9h-8.5l15.6-15.7L34.8,45.5L0,80.7l35.5,35.8L46,105.8L29.8,89.4h8.5
              c17.9-0.3,32.6,14,32.9,31.9c0,0.3,0,0.6,0,0.9V83.7C62.3,75.8,51.2,71.9,38.4,71.9"/>
            <path id="_Path_5" class="st5" d="M71.2,83.7v38.7c0-10.2,3-20.2,8.8-28.7C77.5,89.9,74.6,86.6,71.2,83.7"/>
            <path id="_Path_6" class="st6" d="M80,93.6c-5.7,8.5-8.7,18.5-8.7,28.7v56.8h17.4v-56.8C88.7,112.1,85.7,102.1,80,93.6"/>
          </g>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>

<div id="book-an-appointment" class="l-grid-row">
  <div class="l-page-container">
    <div class="landing-promo">
      <div class="l-column-full">
        <div class="youtube-video">
          <div class="youtube-video__video">
            <a href="https://www.youtube.com/watch?v=b8Lsgk46Hgs">Watch our video about Pension Wise appointments</a>
          </div>
          <div class="youtube-video__transcript">
            <p>
              <a href="#main-transcript" class="visually-hidden js-video-transcript-toggle" aria-controls="main-transcript">Show video transcript</a>
            </p>
            <div class="video-transcript js-video-transcript" id="main-transcript" tabindex="-1" aria-hidden="true">
              <noscript class="js-video-transcript-copy">
                <p>When I retire I hope to travel. Maybe move house.</p>
                <p>I wasn't sure how to deal with the financial planning side.</p>
                <p>That’s why I needed to try to clear the mist and get something sorted really.</p>
                <p>I have about four pension pots. To be honest I was quite confused.</p>
                <p>There's different types and I had more than one type of pension. I wanted guidance.</p>
                <p>I made an appointment with Pension Wise. Saw a guider there. The appointment was free.</p>
                <p>It lasted about forty-five minutes.</p>
                <p>She guided me through what the options were and made it clear to me what I can and can’t do with my pension.</p>
                <p>The guidance I received was excellent.</p>
                <p>I really now feeling control of my financial matters. It really, really was good.</p>
              </noscript>
            </div>
          </div>
        </div>
        <h2 class="landing-subheading">Book a free appointment</h2>
        <p>Find out about how you can take your pension money, from getting a regular income to taking your whole pot as cash.</p>
        <p>Speak to us over the phone or in person somewhere local to you.</p>
        <p>Pension Wise is free and impartial – we don’t recommend products or companies and won’t tell you how to invest your money.</p>
        <p><a href="/appointments" class="button">Book a free appointment</a></p>
      </div>
    </div>
  </div>
</div>

<div id="what-to-expect" class="l-grid-row l-landing-row l-home-row--callout l-landing-row--dog l-landing-row--flat">
  <div class="l-page-container l-home-row-callout__content">
    <div class="l-column-third">
      &nbsp;
    </div>
    <div class="l-column-two-thirds">
      <h2 class="landing-subheading">What to expect in an appointment</h2>
      <%= image_tag 'guider-image.jpg', alt: 'Guider and customer at an appointment', class: 'landing-image' %>
      <p>An appointment is a 45 to 60 minute conversation with a pensions specialist.</p>
      <p>We’ll talk through your options for taking your personal or workplace pension money. We’ll also explain tax and give you next steps to take.</p>
      <p>You’ll also get a written summary of your appointment.</p>
      <div role="note" aria-label="Information" class="application-notice info-notice landing-notice">
        <p>For guidance on the State Pension or defined benefit (final salary or career average) pensions speak to The Pensions Advisory Service.</p>
      </div>
    </div>
  </div>
</div>

<div id="about-pensionwise" class="l-grid-row l-landing-row l-landing-row--flat l-landing-row--flip l-home-row--callout">
  <div class="l-page-container l-home-row-callout__content">
    <div class="l-home-row-callout__column">
      <h2 class="l-home-single-column-subheading">About Pension Wise</h2>
      <p>Pension Wise is a free and impartial government service.</p>
      <p>We were set up in 2015 after changes to pension rules gave people more choice over what they could do with their money.</p>
      <p>We provide appointments through Citizens Advice and The Pensions Advisory Service over the phone and in person across the UK.</p>
    </div>
  </div>
</div>
