<% content_for :content do %>
  <ul class="t-article-links">
    <li><%= link_to 'How to shop around for the best deal', article_path('how-to-shop-around-for-the-best-deal') %></li>
  </ul>
<% end %>
