<% content_for(:page_title, t('service.homepage.title')) %>
<% content_for(:meta_description, 'A free and impartial government service that helps you understand ' +
                                    'the options for your pension pot.') %>

<div class="l-home-header">
  <%= render 'components/header' %>

  <div class="l-quick-links">
    <%= render 'components/quick_links' %>
  </div>
</div>

<p class="home-intro">A free and impartial government service about your defined contribution pension options.</p>

<%= render 'components/campaign_image' %>

<div class="l-grid-row l-home-top-slot">
  <div class="l-column-third">
    <p>Pension Wise only provides guidance on <strong><a href="/pension-types">defined contribution</a></strong> pensions.</p>

    <p>You can find out <strong><a href="/pension-pot-options">
      what you can do with your pension pot</a></strong>, how to shop around and what to look out for with taxes and fees.</p>

    <p>We explain how to avoid pension scams and the importance of taking your time to make sure your money lasts as long as you do.</p>
  </div>
  <div class="l-column-two-thirds l-home-top-slot-promo">
    <hr class="hr-thin l-home-top-slot-hr" />

    <h2 id="appointments">Talk about your pension options</h2>

    <p>
      Book an appointment to get free and impartial guidance over the phone or face-to-face.
      You’ll talk about your pension options and what you can do next.
    </p>

    <p>At the end of your appointment you’ll get a summary of your details and next steps you need to take.</p>

    <p>
      <a href="/appointments" class="button">
        Book a free appointment
      </a>
    </p>
  </div>
</div>

<hr/>

<p class="home-scope">Pension Wise won’t recommend any products or tell you what to
  do with your money.</p>

<hr class="hr-thin">

<section class="l-home-journey">
  <%= render 'components/journey_promo' %>
</section>

<hr class="hr-thin">

<section class="l-home-guides">
  <h2 id="guides">Pension Wise guides</h2>

  <div class="l-grid-row">
    <div class="l-column-half">
      <h3>Your pension pot</h3>
      <ul class="unstyled-list t-article-links">
        <li class="unstyled-list__item">
          <a href="/pension-types">
            Know your pension type
          </a>
        </li>
        <li class="unstyled-list__item">
          <a href="/pension-pot-value">
            Check the value of your pension pot
          </a>
        </li>
        <li class="unstyled-list__item">
          <a href="/divorce">
            Pensions and divorce
          </a>
        </li>
        <li class="unstyled-list__item">
          <a href="/when-you-die">
            Your pension when you die
          </a>
        </li>
      </ul>
    </div>
    <div class="l-column-half">
      <h3>Your options</h3>
      <ul class="unstyled-list">
        <li class="unstyled-list__item">
          <a href="/pension-pot-options">
            What you can do with your pension pot
          </a>
        </li>
        <li class="unstyled-list__item">
          <a href="/shop-around">
            How to shop around for the best deal
          </a>
        </li>
        <li class="unstyled-list__item">
          <a href="/living-abroad">
            Living abroad and your pension
          </a>
        </li>
        <li class="unstyled-list__item">
          <a href="/already-bought-annuity">
            If you've already bought an annuity
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="l-grid-row">
    <div class="l-column-half">
      <h3>Your money in retirement</h3>
      <ul class="unstyled-list">
        <li class="unstyled-list__item">
          <a href="/making-money-last">
            Plan how long your money needs to last
          </a>
        </li>
        <li class="unstyled-list__item">
          <a href="/work-out-income">
            Work out how much money you'll have in retirement
          </a>
        </li>
        <li class="unstyled-list__item">
          <a href="/benefits">
            If you’re on benefits
          </a>
        </li>
      </ul>

      <h3>Tax</h3>
      <ul class="unstyled-list">
        <li class="unstyled-list__item">
          <a href="/tax">
            Tax you pay on your pension
          </a>
        </li>
      </ul>

    </div>
    <div class="l-column-half">
      <h3>Scams</h3>
      <ul class="unstyled-list">
        <li class="unstyled-list__item">
          <a href="/scams">
            How to avoid a pension scam
          </a>
        </li>
      </ul>

      <h3>Complaints</h3>
      <ul class="unstyled-list">
        <li class="unstyled-list__item">
          <a href="/pension-complaints">
            How to complain about a pension
          </a>
        </li>
        <li class="unstyled-list__item">
          <a href="/contact#complaints">
            Complain about Pension Wise
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<hr class="hr-thin">

<section class="l-home-about">
  <h2 id="new-pension-rules">New pension rules</h2>

  <div class="l-grid-row">
    <div class="l-column-half">
      <p>
        New pension rules came into effect on 6 April 2015. You now have more freedom over how you take money from
        your pension pot.
      </p>

      <p>These changes affect you if:</p>

      <ul>
        <li>you’re <strong>55 or over</strong>, and</li>
        <li>have a pension based on how much has been paid into your pot (a
          <strong>defined contribution pension</strong>).
        </li>
      </ul>

      <p><a href="/pension-types">
        Help with understanding your pension type
      </a></p>

    </div>
    <div class="l-column-half">
      <p>If you have a defined benefit pension - one based on your salary and
        length of time with your employer - you can still get information from
        these organisations:</p>

      <ul class="unstyled-list">
        <li class="unstyled-list__item">
          <a rel="external" href="http://www.pensionsadvisoryservice.org.uk/">The
          Pensions Advisory Service</a>
        </li>
        <li class="unstyled-list__item">
          <a rel="external" href="https://www.moneyadviceservice.org.uk/">
          The Money Advice Service</a></li>
      </ul>
    </div>
  </div>
</section>

<% content_for :after_script do %>
  <script>
    $(function() {
      var duration = 800;
      $('#link-who-the-service-is-for').on('click', function () {
        $('html, body').animate({
          scrollTop: ($('#new-pension-rules').offset().top)
        }, duration);
      });
    });
  </script>
<% end %>
