<% content_for(:page_title, t('service.homepage.title')) %>

<div class="l-home-header">
  <%= render 'components/header' %>
</div>

<div class="l-text">
  <p class="lede">This is a free government service which helps you understand what you can do
    with your pension pot when you retire.</p>

  <h2>Pensions are changing</h2>

  <p>From April 2015 you'll have more freedom over how you take money from your pension pot.</p>

  <p>These changes affect you <strong>if you're 55 or over</strong> and have a pension
    based on how much has been paid into your pot (a <strong>defined contribution</strong>
    pension).</p>

  <p>This service explains what your options are, what's tax-free and what's not.</p>
</div>

<hr/>

<h2>Read our guides</h2>
<ul class="unstyled-list links t-article-links">
  <li class="unstyled-list__item">
    <a href="<%= article_path('check-the-value-of-your-pension-pot') %>">
      Check the value of your pension pot
    </a>
  </li>
  <li class="unstyled-list__item">
    <a href="<%= article_path('tax-you-pay-on-your-pension') %>">
      Tax you pay on your pension
    </a>
  </li>
  <li class="unstyled-list__item">
    <a href="<%= article_path('how-to-shop-around-for-the-best-deal') %>">
      How to shop around for the best deal
    </a>
  </li>
</ul>
