<% content_for(:page_title, t('service.homepage.title')) %>
<% content_for(:meta_description, 'A free and impartial government service that helps you understand ' +
                                    'the options for your pension pot.') %>

<div class="l-home-header">
  <%= render 'components/header' %>

  <div class="l-quick-links">
    <%= render 'components/quick_links' %>
  </div>
</div>

<p class="home-intro">A free and impartial government service about your defined contribution pension options.</p>

<%= render 'components/campaign_image' %>

<div class="l-grid-row l-home-top-slot">
  <div class="l-column-third">
    <p>Pension Wise only provides guidance on <strong><a href="/pension-types">defined contribution</a></strong> pensions.</p>

    <p>You can find out <strong><a href="/pension-pot-options">
      what you can do with your pension pot</a></strong>, how to shop around and what to look out for with taxes and fees.</p>

    <p>We explain how to avoid pension scams and the importance of taking your time to make sure your money lasts as long as you do.</p>
  </div>
  <div class="l-column-two-thirds l-home-top-slot-promo">
    <hr class="hr-thin l-home-top-slot-hr" />

    <h2 id="appointments">Talk about your pension options</h2>

    <p>
      Book an appointment to get free and impartial guidance over the phone or face to face.
      You’ll talk about your pension options and what you can do next.
    </p>

    <p>At the end of your appointment you’ll get a summary of your details and next steps you need to take.</p>

    <p>
      <a href="/appointments" class="button">
        Book a free appointment
      </a>
    </p>
  </div>
</div>

<hr/>

<p class="home-scope">Pension Wise won’t recommend any products or tell you what to
  do with your money.</p>

<hr class="hr-thin">

<section class="l-home-journey">
  <%= render 'components/journey_promo' %>
</section>

<hr class="hr-thin">

<section class="l-home-about">
  <h2 id="new-pension-rules">Who the service is for</h2>

  <div class="l-grid-row">
    <div class="l-column-half">
      <p>Pension Wise can help if:</p>
      <ul>
        <li>you’re aged <strong>50 or over</strong>, and</li>
        <li>have a <a href="/pension-types">defined contribution</a> pension. These are not final salary or career average pensions.
        </li>
      </ul>
    </div>
    <div class="l-column-half">
      <p>If you have a final salary or career average pension, you can still get information from
        these organisations:</p>

      <ul class="unstyled-list">
        <li class="unstyled-list__item">
          <a rel="external" href="http://www.pensionsadvisoryservice.org.uk/">The
          Pensions Advisory Service</a>
        </li>
        <li class="unstyled-list__item">
          <a rel="external" href="https://www.moneyadviceservice.org.uk/">
          The Money Advice Service</a></li>
      </ul>
    </div>
  </div>
</section>

<% content_for :after_script do %>
  <script>
    $(function() {
      var duration = 800;
      $('#link-who-the-service-is-for').on('click', function () {
        $('html, body').animate({
          scrollTop: ($('#new-pension-rules').offset().top)
        }, duration);
      });
    });
  </script>
<% end %>
