<% content_for(:page_title, t('service.homepage.title')) %>

<div class="l-home-header">
  <%= render 'components/header' %>
</div>

<div class="text">
    <p>
      Pension Wise is a free and impartial government service that helps you
      understand <a href="/pension-pot-options"> what you can do with your
      pension pot</a>. You’ll get information explaining what your different
      options are and guidance to help you plan.
    </p>

    <p>Pension Wise won’t recommend any products or tell you what to
      do with your money.</p>
</div>

<hr/>

<h2>6 things you need to know</h2>

<a class="button" href="/6-things-you-need-to-know">
  Start Now
</a>

<hr/>

<section class="l-home-guides t-article-links">
  <h2>Pension Wise guides</h2>
  <div class="l-grid-row">
    <div class="l-column-half">
      <h3>Your pension pot</h3>
      <ul class="unstyled-list links">
        <li class="unstyled-list__item">
          <a href="/pension-types">
            Know your pension type
          </a>
        </li>
        <li class="unstyled-list__item">
          <a href="/pension-pot-value">
            Check the value of your pension pot
          </a>
        </li>
        <li class="unstyled-list__item">
          <a href="/divorce">
            If you're divorced
          </a>
        </li>
      </ul>
    </div>
    <div class="l-column-half">
      <h3>Your options</h3>
      <ul class="unstyled-list links">
        <li class="unstyled-list__item">
          <a href="/pension-pot-options">
            What you can do with your pension pot
          </a>
        </li>
        <li class="unstyled-list__item">
          <a href="/shop-around">
            How to shop around for the best deal
          </a>
        </li>
        <li class="unstyled-list__item">
          <a href="/living-abroad">
            Living abroad and your pension
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="l-grid-row">
    <div class="l-column-half">
      <h3>How much you need</h3>
      <ul class="unstyled-list links">
        <li class="unstyled-list__item">
          <a href="/making-money-last">
            Plan how long your money needs to last
          </a>
        </li>
        <li class="unstyled-list__item">
          <a href="/work-out-income">
            Work out how much money you'll have in retirement
          </a>
        </li>
        <li class="unstyled-list__item">
          <a href="/benefits">
            If you're on benefits
          </a>
        </li>
      </ul>

      <h3>Tax</h3>
      <ul class="unstyled-list links">
        <li class="unstyled-list__item">
          <a href="/tax">
            Tax you pay on your pension
          </a>
        </li>
      </ul>

    </div>
    <div class="l-column-half">
      <h3>Scams</h3>
      <ul class="unstyled-list links">
        <li class="unstyled-list__item">
          <a href="/scams">
            How to avoid a pension scam
          </a>
        </li>
      </ul>

      <h3>Complaints</h3>
      <ul class="unstyled-list links">
        <li class="unstyled-list__item">
          <a href="/complaints">
            How to complain about a pension
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
