<% content_for(:page_title, t('service.homepage.title')) %>

<div class="l-home-header">
  <%= render 'components/header' %>
</div>

<div class="l-text">
  <p>Pension Wise is a free government service which helps you
    understand what you can do with your pension pot money. This service
    explains what your options are, what's tax-free and what's not.</p>

  <p>You’ll get information and guidance to help you plan and take
    the time to make the right decision for you. The service is impartial and
    won’t recommend companies or tell you how to invest your money. It’s your
    choice how to take money from your pension pot.</p>

  <h2>Pensions are changing</h2>

  <p>From 6 April 2015 you'll have more freedom over your pension pot
    options.</p>

  <p>These changes affect you <strong>if you're 55 or over</strong> and have a
    <strong>defined contribution</strong> pension - a pension based on how much
    money has been paid into your pot by you and sometimes your employer.</p>

  <p>If you have a defined benefit pension - one based on your salary and length
    of time with your employer - you can still get guidance from
    <a href="http://www.pensionsadvisoryservice.org.uk/">the Pensions
      Advisory Service</a> and <a href="https://www.moneyadviceservice.org.uk/">
    the Money Advice Service</a></p>
</div>

<hr/>

<h2>Work out your options</h2>
<div class="l-grid-row">
  <div class="l-column-half">
    <h3>
      <a href="/6-things-you-need-to-know">
        7 things to get you started
      </a>
    </h3>

    <p>Follow these steps to find out the options for your pension pot.</p>
  </div>
</div>

<hr/>

<h2>Read our guides</h2>
<ul class="unstyled-list links t-article-links">
  <li class="unstyled-list__item">
    <a href="/know-your-pension-type">
      Know your pension type
    </a>
  </li>
  <li class="unstyled-list__item">
    <a href="/check-the-value-of-your-pension-pot">
      Check the value of your pension pot
    </a>
  </li>
  <li class="unstyled-list__item">
    <a href="/tax-you-pay-on-your-pension">
      Tax you pay on your pension
    </a>
  </li>
  <li class="unstyled-list__item">
    <a href="/how-to-shop-around-for-the-best-deal">
      How to shop around for the best deal
    </a>
  </li>
  <li class="unstyled-list__item">
    <a href="/how-long-your-money-needs-to-last">
      Plan how long your money needs to last
    </a>
  </li>
</ul>
