<% content_for(:page_title, t('service.homepage.title')) %>
<% content_for(:meta_description, 'A free and impartial government service that helps you understand ' +
                                    'the options for your pension pot.') %>

<div class="l-home-header">
  <%= render 'components/header' %>

  <div class="l-quick-links">
    <%= render 'components/quick_links' %>
  </div>
</div>

<div class="strapline">
  <span class="strapline__first-sentence">Your money.</span> Your choice.
</div>

<div class="l-grid-row l-home-top-slot">
  <div class="l-column-third">
    <p>
      Pension Wise is a free and impartial government service that helps you
      understand
      <strong><a href="/pension-pot-options">
        what you can do with your pension pot</a></strong>. You’ll get
      information on your pension options, taxes and fees.
    </p>

    <p>Pension Wise won’t recommend any products or tell you what to
      do with your money.</p>
  </div>
  <div class="l-column-two-thirds l-journey-promo">
    <hr class="hr-thin l-home-top-slot-hr" />

    <%= render 'components/journey_promo' %>
  </div>
</div>

<hr/>

<section class="l-home-guides">
  <h2>Pension Wise guides</h2>

  <div class="l-grid-row">
    <div class="l-column-half">
      <h3>Your pension pot</h3>
      <ul class="unstyled-list t-article-links">
        <li class="unstyled-list__item">
          <a href="/pension-types">
            Know your pension type
          </a>
        </li>
        <li class="unstyled-list__item">
          <a href="/pension-pot-value">
            Check the value of your pension pot
          </a>
        </li>
        <li class="unstyled-list__item">
          <a href="/divorce">
            If you're divorced
          </a>
        </li>
      </ul>
    </div>
    <div class="l-column-half">
      <h3>Your options</h3>
      <ul class="unstyled-list">
        <li class="unstyled-list__item">
          <a href="/pension-pot-options">
            What you can do with your pension pot
          </a>
        </li>
        <li class="unstyled-list__item">
          <a href="/shop-around">
            How to shop around for the best deal
          </a>
        </li>
        <li class="unstyled-list__item">
          <a href="/living-abroad">
            Living abroad and your pension
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="l-grid-row">
    <div class="l-column-half">
      <h3>Your money in retirement</h3>
      <ul class="unstyled-list">
        <li class="unstyled-list__item">
          <a href="/making-money-last">
            Plan how long your money needs to last
          </a>
        </li>
        <li class="unstyled-list__item">
          <a href="/work-out-income">
            Work out how much money you'll have in retirement
          </a>
        </li>
        <li class="unstyled-list__item">
          <a href="/benefits">
            If you're on benefits
          </a>
        </li>
      </ul>

      <h3>Tax</h3>
      <ul class="unstyled-list">
        <li class="unstyled-list__item">
          <a href="/tax">
            Tax you pay on your pension
          </a>
        </li>
      </ul>

    </div>
    <div class="l-column-half">
      <h3>Scams</h3>
      <ul class="unstyled-list">
        <li class="unstyled-list__item">
          <a href="/scams">
            How to avoid a pension scam
          </a>
        </li>
      </ul>

      <h3>Complaints</h3>
      <ul class="unstyled-list">
        <li class="unstyled-list__item">
          <a href="/pension-complaints">
            How to complain about a pension
          </a>
        </li>
        <li class="unstyled-list__item">
          <a href="/complaints">
            Complain about Pension Wise
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<hr class="hr-thin">

<section class="l-home-appointments">
  <div class="l-grid-row">
    <div class="l-column-two-thirds">
      <h2 id="phone-and-face-to-face-guidance-coming-soon">Phone and
        face-to-face guidance coming soon</h2>

      <p>You can get guidance on your pension options from this website.</p>

      <p>If you prefer to speak to someone, you’ll soon be able to talk to an
        impartial guidance specialist on the phone or face to face.  They’ll
        talk about the <a href="/6-things-you-need-to-know">steps you can
        take</a> to turn your pension pot into income for your retirement.
        Register your interest if you’d like to take part in upcoming trials of
        phone or face-to-face guidance.</p>

      <p>
        <a href="https://www.register-interest-pension-guidance.service.gov.uk/register"
           class="button">
          Register your interest
        </a>
      </p>
    </div>
  </div>
</section>

<hr class="hr-thin">

<section class="l-home-about">
  <h2 id="pensions-are-changing">Pensions are changing</h2>

  <div class="l-grid-row">
    <div class="l-column-half">
      <p>
        From 6 April 2015 you'll have more freedom over how you take money from
        your pension pot.
      </p>

      <p>These changes affect you if:</p>

      <ul>
        <li>you're <strong>55 or over</strong>, and</li>
        <li>have a pension based on how much has been paid into your pot (a
          <strong>defined contribution pension</strong>).
        </li>
      </ul>

      <p><a href="/pension-types">
        Help with understanding your pension type
      </a></p>

    </div>
    <div class="l-column-half">
      <p>If you have a defined benefit pension - one based on your salary and
        length of time with your employer - you can still get information from
        these organisations:</p>

      <ul>
        <li><a rel="external" href="http://www.pensionsadvisoryservice.org.uk/">The
          Pensions Advisory Service</a></li>
        <li><a rel="external" href="https://www.moneyadviceservice.org.uk/">
          The Money Advice Service</a></li>
      </ul>
    </div>
  </div>
</section>
