<nav class="journey-nav" role="navigation" aria-label="6 things you need to know">
  <ol>
    <li>
      <a href="#foo">
        <span class="journey-nav__number journey-nav__number--1"></span>
        Check the value of your pension pot
      </a>
    </li>
    <li class="is-current">
      <a href="#foo">
        <span class="journey-nav__number journey-nav__number--2"></span>
        What you can do with your pension pot
        <span class="visuallyhidden">(current)</span>
      </a>
    </li>
    <li>
      <a href="#foo">
        <span class="journey-nav__number journey-nav__number--3"></span>
        Plan how long your money needs to last
      </a>
    </li>
    <li>
      <a href="#foo">
        <span class="journey-nav__number journey-nav__number--4"></span>
        Work out how much money you'll have in retirement
      </a>
    </li>
    <li>
      <a href="#foo">
        <span class="journey-nav__number journey-nav__number--5"></span>
        Tax you pay on your pension
      </a>
    </li>
    <li class="last-child">
      <a href="#foo">
        <span class="journey-nav__number journey-nav__number--6"></span>
        How to shop around for the best deal
      </a>
    </li>
  </ol>
</nav>
