<nav class="journey-nav" role="navigation" aria-label="6 steps you need to take">
  <ol>
    <li>
      <a href="#foo">
        <span class="journey-nav__number journey-nav__number--1"></span>
        Check the value of your pension pot
      </a>
    </li>
    <li class="is-current">
      <a href="#foo">
        <span class="journey-nav__number journey-nav__number--2"></span>
        What you can do with your pension pot
        <span class="visuallyhidden">(current)</span>
      </a>
    </li>
    <li>
      <a href="#foo">
        <span class="journey-nav__number journey-nav__number--3"></span>
        Make your money last
      </a>
    </li>
    <li>
      <a href="#foo">
        <span class="journey-nav__number journey-nav__number--4"></span>
        Work out what you’ll have in retirement
      </a>
    </li>
    <li>
      <a href="#foo">
        <span class="journey-nav__number journey-nav__number--5"></span>
        Tax you pay on your pension
      </a>
    </li>
    <li class="last-child">
      <a href="#foo">
        <span class="journey-nav__number journey-nav__number--6"></span>
        Shop around and compare providers
      </a>
    </li>
  </ol>
</nav>
