<div class="journey-overview">
  <!-- 1 -->
  <section class="journey-overview__item">
    <h2 class="journey-overview__heading" id="check-how-much-is-in-your-pension-pot">
      <span class="journey-overview__number journey-overview__number--1">1</span> Check how much is in your pot
    </h2>

    <p>You can ask your pension provider to tell you how much is in your pot. You can also look at information your provider has sent to you already, eg a pension statement.</p>

    <p><a href="/articles/check-the-value-of-your-pension-pot">Check the value of your pension pot</a></p>
  </section>

  <!-- 2 -->
  <section class="journey-overview__item">
    <h2 class="journey-overview__heading" id="understand-what-you-can-do-with-your-pension-pot">
      <span class="journey-overview__number journey-overview__number--2">2</span> Understand what you can do with your pension pot
    </h2>

    <p>Think about which option suits you best. You don’t need to take the first one offered to you by your pension provider.</p>

    <p>You can:</p>

    <ul>
      <li>
        <p>leave your pension pot untouched until you need the money - your pot could still grow</p>
      </li>
      <li>
        <p>get a guaranteed income (annuity) - you can take 25% of your pot tax free before buying an annuity</p>
      </li>
      <li>
        <p>get a flexible income (income drawdown) - a 25% tax-free lump sum is available if you take this option</p>
      </li>
      <li>
        <p>take your whole pension pot as cash - 25% will be tax free</p>
      </li>
      <li>
        <p>take smaller sums as cash - 25% of each sum you take will be tax free</p>
      </li>
    </ul>

    <p>You can also mix these options. Check with your pension provider about which options they can offer you.</p>

    <p><a href="/articles/what-you-can-do-with-your-pension-pot">What you can do with your pension pot</a></p>
  </section>

  <!-- 3 -->
  <section class="journey-overview__item">
    <h2 class="journey-overview__heading" id="plan-how-long-your-money-needs-to-last">
      <span class="journey-overview__number journey-overview__number--3">3</span> Make your money last
    </h2>
    <p>Your costs and financial needs are likely to change during retirement. You need to think about when you’ll start taking money from your pension pot and how much you’ll need at different times.</p>

    <p><a href="/articles/how-long-your-money-needs-to-last">How long your money needs to last</a></p>
  </section>

  <!-- 4 -->
  <section class="journey-overview__item">
    <h2 class="journey-overview__heading" id="work-out-how-much-youll-need">
      <span class="journey-overview__number journey-overview__number--4">4</span> Work out how much you’ll need</h2>
    <p>How much income you have is likely to change as you get older. Work out how much money you’ll get from your pension and from other income you have and how it’ll cover your costs.</p>

    <p><a href="/articles/calculate-your-retirement-income">Work out what you’ll have in retirement</a></p>

  </section>

  <!-- 5 -->
  <section class="journey-overview__item">
    <h2 class="journey-overview__heading" id="remember-tax">
      <span class="journey-overview__number journey-overview__number--5">5</span>  Remember tax</h2>
    <p>Your income in retirement is taxed, just like it is when you’re in work.</p>

    <p><a href="/articles/tax-you-pay-on-your-pension">Tax you pay on your pension</a></p>
  </section>

  <!-- 6 -->
  <section class="journey-overview__item last-child">
    <h2 class="journey-overview__heading" id="take-your-time-to-shop-around">
      <span class="journey-overview__number journey-overview__number--6">6</span> Take your time to shop around
    </h2>
    <p>Remember that you don’t have to stay with your current pension provider. People usually benefit from shopping around and comparing products. The pack your provider sends you when you reach retirement age is likely to only include information about their own products.</p>

    <p><a href="/articles/how-to-shop-around-for-the-best-deal">Shop around and compare providers</a></p>
  </section>
</div>
