<div class="link-promo">
  <h2 class="link-promo__heading">A heading</h2>
  <ul class="link-promo__list">
    <li class="link-promo__item">
      <a href="#insert_url">A promoted link</a>
    </li>

    <li class="link-promo__item">
      <a href="#insert_url">Another promoted link</a>
    </li>
  </ul>
</div>
