<li class="breadcrumbs__item">
  <a class="breadcrumbs__link" href="/styleguide/pages/appointments">Book a free appointment</a>
</li>
<% if items == 3 %>
  <li class="breadcrumbs__item">
    <a class="breadcrumbs__link" href="/styleguide/pages/book">How to book</a>
  </li>
<% end %>
<% if items == 4 %>
  <li class="breadcrumbs__item">
    <a class="breadcrumbs__link" href="/styleguide/pages/locations-index">Location results</a>
  </li>
<% end %>
