<div class="link-promo ga-elsewhere-sidebar">
  <h2 class="link-promo__heading">Book a free appointment</h2>
  <ul class="link-promo__list">
    <li class="link-promo__item">
      <%= link_to 'Who can book', guide_path('appointments', anchor: 'who-can-book'), id: 'book-appointment-who' %>
    </li>
    <li class="link-promo__item">
      <%= link_to 'What you will get from the appointment', guide_path('appointments', anchor: 'what-youll-get-from-the-appointment'), id: 'book-appointment-what' %>
    </li>
    <li class="link-promo__item">
      <%= link_to 'Make the most of your appointment', guide_path('appointments', anchor: 'make-the-most-of-your-appointment'), id: 'book-appointment-make-the-most' %>
    </li>
  </ul>
</div>
