<div class="locator-promo">
  <h2 class="locator-promo__heading">Find your nearest face-to-face location</h2>

  <p>Face-to-face appointments are at Citizen's Advice centres.</p>

  <form action="/locator/results" method="get">
    <label class="form-label" for="location">Enter a postcode to find a centre near you</label>
    <input type="text" class="form-control" id="location" value="SW17">
    <input type="submit" class="button" value="Search">
  </form>
</div>
