<div class="locator-promo">
  <form action="/locations" method="get">
    <label class="form-label" for="location">Enter a postcode</label>
    <input type="text" class="form-control" id="location" name="postcode" value="">
    <input type="submit" class="button" value="Search">
  </form>
</div>
