<table class="options-table">
  <thead>
  <tr class="options-table__tr-first">
    <th class="col-1"></th>
    <th colspan="2" class="col-2-3">Getting an income</th>
    <th class="col-4">Taking cash</th>
  </tr>
  <tr>
    <th class="col-1"></th>
    <th class="col-2 options-table__annuity">
      <div class="options-table__hr"></div>
      <a href="#url">Guaranteed income (annuity)</a>
    </th>
    <th class="col-3 options-table__flexible">
      <div class="options-table__hr"></div>
      <a href="#url">Adjustable income</a>
    </th>
    <th class="col-4 options-table__cash">
      <div class="options-table__hr"></div>
      <a href="#url">In chunks or your whole pot</a>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th class="col-1">
      <div class="th-inner">
        <span class="th-text">Can you get 25% tax free?</span>
      </div>
    </th>
    <td class="col-2">Yes</td>
    <td class="col-3">Yes</td>
    <td class="col-4">Yes</td>
  </tr>
  <tr>
    <th class="col-1">
      <div class="th-inner">
        <span class="th-text">What’s taxable?</span>
      </div>
    </th>
    <td class="col-2">Income you get from your annuity</td>
    <td class="col-3">Income you get from your pot</td>
    <td>75% of any cash sum you take </td>
  </tr>
  <tr>
    <th class="col-1">
      <div class="th-inner">
        <span class="th-text">Leaving your pension to someone</span>
      </div>
    </th>
    <td class="col-2">You need to buy a special type of annuity that pays out to someone else after you die</td>
    <td class="col-3">Money left in your fund can be passed on</td>
    <td>Money left in your pot can be passed on</td>
  </tr>
  <tr>
    <th class="col-1">
      <div class="th-inner">
        <span class="th-text">Watch out for</span>
      </div>
    </th>
    <td class="col-2">There are different types of annuities - make sure you buy the right one for your circumstances</td>
    <td class="col-3">You need to review your fund regularly so you know how much income you can take and make it last as long as possible</td>
    <td>You could pay higher tax if you take out large amounts</td>
  </tr>
  </tbody>
</table>
