<ul class="pager">
    <li class="pager__item pager__item--previous">
      <a href="#insert_url" rel="prev">
        <span class="pager__label">Previous</span>
        <span class="pager__title">
          1. Check the value of your pension pot
        </span>
      </a>
    </li>
    <li class="pager__item pager__item--next">
      <a href="#insert_url" rel="next">
        <span class="pager__label">Next</span>
        <span class="pager__title">
          3. Plan how long your money needs to last
        </span>
      </a>
    </li>
</ul>
