<% content_for :head do %>
  <script id="genesys-live-chat" data-testid="genesys-live-chat" data-nscript="beforeInteractive">
    (function(g,e,n,es,ys){g["_genesysJs"]=e;
            g[e]=g[e]||function(){(g[e].q=g[e].q||[]).push(arguments)};g[e].t=1*new Date;
            g[e].c=es;ys=document.createElement("script");ys.async=1;ys.src=n;ys.charset="utf-8";
            document.head.appendChild(ys)})(window,"Genesys","https://apps.euw2.pure.cloud/genesys-bootstrap/genesys.min.js",
            {environment:"euw2",deploymentId:"d441c10a-d751-4b03-976d-788df9294b0a"});
  </script>
<% end %>

<div class="l-column-two-thirds">
  <div role="note" aria-label="Information" class="application-notice info-notice">
    <p>Welcome to Live chat. We're here to answer any pension related question you might have.</p>

    <p>We offer free and impartial information and guidance to help you make the most of your money and pensions. Our service is designed to support you in making your own informed decisions based on your circumstances. Our specialists may ask you about your personal and financial circumstances, to tailor the guidance for you.</p>

    <p>We don't give legal or regulated financial advice or recommend specific financial products because we aren't regulated or authorised by the Financial Conduct Authority to do so. This means we can't tell you what the best option is for you, or what to do with your money or pension.</p>

    <p>If you're looking for personalised money or pensions advice or specific product recommendations, you'll need to see a regulated financial adviser or seek legal advice.</p>

    <p>Find out more about when and how to get professional advice in our guide <a href="https://www.moneyhelper.org.uk/en/getting-help-and-advice/financial-advisers/do-you-need-a-financial-adviser" target="_blank">Do you need a financial adviser</a></p>

    <p>If you need legal advice, you can find a solicitor on the <a href="https://www.lawsociety.org.uk" target="_blank">Law Society website</a></p>

    <p><button class="button button--primary" onclick="Genesys('command', 'Messenger.open');">Start webchat</button>
  </div>
</div>
