@import "../../money-helper-variables";

.slot-picker-calendar {
  display: table; // IE9 fallback
  display: flex; // scss-lint:disable DuplicateProperty
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}

.slot-picker-calendar__day {
  box-shadow: -1px -1px $color-grey-blue-supporting,
    inset -1px 0 $color-grey-blue-supporting;
  flex-basis: (100% / 7);
  float: left;
  height: 56px;
  list-style: none;
  margin: 0;
  width: 100%;

  &::before {
    display: none;
  }
}

.slot-picker-calendar__day-text {
  left: 5px;
  position: absolute;
  top: 5px;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
}

.slot-picker-calendar__day--monday {
  flex-basis: 0;
}

.slot-picker-calendar__day--tuesday {
  flex-basis: (100% / 7);
}

.slot-picker-calendar__day--wednesday {
  flex-basis: (100% / 7) * 2;
}

.slot-picker-calendar__day--thursday {
  flex-basis: (100% / 7) * 3;
}

.slot-picker-calendar__day--friday {
  flex-basis: (100% / 7) * 4;
}

.slot-picker-calendar__day--saturday {
  flex-basis: (100% / 7) * 5;
}

.slot-picker-calendar__day--sunday {
  flex-basis: (100% / 7) * 6;
}

.slot-picker-calendar__action {
  background: $color-white-supporting;
  border: 0;
  box-shadow: 0 -1px $color-grey-blue-supporting,
    inset -1px -1px 0 0 $color-grey-blue-supporting;
  cursor: pointer;
  display: block;
  height: 56px;
  min-height: 56px;
  position: relative;
  text-align: left;
  user-select: none;
  width: 100%;

  &:focus {
    background: $focus-colour;
    font-weight: bold;
    outline: none;
  }

  &:hover:not(:disabled) {
    background: $color-teal-light-secondary;

    .slot-picker-calendar__day-text {
      text-decoration: underline;
    }
  }
}

.slot-picker-calendar__action--selected {
  background: $color-magenta-dark-primary;
  color: $color-white-supporting;
  cursor: default;
  font-weight: bold;
}

.slot-picker-calendar__action--busy {
  background-color: $color-white-smoke-supporting;
  color: $color-grey-secondary;
  cursor: not-allowed;
}

.slot-picker-calendar__action--today {
  &:after {
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    padding-left: 2px;
    color: $color-dark-blue-secondary;
    background: $color-teal-light-secondary;
    position: absolute;
    content: "Today";
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
  }
}
