@import "../../money-helper-variables";

.slot-picker-nav {
  box-shadow: -1px -1px $color-grey-blue-supporting,
    inset -1px 0 $color-grey-blue-supporting;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slot-picker-nav__item {
  flex-basis: 33.333%;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin: 6px 0;
  text-align: center;
}

.slot-picker-nav__item--prev {
  text-align: left;
}

.slot-picker-nav__item--next {
  text-align: right;
}

.slot-picker-nav-button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 0.8em;
  height: 32px;
  width: 100%;
  display: flex;
  align-items: center;

  &:hover {
    text-decoration: underline;
  }

  .arrow svg {
    margin-top: 3px;
    height: 14px;
  }
}

.slot-picker-nav-button--prev {
  text-align: left;
  justify-content: flex-start;

  .arrow {
    margin-right: 6px;
  }
}

.slot-picker-nav-button--next {
  text-align: right;
  justify-content: flex-end;

  .arrow {
    margin-left: 6px;
  }
}

.slot-picker-nav-button__short-text {
  display: inline;

  @include media(desktop) {
    display: none;
  }
}

.slot-picker-nav-button__long-text {
  display: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: $color-magenta-primary;

  @include media(desktop) {
    display: inline;
  }
}
