.slot-picker-days {
  display: table; // IE9 fallback
  display: flex; // scss-lint:disable DuplicateProperty
  margin: 0;
  padding: 0;
  width: 100%;
}

.slot-picker-days__day {
  background: $calendar-day-row-background;
  box-shadow: -1px -1px $calendar-border,
    inset -1px 0 $calendar-border;
  flex-basis: (100% / 7);
  float: left;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.7;
  list-style: none;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  width: (100% / 7);

  @include media(tablet) {
    font-size: 16px;
  }
}
