.slot-picker-times {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.slot-picker-times__time {
  box-sizing: border-box;
  flex-basis: 50%;
  float: left;
  list-style: none;
  margin: 0;
  position: relative;
  text-align: left;
  width: 50%;

  @include media(tablet) {
    // scss-lint:disable DeclarationOrder
    &:nth-child(even) {
      text-align: left;
    }
  }

  &:nth-child(even) {
    text-align: right;
  }

  &:before {
    display: none;
  }
}

.slot-picker-times__time-text {
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1em;
  margin: 0 0 16px;
  padding: 8px;
  text-align: center;
  width: 98%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;

  @include media(tablet) {
    width: 75%;
  }

  input {
    margin-right: 8px;
  }
}

.slot-picker-time-header {
  margin-top: 0;
}
