.l-masthead {
  background: $color-masthead-bg;
  margin-top: -10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.l-page-nav {
  display: none;

  @include media(desktop) {
    display: block;
    position: absolute;
    top: 0;
    right: 12px;
  }
}

.l-book-appointment {
  display: none;

  @include media(desktop) {
    display: block;
    position: absolute;
    right: -14px;
    top: 104px;

    .button {
      width: 300px;
      text-align: center;
      font-size: 1.1em;
    }
  }
}

.l-banner-container {
  @extend %site-width-container;
  position: relative;
}

.l-page-container {
  @extend %site-width-container;
  @extend %contain-floats;

  padding-bottom: 3em;
}
