.l-masthead {
  background: $color-masthead-bg;
  margin-top: -10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.l-mobile-nav-link {
  display: block;
  position: absolute;
  right:0;
  top:30px;

  @include media(desktop) {
    display: none;
  }

  .l-mobile-nav-link__link:link,
  .l-mobile-nav-link__link:visited {
    position: relative;
    padding-left: 1.25em;
    color: $color-black;
    text-decoration: none;
    font-weight: 700;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0.25em;
      width: 1em;
      height: 0.15em;
      background: black;
      box-shadow:
        0 0.25em 0 0 black,
        0 0.5em 0 0 black;
    }
  }
}

.l-page-nav {
  display: none;
  margin-top: 5px;
  margin-bottom: -34px;
  overflow: hidden;

  @include media(desktop) {
    display: block !important; // to override mobile nav toggler
    position: absolute;
    top: 0;
    right: 12px;
    margin: 0;
    overflow: visible;
  }
}

.l-book-appointment {
  display: none;

  @include media(desktop) {
    display: block;
    position: absolute;
    right: -14px;
    top: 104px;

    .button {
      width: 300px;
      text-align: center;
      font-size: 1.1em;
    }
  }
}

.l-sticky-sidebar {
  display:none;

  @include media(desktop) {
    display: block;
  }
}

.l-banner-container {
  @extend %site-width-container;
  position: relative;
}

.l-page-container {
  @extend %site-width-container;
  @extend %contain-floats;

  padding-bottom: 3em;
}
