.l-page-container {
  @extend %site-width-container;
  @extend %contain-floats;

  @include media(desktop) {
    padding-bottom: $gutter*3;
  }
}

.l-grid-row {
  @extend %grid-row;
}

.l-column-quarter {
  @include grid-column(1/4);
}

.l-column-half {
  @include grid-column(1/2);
}

.l-column-third {
  @include grid-column(1/3);
}

.l-column-two-thirds {
  @include grid-column(2/3);
}

.l-grid-row--main {
  margin-top: 4px; // align h1s with gov.uk
}

.l-column-third--sidebar {
  margin-top: 2em; // align blue bar with gov.uk
}

.l-home-header {
  margin-top: 30px;
  margin-bottom: 20px;
}

.l-text {
  max-width: 30em;
}

