.l-page-nav {
  overflow: hidden;

  &:after {
    content: "mobile";
    display: none;
  }

  @include media($navigation-full-width) { // scss-lint:disable DeclarationOrder
    position: absolute;
    top: -4px;
    right: 4px;
    margin: 0;
    overflow: visible;

    &:after {
      content: "full";
    }
  }

  .nav__list {
    float: right;
    overflow: hidden;
    margin-bottom: 0;
    transition: max-height .8s ease-in-out;

    @include media($navigation-full-width) {
      display: inline-block;
      float: none;
      overflow: visible;
      position: relative;
      top: 3px;
      right: 35px;
    }

    .js-enabled & {
      max-height: 0;
    }

    &.active {
      max-height: 500px;
    }
  }

  .nav__mobile {
    position: absolute;
    right: 0;
    top: 25px;
  }

  .circle--s {
    margin-bottom: 0;
    float: left;
    position: relative;
    top: 1px;
  }
}
