.l-home {
  overflow: hidden;
  padding-bottom: 16px;
  // scss-lint:disable IdSelector
  // from: https://github.com/alphagov/govuk_elements/blob/master/public/sass/elements/_layout.scss#L7
  // Allow an ID here, this is useful as it matches the GOV.UK template skiplink
  // scss-lint:disable IdSelector
  #content {
    max-width: none;
    padding-bottom: 0;
    margin: auto;
  }
}

.home-intro__text {
  margin-bottom: 30px;
}

.l-home-single-column-heading {
  @include bold-48();
  margin-bottom: 0;

  @include media(desktop) {
    font-size: 50px;
    margin-bottom: .5em;
  }
}

.l-home-single-column-subheading {
  @include bold-27();
  margin-bottom: .75em;
}

.l-home-single-column-heading,
.l-home-single-column-subheading {
  margin-top: 0;
}

.l-home-row {
  padding-top: 28px;
  padding-bottom: 14px;
}

.l-home-row-accent__column {
  @include grid-column(1/1);

  @include media(tablet) {
    @include grid-column(1/2);
  }
}

.l-home-row--accent {
  @extend %outdent-to-full-width;
  background-color: $home-row-accent-background;
  background: linear-gradient(to bottom, $color-dogs-background-dark 0%, $color-dogs-background-light 100%);
  background-size: 100%;
  color: $color-white;
  position: relative;
  padding: 0;

  &.apples {
    background-color: $color-apples-background;
    background: linear-gradient(to bottom, $color-apples-background-dark 0%, $color-apples-background-light 100%);

    .quick-links {
      @include media(tablet) {
        background: transparentize($color-apples-background-light, .6);
      }
    }
  }

  &.paint {
    background-color: $color-paint-background;
    background-image: linear-gradient(to bottom, $color-paint-background-dark 0%, $color-paint-background-light 100%);

    .quick-links {
      @include media(tablet) {
        background: transparentize($color-paint-background-light, .6);
      }
    }
  }

  &.peppers {
    background-color: $color-peppers-background;
    background: linear-gradient(to bottom, $color-peppers-background-dark 0%, $color-peppers-background-light 100%);

    .quick-links {
      @include media(tablet) {
        background: transparentize($color-peppers-background-light, .6);
      }
    }
  }
}

.l-home-row-accent__content {
  padding-bottom: 14px;
  padding-top: 28px;
  position: relative;
}

.l-home-central-column {
  @include media(tablet) {
    border-left: 1px solid $color-grey-hit;
    border-right: 1px solid $color-grey-hit;
  }
}

.l-home-right-column {
  margin-top: 20px;

  @include media(tablet) {
    border-left: 1px solid $color-grey-hit;
    margin-top: 0;
  }
}

.l-home-row-options--alt {
  background: $grey-3;
}

