.l-home-header {
  position: relative;
  margin-top: 19px;
  margin-bottom: 21px;

  @include media(tablet) {
    margin-top: 30px;
    margin-bottom: 28px;
  }
}

.l-quick-links {
  display: none;

  @include media(desktop) {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
}
