<p style="color: #0B0C0C;font-family: Helvetica, Arial, sans-serif;margin: 15px
   0;font-size: 16px;line-height: 1.315789474;">
You've received a new booking request, please log into the Booking Dashboard to
arrange the appointment.
</p>
