<% content_for(:page_title, t('service.title', page_title: 'Rydym wedi derbyn eich cais archebu')) %>
<div class="l-grid-row">
  <div class="l-column-two-thirds">
    <div class="govuk-box-highlight">
      <h1 class="bold-large govuk-box-highlight__header">Rydym wedi derbyn eich cais archebu</h1>
    </div>

    <h2>Beth sy’n digwydd nesaf?</h2>

    <p>Byddwn yn cysylltu â chi yn y flwyddyn newydd i drefnu eich apwyntiad.</p>

    <div class="application-notice info-notice">
      <p>Mae argaeledd apwyntiad yn dibynnu ar leoliad.</p>
    </div>

    <p><a href="https://research.pensionwise.gov.uk/s/bookingfeedback/">Rhowch eich adborth i ni</a></p>
  </div>
</div>
