<% content_for(:page_title, t('service.title', page_title: 'Rydym wedi derbyn eich cais archebu')) %>
<div class="l-grid-row">
  <div class="l-column-two-thirds">
    <div class="govuk-box-highlight">
      <h1 class="bold-large govuk-box-highlight__header">Rydym wedi derbyn eich cais archebu</h1>
    </div>

    <h2>Beth sy’n digwydd nesaf?</h2>

    <p>Byddwn yn rhoi galwad i chi o fewn 2 ddiwrnod gwaith i gadarnhau dyddiad ac amser eich apwyntiad.</p>

    <div class="application-notice info-notice">
      <p>Mae argaeledd apwyntiad yn dibynnu ar leoliad.</p>
    </div>
  </div>
</div>
