<div class="l-grid-row">
  <div class="l-column-full">
    <h1>Book a telephone appointment</h1>
  </div>
</div>

<div class="l-grid-row">
  <div class="l-column-two-thirds">
    <div class="slot-picker" data-slot-picker data-date="2017-01-05">
      <div class="js-slot-picker-calendar-container">
        <script type="text/html" id="slot-picker-calendar-template">
          <button class="slot-picker__prev-month">January</button>
            <h2 class="slot-picker__month js-slot-picker-month">{month}</h2>
          <button class="slot-picker__next-month">Next Month</button>
          <ul aria-hidden="true" class="slot-picker-days">
            <li class="slot-picker-days__day">Mon</li>
            <li class="slot-picker-days__day">Tue</li>
            <li class="slot-picker-days__day">Wed</li>
            <li class="slot-picker-days__day">Thu</li>
            <li class="slot-picker-days__day">Fri</li>
            <li class="slot-picker-days__day">Sat</li>
            <li class="slot-picker-days__day">Sun</li>
          </ul>
          <ul class="slot-picker-calendar">
          </ul>
        </script>
        <script type="text/html" id="slot-picker-calendar-faux-day-template">
            <li class="slot-picker-calendar__day" aria-hidden="true"></li>
        </script>
        <script type="text/html" id="slot-picker-calendar-day-template">
            <li class="slot-picker-calendar__day">
            <button class="slot-picker-calendar__action">
              <span class="visually-hidden">{day}</span>
              <span aria-hidden="true">{day_number}</span>
            </button>
          </li>
        </script>
      </div>
    </div>
  </div>
  <div class="l-column-third">
    &nbsp;
  </div>
</div>

<!-- <select id="slot-picker">
  <optgroup label="Friday 6 January 2017">
    <option>08:30</option>
    <option>09:30</option>
    <option>10:30</option>
    <option>11:00</option>
    <option>11:30</option>
    <option>12:00</option>
    <option>12:30</option>
    <option>14:30</option>
    <option>15:30</option>
    <option>16:30</option>
    <option>17:30</option>
    <option>18:00</option>
    <option>18:30</option>
  </optgroup>
  <optgroup label="Monday 9 January 2017">
    <option>08:30</option>
    <option>09:30</option>
    <option>10:30</option>
    <option>11:00</option>
    <option>11:30</option>
    <option>12:00</option>
    <option>12:30</option>
    <option>14:30</option>
    <option>15:30</option>
    <option>16:30</option>
    <option>17:30</option>
    <option>18:00</option>
    <option>18:30</option>
  </optgroup>
</select> -->
