<% content_for(:page_title, t('service.title', page_title: 'Sorry, we are experiencing technical difficulties (500 error)')) %>

<h1>Sorry, we're having some technical problems</h1>

<p>Please try again in a few moments.</p>
