<% content_for(:page_title, t('service.title', page_title: 'Page not found (404 error)')) %>

<h1>Page not found</h1>

<p>Please check that you entered the correct web address.</p>

<p>Or, you can browse from the <%= link_to 'browse from the homepage', root_path %>
  to find the information you need.</p>
