<div class="application-notice info-notice t-smarter-signposted-banner">
  <p>You are booking a <strong>smarter signposting</strong> appointment</p>
  <p><%= button_to 'Cancel', smarter_signposting_path, method: :delete, class: 'button t-cancel-smarter-signposting' %></p>
</div>
