<h1>Your booking is confirmed</h1>

<p>Thank you for booking a guidance appointment with Pension Wise.</p>

<p>Your reference number is <span class="t-booking-reference"><strong><%= @booking_reference %></strong></span> and one of our guidance specialists will call you on
  <span class="t-start">
    <strong>
      <%= l(@booking_date, format: :govuk_date) %>
    </strong>
    at
    <strong>
      <%= l(@booking_date, format: :govuk_time) %>
    </strong>
  </span>
</p>

<p>You'll receive an email confirming these details and how to prepare for your appointment.</p>
