<% content_for(:page_title, t('service.title', page_title: 'Confirmation')) %>
<% content_for(:page_name, 'telephone-appointments--confirmation') %>
<% content_for(:step_name, 'Results') %>
<% content_for(:tool_step, '3') %>
<% content_for(:tool_name, 'Book a free pension wise appointment') %>

<div class="l-grid-row">
  <div class="l-column-two-thirds">
    <div class="govuk-box-highlight">
      <h2>Your <% if @due_diligence %>Pension Safeguarding Guidance<% else %>Pension Wise<% end %> appointment is confirmed</h2>

      <div class="t-start">
        <p><strong>Date</strong><br><%= l(@booking_date, format: :govuk_date) %></p>
        <p><strong>Time</strong><br><%= l(@booking_date, format: :govuk_time) %> (<%= current_timezone(@booking_date) %>)</p>
        <p><strong>Reference number</strong><br><span class="t-booking-reference"><%= @booking_reference %></span></p>
      </div>
    </div>

    <p>We’ll also send you a booking confirmation, including <a target="_blank" href="https://www.moneyhelper.org.uk/en/pensions-and-retirement/pension-wise/preparing-for-your-appointment">how to prepare for your appointment</a>.</p>
    <p>Remember, we cannot speak to you if you’re driving – even if you use a hands-free device.</p>

    <% if @due_diligence %>
      <h3>How to change your appointment</h3>
      <p>To change your Pension Safeguarding Guidance appointment or any information you’ve given us, call <strong>0800 015 4906</strong>.</p>
    <% else %>
      <h3>How to change or cancel your appointment</h3>
      <p>You can:</p>
      <ul>
        <li><a href="https://www.moneyhelper.org.uk/change-pw" target="_blank">change the date and time of your appointment online</a></li>
        <li><a href="https://www.moneyhelper.org.uk/cancel-pension-wise-phone" target="_blank">cancel your appointment online</a></li>
      </ul>
      <p>You can also reply to the booking confirmation you’ll receive.</p>
    <% end %>
  </div>
</div>
