<% content_for(:canonical, canonical_url) %>

<div class="l-column-full">
  <div class="application-notice info-notice t-lloyds-signposted-banner">
    <p>We are currently experiencing technical issues and have temporarily disabled bookings. Please try again later.</p>
  </div>
</div>
