<div class="l-grid-row">
  <div class="l-column-full">
    <h1>How to book your Pension Wise phone appointment</h1>
    <div role="note" aria-label="Information" class="application-notice info-notice">
      <p>Welcome to MoneyHelper. We're here to give free, impartial guidance to make your money and pension choices clearer.</p>
    </div>

    <p>You've been signposted by your pension provider for a free Pension Wise phone appointment to talk about the options for your defined contribution pension.</p>
    <p>During a Pension Wise appointment, a specialist will talk you through your options for taking your pension money.</p>
    <p>Your appointment will last around 45 to 60 minutes.</p>
    <p>The specialist will:</p>
    <ul>
      <li>explain your pension options</li>
      <li>explain how each option is taxed</li>
      <li>tell you what your next steps are</li>
    </ul>
    <p><a class="button button--primary t-start" href="/en/telephone-appointments/new?nudged=true&embedded=true" role="button">Book your free appointment online</a></p>
    <p>You can also book by calling <a href="tel:0800100166"><strong>0800 100 166</strong></a> free or, if you are overseas, by calling <a href="tel:+441633745828"><strong>+44 1633 745 828</strong></a>*.</p>
    <p>Lines are open Monday to Friday, 8am to 8pm UK time.</p>
    <p>*International call charges may apply.</p>
  </div>
</div>
