<script type="text/html" id="slot-picker-ajax-loader">
  <div class="ajax-loader ajax-loader--48px slot-picker-ajax-loader">
    <span class="visually-hidden">Loading times</span>
  </div>
</script>
<script type="text/html" id="slot-picker-error">
  <div class="error-summary slot-picker-error" role="alert" aria-labelledby="error-times-heading">
    <h2 class="heading-medium slot-picker-header js-slot-picker-error-header" id="error-times-heading" tabindex="-1">An error has occured</h2>
    <p>There was a problem retrieving the appointment times. Please try again.</p>
  </div>
</script>
