<div class="l-grid-row">
  <div class="l-column-full">
    <div class="govuk-box-highlight failure">
      <h1 class="bold-large t-failure-notice">We were unable to reschedule your appointment</h1>
      <p>This may have been due to a technical error or the slot may no longer be available.</p>
      <p>
      <%= link_to 'Start again', new_reschedule_path, class: 'button button--primary' %>
      <a href="https://www.moneyhelper.org.uk/en/pensions-and-retirement/pension-wise" class="button button--secondary" target="_blank">Continue to MoneyHelper</a>
      </p>
      <p>If you're having problems, you can call <strong>0800 138 3944</strong> to reschedule your appointment.</p>
      <p>Please provide your booking reference number (you'll find this in your confirmation email).</p>
    </div>
  </div>
</div>
