<div class="l-grid-row">
  <div class="l-column-full">
    <div class="govuk-box-highlight failure">
      <h1 class="bold-large">We cannot locate your details</h1>
      <p>Some of the details you entered don’t match our records. Go back to enter them again.</p>
      <p>
      <%= link_to 'Return to previous page', new_reschedule_path, class: 'button button--secondary' %>
      <a href="https://www.moneyhelper.org.uk/en/pensions-and-retirement/pension-wise" class="button button--primary" target="_blank">Continue to MoneyHelper</a>
      </p>
      <p>If you're having problems, you can call <strong>0800 138 3944</strong> to reschedule your appointment.</p>
      <p>Please provide your booking reference number (you'll find this in your confirmation email).</p>
    </div>
  </div>
</div>
