<div class="js-feedback feedback t-feedback">
  <a href="#" class="js-feedback__toggle feedback__toggle show-only-with-js t-toggle-feedback">Is there anything wrong with this page?</a>

  <div class="js-feedback__content hide-only-with-js">
    <h2>Help us improve our service</h2>
    <p>Don’t include personal or financial information, e.g. your National Insurance number or credit card details.</p>

    <%= render 'feedbacks/form' %>
  </div>
</div>
