<% if @feedback.valid? %>
  <h3>Thank you for your help</h3>

  <p>If you have more extensive feedback, please visit our <%= link_to 'contact page', guide_path('contact') %>.</a></p>
<% else %>
  <h3>We were unable to send your feedback</h3>

  <p>Don’t include personal or financial information, e.g. your National Insurance number or credit card details.</p>

  <%= render 'feedbacks/form' %>
<% end %>
