<% content_for(:page_title, t('service.title', page_title: 'Feedback')) %>
<% content_for(:meta_description, 'Give your feedback to help us improve our site') %>

<h1>Feedback</h1>

<p>Don’t include personal or financial information, e.g. your National Insurance number or credit card details.</p>

<div class="l-column-two-thirds t-feedback">
  <%= render 'form' %>
</div>
