<div class="l-grid-row">
  <div class="l-column-full">
    <div class="govuk-box-highlight">
      <h1 class="bold-large govuk-box-highlight__header">Your Pension Wise appointment has been cancelled</h1>
      <p>We'll send an email to confirm your appointment has been cancelled. If you gave us your mobile phone number, we'll also send you an SMS confirmation.</p>
      <p>To book a new appointment, <a class="t-rebook-link" href="/en/telephone-appointments/new?rebooked_from=<%= @rebooked_from_id %>">visit the MoneyHelper website</a></p>
      <p>You can also start a <a href="https://test-pwtriage.moneyhelper.org.uk/en/pension-wise-triage" target="_blank">self-guided appointment online</a> whenever you’re ready.</p>
    </div>
  </div>
</div>
