$loader-color: $color-black;
$number-of-circles: 8;
$sin-of-forty-five-degrees: .70711;
$circle-animation-length: .8s;

$ajax-loaders: 24px 48px;

.ajax-loader {
  position: relative;

  &:after {
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    animation-fill-mode: forwards;
  }
}

.ajax-loader--24px {
  width: 24px;
  height: 24px;
}

.ajax-loader--24px:after {
  width: 3px;
  height: 3px;
  top: 10.5px;
  left: 10.5px;
  animation: loader-pulse-24px 0.8s infinite;
  box-shadow: 0 12px 0 1.5px $color-black, -8.48532px 8.48532px 0 0 $color-black, -12px 0 0 0 $color-black, -8.48532px -8.48532px 0 0 $color-black, 0 -12px 0 0 $color-black, 8.48532px -8.48532px 0 0 $color-black, 12px 0 0 0 $color-black, 8.48532px 8.48532px 0 0.75px $color-black;
}

@keyframes loader-pulse-24px {
  0% {
    box-shadow: 0 12px 0 1.5px $color-black, -8.48532px 8.48532px 0 0 $color-black, -12px 0 0 0 $color-black, -8.48532px -8.48532px 0 0 $color-black, 0 -12px 0 0 $color-black, 8.48532px -8.48532px 0 0 $color-black, 12px 0 0 0 $color-black, 8.48532px 8.48532px 0 0.75px $color-black;
  }

  12.5% {
    box-shadow: 0 12px 0 1.5px $color-black, -8.48532px 8.48532px 0 0 $color-black, -12px 0 0 0 $color-black, -8.48532px -8.48532px 0 0 $color-black, 0 -12px 0 0 $color-black, 8.48532px -8.48532px 0 0 $color-black, 12px 0 0 0 $color-black, 8.48532px 8.48532px 0 0.75px $color-black;
  }

  12.501% {
    box-shadow: 0 12px 0 0.75px $color-black, -8.48532px 8.48532px 0 1.5px $color-black, -12px 0 0 0 $color-black, -8.48532px -8.48532px 0 0 $color-black, 0 -12px 0 0 $color-black, 8.48532px -8.48532px 0 0 $color-black, 12px 0 0 0 $color-black, 8.48532px 8.48532px 0 0 $color-black;
  }

  25% {
    box-shadow: 0 12px 0 0.75px $color-black, -8.48532px 8.48532px 0 1.5px $color-black, -12px 0 0 0 $color-black, -8.48532px -8.48532px 0 0 $color-black, 0 -12px 0 0 $color-black, 8.48532px -8.48532px 0 0 $color-black, 12px 0 0 0 $color-black, 8.48532px 8.48532px 0 0 $color-black;
  }

  25.001% {
    box-shadow: 0 12px 0 0 $color-black, -8.48532px 8.48532px 0 0.75px $color-black, -12px 0 0 1.5px $color-black, -8.48532px -8.48532px 0 0 $color-black, 0 -12px 0 0 $color-black, 8.48532px -8.48532px 0 0 $color-black, 12px 0 0 0 $color-black, 8.48532px 8.48532px 0 0 $color-black;
  }

  37.5% {
    box-shadow: 0 12px 0 0 $color-black, -8.48532px 8.48532px 0 0.75px $color-black, -12px 0 0 1.5px $color-black, -8.48532px -8.48532px 0 0 $color-black, 0 -12px 0 0 $color-black, 8.48532px -8.48532px 0 0 $color-black, 12px 0 0 0 $color-black, 8.48532px 8.48532px 0 0 $color-black;
  }

  37.501% {
    box-shadow: 0 12px 0 0 $color-black, -8.48532px 8.48532px 0 0 $color-black, -12px 0 0 0.75px $color-black, -8.48532px -8.48532px 0 1.5px $color-black, 0 -12px 0 0 $color-black, 8.48532px -8.48532px 0 0 $color-black, 12px 0 0 0 $color-black, 8.48532px 8.48532px 0 0 $color-black;
  }

  50% {
    box-shadow: 0 12px 0 0 $color-black, -8.48532px 8.48532px 0 0 $color-black, -12px 0 0 0.75px $color-black, -8.48532px -8.48532px 0 1.5px $color-black, 0 -12px 0 0 $color-black, 8.48532px -8.48532px 0 0 $color-black, 12px 0 0 0 $color-black, 8.48532px 8.48532px 0 0 $color-black;
  }

  50.001% {
    box-shadow: 0 12px 0 0 $color-black, -8.48532px 8.48532px 0 0 $color-black, -12px 0 0 0 $color-black, -8.48532px -8.48532px 0 0.75px $color-black, 0 -12px 0 1.5px $color-black, 8.48532px -8.48532px 0 0 $color-black, 12px 0 0 0 $color-black, 8.48532px 8.48532px 0 0 $color-black;
  }

  62.5% {
    box-shadow: 0 12px 0 0 $color-black, -8.48532px 8.48532px 0 0 $color-black, -12px 0 0 0 $color-black, -8.48532px -8.48532px 0 0.75px $color-black, 0 -12px 0 1.5px $color-black, 8.48532px -8.48532px 0 0 $color-black, 12px 0 0 0 $color-black, 8.48532px 8.48532px 0 0 $color-black;
  }

  62.501% {
    box-shadow: 0 12px 0 0 $color-black, -8.48532px 8.48532px 0 0 $color-black, -12px 0 0 0 $color-black, -8.48532px -8.48532px 0 0 $color-black, 0 -12px 0 0.75px $color-black, 8.48532px -8.48532px 0 1.5px $color-black, 12px 0 0 0 $color-black, 8.48532px 8.48532px 0 0 $color-black;
  }

  75% {
    box-shadow: 0 12px 0 0 $color-black, -8.48532px 8.48532px 0 0 $color-black, -12px 0 0 0 $color-black, -8.48532px -8.48532px 0 0 $color-black, 0 -12px 0 0.75px $color-black, 8.48532px -8.48532px 0 1.5px $color-black, 12px 0 0 0 $color-black, 8.48532px 8.48532px 0 0 $color-black;
  }

  75.001% {
    box-shadow: 0 12px 0 0 $color-black, -8.48532px 8.48532px 0 0 $color-black, -12px 0 0 0 $color-black, -8.48532px -8.48532px 0 0 $color-black, 0 -12px 0 0 $color-black, 8.48532px -8.48532px 0 0.75px $color-black, 12px 0 0 1.5px $color-black, 8.48532px 8.48532px 0 0 $color-black;
  }

  87.5% {
    box-shadow: 0 12px 0 0 $color-black, -8.48532px 8.48532px 0 0 $color-black, -12px 0 0 0 $color-black, -8.48532px -8.48532px 0 0 $color-black, 0 -12px 0 0 $color-black, 8.48532px -8.48532px 0 0.75px $color-black, 12px 0 0 1.5px $color-black, 8.48532px 8.48532px 0 0 $color-black;
  }

  87.501% {
    box-shadow: 0 12px 0 0 $color-black, -8.48532px 8.48532px 0 0 $color-black, -12px 0 0 0 $color-black, -8.48532px -8.48532px 0 0 $color-black, 0 -12px 0 0 $color-black, 8.48532px -8.48532px 0 0 $color-black, 12px 0 0 0.75px $color-black, 8.48532px 8.48532px 0 1.5px $color-black;
  }

  99.999% {
    box-shadow: 0 12px 0 0 $color-black, -8.48532px 8.48532px 0 0 $color-black, -12px 0 0 0 $color-black, -8.48532px -8.48532px 0 0 $color-black, 0 -12px 0 0 $color-black, 8.48532px -8.48532px 0 0 $color-black, 12px 0 0 0.75px $color-black, 8.48532px 8.48532px 0 1.5px $color-black;
  }
}

.ajax-loader--48px {
  width: 48px;
  height: 48px;
}

.ajax-loader--48px:after {
  width: 6px;
  height: 6px;
  top: 21px;
  left: 21px;
  animation: loader-pulse-48px 0.8s infinite;
  box-shadow: 0 24px 0 3px $color-black, -16.97064px 16.97064px 0 0 $color-black, -24px 0 0 0 $color-black, -16.97064px -16.97064px 0 0 $color-black, 0 -24px 0 0 $color-black, 16.97064px -16.97064px 0 0 $color-black, 24px 0 0 0 $color-black, 16.97064px 16.97064px 0 1.5px $color-black;
}

@keyframes loader-pulse-48px {
  0% {
    box-shadow: 0 24px 0 3px $color-black, -16.97064px 16.97064px 0 0 $color-black, -24px 0 0 0 $color-black, -16.97064px -16.97064px 0 0 $color-black, 0 -24px 0 0 $color-black, 16.97064px -16.97064px 0 0 $color-black, 24px 0 0 0 $color-black, 16.97064px 16.97064px 0 1.5px $color-black;
  }

  12.5% {
    box-shadow: 0 24px 0 3px $color-black, -16.97064px 16.97064px 0 0 $color-black, -24px 0 0 0 $color-black, -16.97064px -16.97064px 0 0 $color-black, 0 -24px 0 0 $color-black, 16.97064px -16.97064px 0 0 $color-black, 24px 0 0 0 $color-black, 16.97064px 16.97064px 0 1.5px $color-black;
  }

  12.501% {
    box-shadow: 0 24px 0 1.5px $color-black, -16.97064px 16.97064px 0 3px $color-black, -24px 0 0 0 $color-black, -16.97064px -16.97064px 0 0 $color-black, 0 -24px 0 0 $color-black, 16.97064px -16.97064px 0 0 $color-black, 24px 0 0 0 $color-black, 16.97064px 16.97064px 0 0 $color-black;
  }

  25% {
    box-shadow: 0 24px 0 1.5px $color-black, -16.97064px 16.97064px 0 3px $color-black, -24px 0 0 0 $color-black, -16.97064px -16.97064px 0 0 $color-black, 0 -24px 0 0 $color-black, 16.97064px -16.97064px 0 0 $color-black, 24px 0 0 0 $color-black, 16.97064px 16.97064px 0 0 $color-black;
  }

  25.001% {
    box-shadow: 0 24px 0 0 $color-black, -16.97064px 16.97064px 0 1.5px $color-black, -24px 0 0 3px $color-black, -16.97064px -16.97064px 0 0 $color-black, 0 -24px 0 0 $color-black, 16.97064px -16.97064px 0 0 $color-black, 24px 0 0 0 $color-black, 16.97064px 16.97064px 0 0 $color-black;
  }

  37.5% {
    box-shadow: 0 24px 0 0 $color-black, -16.97064px 16.97064px 0 1.5px $color-black, -24px 0 0 3px $color-black, -16.97064px -16.97064px 0 0 $color-black, 0 -24px 0 0 $color-black, 16.97064px -16.97064px 0 0 $color-black, 24px 0 0 0 $color-black, 16.97064px 16.97064px 0 0 $color-black;
  }

  37.501% {
    box-shadow: 0 24px 0 0 $color-black, -16.97064px 16.97064px 0 0 $color-black, -24px 0 0 1.5px $color-black, -16.97064px -16.97064px 0 3px $color-black, 0 -24px 0 0 $color-black, 16.97064px -16.97064px 0 0 $color-black, 24px 0 0 0 $color-black, 16.97064px 16.97064px 0 0 $color-black;
  }

  50% {
    box-shadow: 0 24px 0 0 $color-black, -16.97064px 16.97064px 0 0 $color-black, -24px 0 0 1.5px $color-black, -16.97064px -16.97064px 0 3px $color-black, 0 -24px 0 0 $color-black, 16.97064px -16.97064px 0 0 $color-black, 24px 0 0 0 $color-black, 16.97064px 16.97064px 0 0 $color-black;
  }

  50.001% {
    box-shadow: 0 24px 0 0 $color-black, -16.97064px 16.97064px 0 0 $color-black, -24px 0 0 0 $color-black, -16.97064px -16.97064px 0 1.5px $color-black, 0 -24px 0 3px $color-black, 16.97064px -16.97064px 0 0 $color-black, 24px 0 0 0 $color-black, 16.97064px 16.97064px 0 0 $color-black;
  }

  62.5% {
    box-shadow: 0 24px 0 0 $color-black, -16.97064px 16.97064px 0 0 $color-black, -24px 0 0 0 $color-black, -16.97064px -16.97064px 0 1.5px $color-black, 0 -24px 0 3px $color-black, 16.97064px -16.97064px 0 0 $color-black, 24px 0 0 0 $color-black, 16.97064px 16.97064px 0 0 $color-black;
  }

  62.501% {
    box-shadow: 0 24px 0 0 $color-black, -16.97064px 16.97064px 0 0 $color-black, -24px 0 0 0 $color-black, -16.97064px -16.97064px 0 0 $color-black, 0 -24px 0 1.5px $color-black, 16.97064px -16.97064px 0 3px $color-black, 24px 0 0 0 $color-black, 16.97064px 16.97064px 0 0 $color-black;
  }

  75% {
    box-shadow: 0 24px 0 0 $color-black, -16.97064px 16.97064px 0 0 $color-black, -24px 0 0 0 $color-black, -16.97064px -16.97064px 0 0 $color-black, 0 -24px 0 1.5px $color-black, 16.97064px -16.97064px 0 3px $color-black, 24px 0 0 0 $color-black, 16.97064px 16.97064px 0 0 $color-black;
  }

  75.001% {
    box-shadow: 0 24px 0 0 $color-black, -16.97064px 16.97064px 0 0 $color-black, -24px 0 0 0 $color-black, -16.97064px -16.97064px 0 0 $color-black, 0 -24px 0 0 $color-black, 16.97064px -16.97064px 0 1.5px $color-black, 24px 0 0 3px $color-black, 16.97064px 16.97064px 0 0 $color-black;
  }

  87.5% {
    box-shadow: 0 24px 0 0 $color-black, -16.97064px 16.97064px 0 0 $color-black, -24px 0 0 0 $color-black, -16.97064px -16.97064px 0 0 $color-black, 0 -24px 0 0 $color-black, 16.97064px -16.97064px 0 1.5px $color-black, 24px 0 0 3px $color-black, 16.97064px 16.97064px 0 0 $color-black;
  }

  87.501% {
    box-shadow: 0 24px 0 0 $color-black, -16.97064px 16.97064px 0 0 $color-black, -24px 0 0 0 $color-black, -16.97064px -16.97064px 0 0 $color-black, 0 -24px 0 0 $color-black, 16.97064px -16.97064px 0 0 $color-black, 24px 0 0 1.5px $color-black, 16.97064px 16.97064px 0 3px $color-black;
  }

  99.999% {
    box-shadow: 0 24px 0 0 $color-black, -16.97064px 16.97064px 0 0 $color-black, -24px 0 0 0 $color-black, -16.97064px -16.97064px 0 0 $color-black, 0 -24px 0 0 $color-black, 16.97064px -16.97064px 0 0 $color-black, 24px 0 0 1.5px $color-black, 16.97064px 16.97064px 0 3px $color-black;
  }
}
