.breadcrumbs__list {
  @extend %contain-floats;
  margin: 0;
  padding: .75em 0;
}

.breadcrumbs__item {
  @include core-16;
  list-style: none;
  margin: 0 .5em .4em 0;
  padding-right: 1em;
  float: left;
}

.breadcrumbs__link:link,
.breadcrumbs__link:visited {
  color: $text-colour;
}
