.bullet {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 10px;
}

.bullet--leave-pot-untouched {
  background: image-url("css/bullet-options.png") -4px -6px;
}

.bullet--guaranteed-income {
  background: image-url("css/bullet-options.png") -4px -30px;
}

.bullet--adjustable-income {
  background: image-url("css/bullet-options.png") -4px -78px;
}

.bullet--take-cash {
  background: image-url("css/bullet-options.png") -4px -54px;
}

.bullet--mix-options {
  background: image-url("css/bullet-options.png") -4px -102px;
}
