.bullet {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  background-image: image-url("css/bullet-options.png");
  background-repeat: no-repeat;
}

.bullet--leave-pot-untouched {
  background-position: 0 0;
}

.bullet--guaranteed-income {
  background-position: 0 -15px;
}

.bullet--adjustable-income {
  background-position: 0 -31px;
}

.bullet--take-cash-in-chunks {
  background-position: 0 -46px;
}

.bullet--take-whole-pot {
  background-position: 0 -62px;
}

.bullet--mix-options {
  background-position: 0 -78px;
}
