.bullet {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 10px;
}

.bullet--untouched {
  background: image-url("css/bullet-options.png") -4px -6px;
}

.bullet--annuity {
  background: image-url("css/bullet-options.png") -4px -30px;
}

.bullet--flexible {
  background: image-url("css/bullet-options.png") -4px -78px;
}

.bullet--cash {
  background: image-url("css/bullet-options.png") -4px -54px;
}

.bullet--mix {
  background: image-url("css/bullet-options.png") -4px -102px;
}
