@import "../money-helper-variables";

.calculator {
  overflow: hidden;
}

.calculator--in-article {
  padding-left: 1.5em;

  h2 {
    margin-top: 1em;
  }

  &.calculator--mix-options {
    border-left-color: $color-option-mix-options;
  }
}

.calculator__submit,
.calculator__result,
.calculator__loading-status {
  float: left;
}

.calculator__loading-status {
  display: none;
  line-height: 2.25;
}

.calculator__loading-status--loading {
  display: block;
}

.calculator__field {
  width: auto;
}

.calculator__field--small {
  width: 25%;
}

.calculator__field--frequency-select {
  width: 25%;
  -webkit-appearance: menulist;
}
