.calculator {
  overflow: hidden;
}

.calculator--in-article {
  border-left: 10px solid $color-black;
  padding-left: 1.5em;

  h2 {
    margin-top: 1em;
  }

  &.calculator--leave-pot-untouched {
    border-left-color: $color-option-leave-pot-untouched;
  }

  &.calculator--guaranteed-income {
    border-left-color: $color-option-guaranteed-income;
  }

  &.calculator--adjustable-income {
    border-left-color: $color-option-adjustable-income;
  }

  &.calculator--take-cash-in-chunks {
    border-left-color: $color-option-take-cash;
  }

  &.calculator--take-whole-pot {
    border-left-color: $color-option-take-whole-pot;
  }

  &.calculator--mix-options {
    border-left-color: $color-option-mix-options;
  }
}

.calculator__loading-status {
  display: none;
  line-height: 2.15;
}

.calculator__field {
  width: auto;
}

.calculator__field--small {
  width: 25%;
}

.calculator__field--frequency-select {
  width: 25%;
  -webkit-appearance: menulist;
}

.calculator__result__number {
  @include bold-24;
  display: block;
  margin: .4em .5em .4em 0;
}
