.circle {
  border-radius: 100%;
  display: block;

  &.circle--leave-pot-untouched {
    background-color: $color-option-leave-pot-untouched;
  }

  &.circle--guaranteed-income {
    background-color: $color-option-guaranteed-income;
  }

  &.circle--adjustable-income {
    background-color: $color-option-adjustable-income;
  }

  &.circle--take-cash-in-chunks {
    background-color: $color-option-take-cash;
  }

  &.circle--take-whole-pot {
    background-color: $color-option-take-whole-pot;
  }

  &.circle--mix-options {
    background-color: $color-option-mix-options;
  }
}

.circle--s {
  height: 14px;
  width: 14px;

  @include media(tablet) {
    height: 18px;
    width: 18px;
  }
}

.circle--m {
  margin-top: 15px;
  margin-bottom: -10px;
  width: 24px;
  height: 24px;
}
