// scss-lint:disable IdSelector
#footer {
  .footer-wrapper {
    @include media(tablet) {
      margin: auto;
      max-width: 1024px;
    }
  }

  .footer-meta {
    @include media(tablet) {
      margin: 0 30px;
    }
  }
}

.footer-categories {
  @extend %contain-floats;
  margin-bottom: 50px;

  @include media(tablet) {
    margin: 0 15px 50px;
    padding: 0 0 $gutter;
  }
}

.footer-categories__two-column,
.footer-categories__one-column {
  @include media(tablet) {
    float: left;
    width: 66.66%;
    padding-bottom: 60px;
  }
}

.footer-categories__one-column {
  @include media(tablet) {
    float: left;
    width: 33.33%;

    ul {
      width: 80%;

      li {
        width: 100%;
      }
    }
  }
}

.footer-categories__heading {
  margin: 0;
  padding: 10px 0 0;

  @include media(tablet) {
    margin: 0 15px;
    padding: 0 0 20px;
    border-bottom: 1px solid $border-colour;
  }
}

.footer-categories__list {
  @include core-16;
  list-style: none;
  padding: 0;
  margin: 0;

  @include media(tablet) {
    float: left;
    margin: 5px 0 0;
    width: 50%;
  }


  li {
    display: block;
    margin-bottom: 5px;

    padding: 10px 0 0;
    margin: 0 0 5px;

    @include media(tablet) {
      padding: 12px 0 0;
      margin: 0 15px;
    }
  }
}
