.journey-promo__heading {
  margin-top: 0;
}

.journey-promo__anchor:link,
.journey-promo__anchor:visited {
  color: #000;
  text-decoration: none;
}

.journey-promo__anchor:hover {
  text-decoration: underline;
}

.journey-promo__link-cta {
  margin-bottom: 0;
}
