.journey-promo__heading {
  margin-top: 0;
}

.journey-promo__list {
  margin-bottom: 0;

  @include media(tablet) {
     @include core-16;
   }

  @include media(desktop) {
    margin-right: 56px;
  }
}

.journey-promo__item {
  min-height: 30px;

  @include media(tablet) {
    min-height: 50px;
  }

}

.journey-promo__anchor:link,
.journey-promo__anchor:visited {
  color: #000;
  text-decoration: none;
}

.journey-promo__anchor:hover {
  text-decoration: underline;
}

.journey-promo__link-cta {
  margin-top: 12px;
  margin-bottom: 0;
}
