.l-page-landing-nav {
  overflow: hidden;
}

.landing-nav {
  margin-bottom: 0;

  @include media(tablet) {
    float: right;
  }
}

.landing-nav__item {
  display: block;
  list-style: none;
  margin: .4em 0;

  @include media(tablet) {
    display: inline-block;
    margin: .2em 0;

    & + & {
      &:before {
        content: " | ";
        margin: 0 5px;
      }
    }
  }
}

.landing-nav__link:link {
  color: $color-white;
  text-decoration: none;
}

.landing-nav__link:hover,
.landing-nav__link:visited {
  color: $color-white;
  text-decoration: underline;
}

.landing-nav__link:focus {
  color: $color-black;
}

.landing-page {
  background: $grey-3;

  .l-masthead {
    background: $govuk-blue;
    color: $color-white;
  }
}

.landing-logo {
  width: 150px;
  margin-top: 16px;

  @include media(tablet) {
    width: 90%;
    margin-top: 44px;
  }
}

.landing-promo {
  color: $color-white;
  padding: 16px 0;
  background-color: $home-row-accent-background;
  background-image: linear-gradient(to bottom, $color-coffee-background-dark 0%, $color-coffee-background-light 100%);
  overflow: hidden;

  @include media(tablet) {
    padding: 28px 0 0;
  }
}

.landing-heading {
  margin-top: 8px;
  margin-bottom: 10px;

  @include media(tablet) {
    margin-top: 32px;
  }

  @include media(desktop) {
    margin-top: 45px;
  }
}

.landing-subheading {
  @include bold-36();
  margin-top: 16px;
  margin-bottom: .8em;

  @include media(tablet) {
    margin-top: 0;
  }
}

.l-landing-row {
  padding-top: 28px;
  padding-bottom: 14px;
}

.l-landing {
  overflow: hidden;
  padding-bottom: 0;

  // scss-lint:disable IdSelector
  // from: https://github.com/alphagov/govuk_elements/blob/master/public/sass/elements/_layout.scss#L7
  // Allow an ID here, this is useful as it matches the GOV.UK template skiplink
  // scss-lint:disable IdSelector
  #content {
    max-width: none;
    padding-bottom: 0;
    margin: auto;
  }
}

.l-landing-promo {
  position: relative;
  overflow: hidden;
}

.landing-image {
  @include media(tablet) {
    float: left;
    margin: 0 16px 16px 0;
    width: 45%;
  }

  @include media(desktop) {
    width: 35%;
  }
}
