.location-list {
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 1em;
  border-bottom: 1px solid $grey-2;

  li::before {
    content: "";
  }
}

.location-list__item {
  margin: 0 0 1em;
  padding-left: 0;
  padding-top: 2em;
  list-style: none;
  border-top: 1px solid $grey-2;
}

.location-list__name {
  @include bold-24();
  margin-top: 0;
}

.location-list__distance-label {
  font-weight: bold;
}

//*----- layout ------ */
form + .location-list {
  margin-top: 2em;
}
