.location-list {
  margin-left: 0;
  padding-left: 0;
}

.location-list__item {
  margin: 0 0 2em;
  padding-left: 0;
  list-style: none;
}

.location-list__name {
  @include bold-19();
  margin: 0;
}

.location-list__distance-label {
  font-weight: bold;
}

//*----- layout ------ */
form + .location-list {
  margin-top: 2em;
}
