.locations-promo {
  border-top: 1px solid $color-rule-grey;
  border-bottom: 1px solid $color-rule-grey;
  margin-top: 2.5em;
  padding: 1em 0 .6em;
}

.locations-promo__heading {
  margin-top: 0;
}
