.maps-header {
  background: $maps-background;
}

.maps-header-wrapper {
  @include media(tablet) {
    margin: auto;
    max-width: 1024px;
  }
}

.maps-header-meta {
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
  align-items: center;
  // scss-lint:disable PropertySpelling
  justify-content: flex-end;
  margin: 0 15px;
  padding: 12px 0;

  @include media(tablet) {
    margin: 0 30px;
  }
}
