.maps-footer {
  background: $maps-background;
}

.maps-footer-wrapper {
  @include media(tablet) {
    margin: auto;
    max-width: 1024px;
  }
}

.maps-footer-meta {
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
  align-items: center;
  // scss-lint:disable PropertySpelling
  justify-items: start;
  margin: 0 15px;
  padding: 12px 0;

  @include media(tablet) {
    margin: 0 30px;
  }
}

.maps-text {
  font-size: 16px;
  color: $white;
}

.maps-logo {
  display: block;
  height: 40px;
  margin-left: 15px;
}
