.marketing-page {
  #global-header-bar { // scss-lint:disable IdSelector
    display: none;
  }

  .l-masthead {
    display: none;
  }

  .l-home-row--callout {
    @extend %outdent-to-full-width;
    padding: 0;
  }

  .l-home-row-callout__content {
    padding-top: 28px;
    padding-bottom: 14px;

    @include media(desktop) {
      background-repeat: no-repeat;
      background-position: 97% 0%;
      background-size: 54%;
      padding-top: 2%;
      padding-bottom: 7%;

      .lte-ie8 & {
        background-image: none;
      }
    }
  }

  .l-home-row-callout__column {
    @include grid-column(1/1);

    @include media(desktop) {
      @include grid-column(1/2);
    }
  }

  .l-home-single-column-subheading {
    @include bold-36();
  }

  .landing-image {
    width: 100%;
  }
}

.l-campaign-dogs {
  .l-home-row--callout {
    background: $color-dogs-background-light;
    background-image: linear-gradient(to bottom, $color-dogs-background-dark 0%, $color-dogs-background-light 100%);
  }

  .l-home-row-callout__content {
    @include media(desktop) {
      background-image: image-url("campaigns/dogs/poster.png");

      @include device-pixel-ratio(2) {
        background-image: image-url("campaigns/dogs/poster-2x.png");
      }
    }
  }

  .l-marketing-row--flip {
    background-color: $color-dogs-background-dark;
    background-image: linear-gradient(to bottom, $color-dogs-background-light 0%, $color-dogs-background-dark 100%);
  }

  .l-marketing-promo {
    background-color: $color-dogs-background-dark;
    background-image: linear-gradient(to bottom, $color-dogs-background-dark 0%, $color-dogs-background-light 100%);
  }

  .l-marketing-promo__content {
    background-image: image-url("campaigns/dogs/banner.png");

    @include media(desktop) {
      @include device-pixel-ratio(2) {
        background-image: image-url("campaigns/dogs/banner-2x.png");
      }
    }
  }

  .l-marketing-row--campaign {
    .l-home-row-callout__content {
      @include media(tablet) {
        background-image: image-url("campaigns/dogs/expectant.png");

        @include device-pixel-ratio(2) {
          background-image: image-url("campaigns/dogs/expectant-2x.png");
        }
      }
    }
  }
}

.l-campaign-apples {
  .l-home-row--callout {
    background: $color-apples-background-light;
    background-image: linear-gradient(to bottom, $color-apples-background-dark 0%, $color-apples-background-light 100%);
  }

  .l-home-row-callout__content {
    @include media(desktop) {
      background-image: image-url("campaigns/apples/poster.png");

      @include device-pixel-ratio(2) {
        background-image: image-url("campaigns/apples/poster-2x.png");
      }
    }
  }

  .l-marketing-row--flip {
    background-color: $color-apples-background-dark;
    background-image: linear-gradient(to bottom, $color-apples-background-light 0%, $color-apples-background-dark 100%);
  }

  .l-marketing-promo {
    background-color: $color-dogs-background-dark;
    background-image: linear-gradient(to bottom, $color-apples-background-dark 0%, $color-apples-background-light 100%);
  }

  .l-marketing-promo__content {
    background-image: image-url("campaigns/apples/banner.png");

    @include media(desktop) {
      @include device-pixel-ratio(2) {
        background-image: image-url("campaigns/apples/banner-2x.png");
      }
    }
  }

  .l-marketing-row--campaign {
    .l-home-row-callout__content {
      @include media(tablet) {
        background-image: image-url("campaigns/apples/expectant.png");

        @include device-pixel-ratio(2) {
          background-image: image-url("campaigns/apples/expectant-2x.png");
        }
      }
    }
  }
}

.l-campaign-peppers {
  .l-home-row--callout {
    background: $color-peppers-background-light;
    background-image: linear-gradient(to bottom, $color-peppers-background-dark 0%, $color-peppers-background-light 100%);
  }

  .l-home-row-callout__content {
    @include media(desktop) {
      background-image: image-url("campaigns/peppers/poster.png");

      @include device-pixel-ratio(2) {
        background-image: image-url("campaigns/peppers/poster-2x.png");
      }
    }
  }

  .l-marketing-row--flip {
    background-color: $color-peppers-background-dark;
    background-image: linear-gradient(to bottom, $color-peppers-background-light 0%, $color-peppers-background-dark 100%);
  }

  .l-marketing-promo {
    background-color: $color-dogs-background-dark;
    background-image: linear-gradient(to bottom, $color-peppers-background-dark 0%, $color-peppers-background-light 100%);
  }

  .l-marketing-promo__content {
    background-image: image-url("campaigns/peppers/banner.png");

    @include media(desktop) {
      @include device-pixel-ratio(2) {
        background-image: image-url("campaigns/peppers/banner-2x.png");
      }
    }
  }

  .l-marketing-row--campaign {
    .l-home-row-callout__content {
      @include media(tablet) {
        background-image: image-url("campaigns/peppers/expectant.png");

        @include device-pixel-ratio(2) {
          background-image: image-url("campaigns/peppers/expectant-2x.png");
        }
      }
    }
  }
}

.l-campaign-paint {
  .l-marketing-promo {
    background-color: $color-dogs-background-dark;
    background-image: linear-gradient(to bottom, $color-paint-background-dark 0%, $color-paint-background-light 100%);
  }

  .l-marketing-promo__button {
    display: none;

    @include media(tablet) {
      display: block;
      position: absolute;
      top: 50%;
      left: 70%;
      transform: translate(-50%, -50%);
    }
  }

  .l-marketing-row--campaign {
    .l-home-row-callout__content {
      @include media(tablet) {
        background-image: image-url("campaigns/paint/expectant.png");

        @include device-pixel-ratio(2) {
          background-image: image-url("campaigns/paint/expectant-2x.png");
        }
      }
    }
  }
}

.marketing-logo {
  width: 150px;
  height: 100%;
  margin-top: 16px;

  @include media(tablet) {
    width: 120%;
    margin-top: 32px;
  }
}

.l-marketing-promo {
  overflow: hidden;
  padding: 0;
  position: relative;
}

.l-marketing-column {
  @include media(tablet) {
    position: relative;
  }
}

.l-marketing-promo__content {
  background-position: 90% 92%;
  background-repeat: no-repeat;
  background-size: 28%;
  padding: 19px 0 0;

  @include media(desktop) {
    background-size: 37%;
    background-position: 90% 37%;
    padding: 19px 0;
  }
}

.marketing-promo__call {
  display: inline-block;
  position: relative;
  margin-top: .1em;

  @include media(tablet) {
    margin-left: -.3em;
  }
}

.marketing-promo__number {
  display: inline-block;
  top: .1em;
  font-size: 130%;
  font-weight: bold;
  position: relative;
  padding-left: .1em;

  a[href^="tel"] {
    color: $color-white;
  }
}

.marketing-heading {
  margin-top: 8px;
  margin-bottom: 10px;

  @include media(tablet) {
    margin-top: 32px;
  }

  @include media(desktop) {
    margin-top: 45px;
  }
}

.marketing-subheading {
  @include bold-36();
  margin-top: 0;
  padding-top: 16px;
  margin-bottom: .8em;
}

.l-marketing-row {
  padding-top: 28px;
  padding-bottom: 14px;
}

.l-marketing-row--flat {
  padding-top: 0;
  padding-bottom: 0;
}

.l-marketing-row--campaign {
  .l-home-row-callout__content {
    @include media(tablet) {
      background-position: 0% 6px;
      background-repeat: no-repeat;
      background-size: 27%;
      padding-bottom: 5%;
    }
  }
}

.l-marketing {
  overflow: hidden;
  padding-bottom: 0;

  // scss-lint:disable IdSelector
  // from: https://github.com/alphagov/govuk_elements/blob/master/public/sass/elements/_layout.scss#L7
  // Allow an ID here, this is useful as it matches the GOV.UK template skiplink
  // scss-lint:disable IdSelector
  #content {
    max-width: none;
    padding-bottom: 0;
    margin: auto;
  }
}

.marketing-image {
  @include media(tablet) {
    float: right;
    margin: 0 0 16px 32px;
    width: 45%;
  }

  @include media(desktop) {
    width: 40%;
  }
}

.marketing-book {
  font-size: 70%;
  margin-bottom: 0;
}

.l-marketing-faux-column {
  display: none;

  @include media(tablet) {
    display: block;
  }
}

.marketing-book-content {
  @include media(tablet) {
    &:before {
      content: "";
      display: block;
      float: right;
      height: 0;
      margin-left: 20px;
      padding-bottom: 51%;
      position: relative;
      width: 50%;
    }
  }

  @include media(900px) {
    &:before {
      padding-bottom: 40%;
    }
  }
}
