$nav-background: lighten($grey-3, 3%);
$nav-background-alt: $grey-3;

.nav {
  text-align: left;
  display: inline-block;
  margin: 8px -130px 0 130px;
  padding: 0;
  list-style: none;
}

.nav__item {
  font-size: 17px;
  display: inline-block;
  margin-right: -32px;
  position: relative;
  padding: 15px 17px;
  cursor: pointer;
  max-width: 15%;

  &:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 40px;
    background: $border-colour;
    top: 50%;
    margin-top: -20px;
    left: 0;
    z-index: 50;
  }

  &:first-child {
    border-left:1px solid $border-colour;

    &:hover {
      border-left: none;
    }

    &:after {
      display: none;
    }
  }

  &:hover,
  &:focus {
    background: $nav-background;
    z-index: 55;

    &:after {
      display: none;
    }

    .nav__sub-nav {
      display: block;
    }
  }
}

.l-page-nav {
  .nav__item {
    &:first-child {
      border-left: none;
    }
  }
}

.nav__sub-nav {
  display: none;
  background: $nav-background;
  position: absolute;
  overflow: hidden;
  top: 70px;
  left: 0;
  z-index: 50;
}

.nav__sub-nav--double {
  width:402px
}

.nav__sub-nav-list {
  padding: 16px 8px 5px 0;
  margin: 0;
  margin-left: -3px;
  width: 190px;
  float: left;

  .nav__item {
    display: block;
    cursor: default;
    font-size: 16px;
    max-width: none;
    margin-right: 0;
    padding: 5px 0 3px;
    border-left: none;

    &:hover {
      background: none;
    }

    &:after {
      display: none;
    }

    a {
      color: $link-colour;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  .nav__item--parent {
    font-weight: bold;
  }
}

.nav__sub-nav-list--first {
  border-right: 2px solid rgba(255, 255, 255, 0.3);
}

.nav__sub-nav-list--second {
  margin-left: 0;
  background-color: $nav-background-alt;
  padding-right: 15px;
}
