$nav-background: lighten($grey-3, 3%);
$nav-background-alt: $grey-3;

//*-------------- mixins --------------------*/
@mixin bullet($color, $radius, $top: 5px) {
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: $top;
    margin-left: -25px;
    width: $radius;
    height: $radius;
    border-radius: $radius;
    background: $color;
  }
}

.nav {
  text-align: left;
  display: inline-block;
  padding: 0;
  list-style: none;

  @include media(desktop) {
    margin: 8px -138px 0 138px;
  }
}

.nav__item {
  font-size: 17px;
  font-weight: bold;
  display: block;
  margin-left: 0;

  @include media(desktop) {
    display: inline-block;
    margin-right: -32px;
    margin-left: 20px;
    position: relative;
    padding: 15px;
    cursor: pointer;
    max-width: 15%;

    &:after {
      content: "";
      position: absolute;
      width: 1px;
      height: 40px;
      background: $border-colour;
      top: 50%;
      margin-top: -20px;
      left: 0;
      z-index: 50;
    }

    &:first-child {
      border-left:1px solid $border-colour;

      &:hover {
        border-left: none;
      }

      &:after {
        display: none;
      }
    }

    &:hover,
    &:focus {
      background: $nav-background;
      z-index: 55;

      &:after {
        display: none;
      }

      .nav__sub-nav {
        display: block;
      }
    }
  }
}

.l-page-nav {
  .nav__item {
    &:first-child {
      border-left: none;
    }
  }
}

.nav__item-label--single {
  @include media(desktop) {
    top: 10px;
    position: relative;
  }
}

.nav__sub-nav {
  display: none;
  background: $nav-background;
  position: absolute;
  overflow: hidden;
  top: 70px;
  left: 0;
  z-index: 50;
}

.nav__sub-nav--left {
  left: -111px;
}

.nav__sub-nav--double {
  width:464px
}

.nav__sub-nav-list {
  padding: 16px 8px 5px 0;
  margin: 0;
  margin-left: -3px;
  width: 190px;
  float: left;

  .nav__item {
    display: block;
    cursor: default;
    font-size: 17px;
    font-weight: normal;
    max-width: none;
    margin-right: 0;
    padding: 5px 0 3px;
    border-left: none;

    &:hover {
      background: none;
    }

    &:after {
      display: none;
    }

    a {
      color: $link-colour;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  .nav__item--parent {
    font-weight: bold;
  }
}

.nav__sub-nav-list--first {
  border-right: 2px solid rgba(255, 255, 255, 0.3);
  width: 205px;
}

.nav__sub-nav-list--second {
  margin-left: 0;
  background-color: $nav-background-alt;
  padding-right: 15px;
  min-height: 281px;
  width:237px;
}

.nav__option {
  position: relative;
  left: 26px;
}

.nav__option--untouched {
  @include bullet($color-option-leave-pot-untouched, 14px);
}
.nav__option--annuity {
  @include bullet($color-option-guaranteed-income, 14px);
}
.nav__option--adjustable {
  @include bullet($color-option-adjustable-income, 14px);
}
.nav__option--chunks {
  @include bullet($color-option-take-cash, 14px);
}
.nav__option--whole {
  @include bullet($color-option-whole-pot, 14px);
}
.nav__option--mix {
  @include bullet($color-option-mix-options, 14px);
}
