@import "../money-helper-variables";

.next-steps {
  display: inline-block;
  position: relative;
  padding: 2rem;
  margin-bottom: 1rem 0 2rem;
  width: 100%;

  @include media($mq-l) {
    padding: 3rem;
    margin: 2rem 0 3rem;
  }
}

.next-steps--leave-pot-untouched,
.next-steps--guaranteed-income,
.next-steps--adjustable-income,
.next-steps--take-cash-in-chunks,
.next-steps--whole-pot,
.next-steps--mix-options {
  background: $color-light-grey-supporting;
}
