@import "../money-helper-variables";

.next-steps {
  padding: 2rem;
  margin-bottom: 1.5rem 0;
  border-radius: 0 0 0 36px;

  @include media($mq-l) {
    padding: 3rem;
    margin: 3rem 0;
  }
}

.next-steps--leave-pot-untouched,
.next-steps--guaranteed-income,
.next-steps--adjustable-income,
.next-steps--take-cash-in-chunks,
.next-steps--whole-pot,
.next-steps--mix-options {
  // background: $color-light-grey-supporting;
  border: 9px solid $color-light-grey-supporting;
}
