.options-overview {
  margin-bottom: 24px;

  h2 {
    margin-top: 0;

    @include media(tablet) {
      margin-top: 36px;
    }
  }

  .circle {
    position: absolute;
    top: 7px;

    @include media(tablet) {
      top: 29px;
    }

    @media (min-width: 1040px) {
      left: -32px;
      top: 4px;
    }
  }
}

.options-overview__item {
  position: relative;
  padding-top: 35px;

  @media (min-width: 1040px) {
    padding-top: 0;
  }
}

.options-overview__compare-title {
  color: $color-options-overview-compare;
  font-weight: normal;
}
