.option {
  margin-top: 60px;

  h2 {
    @include core-36;
    margin-top: .9em;
    font-weight: normal;
  }
}

.option--annuity {
  .example,
  .info-notice {
    border-color: $color-option-annuity;
  }
}

.option--flexible {
  .example,
  .info-notice {
    border-color: $color-option-flexible;
  }
}

.option--cash {
  .example,
  .info-notice {
    border-color: $color-option-cash;
  }
}
