.options-table {
  th {
    @include core-16;
    font-weight: bold;
    width: 33%;
  }

  td {
    @include core-16;
    padding-bottom: .9em;
    width: 33%;
  }

  a:hover {
    text-decoration: underline;
  }
}
