.options-untouched {
  @include core-16;
}

// when options-table is regular 4 column table make options-untouched 2 columns so text aligns
@media (min-width: $compact-options-max-mobile + 1) and (max-width: $compact-options-min-tablet - 1), (min-width: $compact-options-max-tablet + 1) {
  .options-untouched {
    overflow: hidden;
  }

  .options-untouched__label {
    width: 25%;
    float: left;
  }

  .options-untouched__content {
    width: 75%;
    float: left;
  }
}

.lte-ie8 {
  .options-untouched {
    zoom: 1;
  }

  .options-untouched__label {
    width: 25%;
    float: left;
  }

  .options-untouched__content {
    width: 74%;
    float: left;
  }
}
