.pager {
  @extend %contain-floats;
  @extend %unstyled-list;

  a {
    text-decoration: none;
    display: block;
  }

  a:focus,
  a:hover {
    background: $color-pager-bg;
    outline: none;
  }
}

.pager__item {
  @extend %unstyled-list__item;
  width: 44%;

  a:before {
    display: block;
    width: 30px;
    height: 38px;
    content: " ";
  }
}

.pager__item--previous {
  float: left;

  a {
    padding: .75em 0 .75em 3em;
  }

  a:before {
    background: transparent image-url("css/arrow-sprite.png") no-repeat -20px -11px;
    margin: -4px 0 0 -32px;
    float: left;
  }
}

.pager__item--next {
  float: right;
  text-align: right;

  a {
    padding: .75em 3em .75em 0;
  }

  a:before {
    background: transparent image-url("css/arrow-sprite.png") no-repeat -102px -11px;
    margin: -4px -32px 0 0;
    float: right;
  }
}

.pager__label {
  display: block;
  font-size: 27px;

  @include media(tablet) {
    .visuallyhidden {
      position: static;
    }
  }
}


.pager__title {
  text-decoration: underline;
  font-size: 16px;
}
