// scss-lint:disable ImportantRule
.speak-specialist {
  display: block;
  border: 2px solid $color-black;
  max-width: 30em;
  padding: 0 !important;

  .speak-header {
    background-color: $color-black;
    color: $color-white;
    padding: 5px 12px;
    font-size: 20px;
    display: flex;
    border: 1px solid $color-black;
    margin: -1px;

    span {
      color: $color-black;
      background-color: $color-white;
      text-align: center;
      display: inline-block;
      vertical-align: middle;
      width: 25px;
      border-radius: 50%;
      padding: 3px 2px 2px;
      height: 25px;
      box-sizing: border-box;
      font-size: 82%;
      font-weight: bold;
      margin-right: 10px;
      min-width: 25px;
    }
  }

  .speak-body {
    padding: 12px;
  }

  .speak-link {
    margin: 10px 0 0 !important;
    width: 100%;
    text-align: center;
    letter-spacing: 0.02em;
  }
}

.l-column-third--sidebar {
  // margin-top: 1.5em;
}

.l-sticky-sidebar.affix,
.l-sticky-sidebar.affix-bottom {
  box-sizing: border-box;
  position: fixed;
  width: 33.3333%;
  padding: 15px 20px;
  margin: 0 -20px;
  top: 0;
}

@media (min-width: 1020px) {
  .l-sticky-sidebar.affix,
  .l-sticky-sidebar.affix-bottom {
    width: 320px;
    padding-right: 0;
  }
}

@media (max-width: 640px) {
  .l-sticky-sidebar.affix-bottom,
  .l-sticky-sidebar.affix {
    width: inherit !important;
    position: relative !important;
    top: 0 !important;
  }
}
// scss-lint:enable ImportantRule
