.sticky-sidebar {
  display: none;

  @include media(tablet) {
    display: block;
    padding: $gutter-half 0;
  }

  &.affix,
  &.affix-bottom {
    @include box-sizing(border-box);
    position: fixed;
    width: percentage(1/3);
    padding: $gutter-half $sticky-sidebar-gutter;
    margin: 0 (-$sticky-sidebar-gutter);
    top: 0;

    @include media($min-width: ($site-width + $gutter * 2)) {
      width: $site-width / 3;
      padding-right: 0;
    }
  }

  &.affix-bottom {
    position: absolute;
  }
}

.sidebar-hr {
  .sticky-sidebar--leave-pot-untouched & {
    border-top-color: $color-option-leave-pot-untouched;
  }

  .sticky-sidebar--guaranteed-income & {
    border-top-color: $color-option-guaranteed-income;
  }

  .sticky-sidebar--adjustable-income & {
    border-top-color: $color-option-adjustable-income;
  }

  .sticky-sidebar--take-cash-in-chunks & {
    border-top-color: $color-option-take-cash;
  }

  .sticky-sidebar--take-whole-pot & {
    border-top-color: $color-option-take-whole-pot;
  }

  .sticky-sidebar--mix-options & {
    border-top-color: $color-option-mix-options;
  }
}

.sticky-sidebar__nav {
  margin-top: 20px;
}

.sticky-sidebar__heading {
  margin-top: 0;

  a:link,
  a:visited {
    @include bold-24;
    text-decoration: none;
    color: $color-black;
  }

  a:hover {
    text-decoration: underline;
  }
}

.sticky-sidebar__list {
  margin-top: 20px;
  list-style: none;
  margin-left: 0;

  li {
    list-style: none;
    margin-left: 0;
  }
}

.sticky-sidebar__link:link,
.sticky-sidebar__link:visited {
  font-size: 19px;
  color: $grey-1;
  border-left: 4px solid $grey-3;
  padding-left: 20px;
  display: inline-block;
  position: relative;
  margin-bottom: 4px;

  .active & {
    color: $color-black;
    font-weight: 700;
    text-decoration: underline;

    .sticky-sidebar--leave-pot-untouched & {
      border-left-color: $color-option-leave-pot-untouched;
    }

    .sticky-sidebar--guaranteed-income & {
      border-left-color: $color-option-guaranteed-income;
    }

    .sticky-sidebar--adjustable-income & {
      border-left-color: $color-option-adjustable-income;
    }

    .sticky-sidebar--take-cash-in-chunks & {
      border-left-color: $color-option-take-cash;
    }

    .sticky-sidebar--take-whole-pot & {
      border-left-color: $color-option-take-whole-pot;
    }

    .sticky-sidebar--mix-options & {
      border-left-color: $color-option-mix-options;
    }
  }
}


.sticky-sidebar__link--calculator:link,
.sticky-sidebar__link--calculator:visited {
  border-left-color: transparent;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: -9px;
    width: 14px;
    height: 21px;
    background-image: image-url("css/calculator.png");
    background-position: -3px -3px;

    @include device-pixel-ratio(2) {
      background-image: image-url("css/calculator-2x.png");
      background-size: 20px 219px;
    }
  }

  .active & {
    .sticky-sidebar--leave-pot-untouched & {
      border-left-color: transparent;

      &:before {
        background-position: -3px -34px;
      }
    }

    .sticky-sidebar--guaranteed-income & {
      border-left-color: transparent;

      &:before {
        background-position: -3px -65px;
      }
    }

    .sticky-sidebar--adjustable-income & {
      border-left-color: transparent;

      &:before {
        background-position: -3px -96px;
      }
    }

    .sticky-sidebar--take-cash-in-chunks & {
      border-left-color: transparent;

      &:before {
        background-position: -3px -128px;
      }
    }

    .sticky-sidebar--take-whole-pot & {
      border-left-color: transparent;

      &:before {
        background-position: -3px -159px;
      }
    }

    .sticky-sidebar--mix-options & {
      border-left-color: transparent;

      &:before {
        background-position: -3px -190px;
      }
    }
  }
}
