.sticky-sidebar {
  &.affix {
    position: fixed;
    width: 300px;
    top: 20px;
  }

  &.affix-bottom {
    position: absolute;
    width: 300px;
  }
}

.sidebar-hr {
  .sticky-sidebar--leave-pot-untouched & {
    border-top-color: $color-option-leave-pot-untouched;
  }
  .sticky-sidebar--guaranteed-income & {
    border-top-color: $color-option-guaranteed-income;
  }
  .sticky-sidebar--adjustable-income & {
    border-top-color: $color-option-adjustable-income;
  }
  .sticky-sidebar--take-cash-in-chunks & {
    border-top-color: $color-option-take-cash;
  }
  .sticky-sidebar--take-whole-pot & {
    border-top-color: $color-option-whole-pot;
  }
  .sticky-sidebar--mix-options & {
    border-top-color: $color-option-mix-options;
  }
}

.sticky-sidebar__nav {
  margin-top: 20px;

  // level 1
  ul {
    li {
      list-style: none;
      margin-left: 0;

      a:link,
      a:visited {
        font-size: 24px;
        font-weight: 700;
        text-decoration: none;
        color: $color-black;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    // level 2
    ul {
      margin-top: 20px;
      list-style: none;
      margin-left: 0;

      li {
        margin-bottom: 8px;

        a:link,
        a:visited {
          font-size: 18px;
          font-weight: 500;
          color: $grey-1;
          border-left: 4px solid $grey-3;
          padding-left: 20px;
          display: inline-block;

          &[href*="estimate"] {
            border-left-color: transparent;
            &:before {
              content: "";
              display: block;
              position: absolute;
              width: 20px;
              height:20px;
              left: -8px;
              margin-top: 2px;
              background-color: $color-black;
              -webkit-mask-image: image-url("css/1449169995_calculator.svg");
              -webkit-mask-size: contain;
            }
          }
        }

        &.active {
          a:link,
          a:visited {
            color: $color-black;
            font-weight: 700;
            text-decoration: underline;

            .sticky-sidebar--leave-pot-untouched & {
              border-left-color: $color-option-leave-pot-untouched;

              &[href*="estimate"] {
                border-left-color: transparent;
                &:before {
                  background-color: $color-option-leave-pot-untouched;
                }
              }
            }
            .sticky-sidebar--guaranteed-income & {
              border-left-color: $color-option-guaranteed-income;

              &[href*="estimate"] {
                border-left-color: transparent;
                &:before {
                  background-color: $color-option-guaranteed-income;
                }
              }
            }
            .sticky-sidebar--adjustable-income & {
              border-left-color: $color-option-adjustable-income;

              &[href*="estimate"] {
                border-left-color: transparent;
                &:before {
                  background-color: $color-option-adjustable-income;
                }
              }
            }
            .sticky-sidebar--take-cash-in-chunks & {
              border-left-color: $color-option-take-cash;

              &[href*="estimate"] {
                border-left-color: transparent;
                &:before {
                  background-color: $color-option-take-cash;
                }
              }
            }
            .sticky-sidebar--take-whole-pot & {
              border-left-color: $color-option-whole-pot;

              &[href*="estimate"] {
                border-left-color: transparent;
                &:before {
                  background-color: $color-option-whole-pot;
                }
              }
            }
            .sticky-sidebar--mix-options & {
              border-left-color: $color-option-mix-options;

              &[href*="estimate"] {
                border-left-color: transparent;
                &:before {
                  background-color: $color-option-mix-options;
                }
              }
            }
          }
        }
      }
    }
  }
}

