.strapline {
  text-align: center;
  padding: 1.8em 0;
  margin: 0;
  color: $color-strapline-text;
  background: $color-strapline-bg;
  font-size: 36px;

  @include media(desktop) {
    font-size: 56px;
  }
}

.strapline__first-sentence {
  display: block;

  @include media(tablet) {
    display: inline;
  }
}
