//*-------------- mixins --------------------*/
@mixin bullet($color, $radius, $top: 2px) {
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: $top;
    left: 0;
    width: $radius;
    height: $radius;
    border-radius: $radius;
    background: $color;

    @include media(1080px) {
      left: -30px;
    }
  }
}

//*----------- summary document styles ----*/

.summary-document {
  .icon {
    display: block;
  }

  .option {
    position: relative;
    padding-left: 25px;

    @include media(1080px) {
      padding-left: 0;
    }
  }

  hr {
    display: none;
  }

  h3:not(.next-steps h3) {
    margin-top: 3rem;
  }
}
