@import "design-patterns/media-player";

$play-button-dark: $color-dogs-background-dark;
$play-button-light: $color-white;

.youtube-video {
  @include media(tablet) {
    float: right;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
  }

  a {
    font-size: .8em;

    color: $color-white;

    &:visited {
      color: $color-white;
    }
  }
}

.youtube-video__video {
  @include media-player;

  color: $color-black;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 16px;
  position: relative;

  @include media(tablet) {
    margin-top: 0;
  }

  .control-bar {
    background: $color-white;
  }

  .video {
    display: block;
    position: relative;
    padding-bottom: 56.25%; // 16:9
    padding-top: 25px;
    height: 0;

    iframe {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.youtube-video-play {
  display: none;

  .js-enabled & {
    background: none;
    border: 0;
    cursor: pointer;
    display: block;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }

  &:hover {
    .youtube-video-play__arrow {
      fill: $play-button-dark;
    }

    .youtube-video-play__bg {
      fill: $play-button-light;
    }
  }
}

.youtube-video-play__arrow {
  fill: $play-button-light;
}

.youtube-video-play__bg {
  fill: $play-button-dark;
}

.youtube-video-transcript {
  overflow: hidden;
}

.youtube-video-transcript-text {
  margin-bottom: 0;
}

