.player-container {
  display: block;
  overflow: hidden;
  margin: 30px 0
}

.player-container.player-wide {
  min-width: 580px
}

.player-container span {
  display: block;
  margin: 0 !important;
  padding: 0
}

.player-container .video {
  position: relative;
  z-index: 3000
}

.player-container .video iframe {
  display: block
}

.player-container .logo {
  display: none
}

.player-container .control-bar {
  position: relative;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #bfc1c3
}

.player-container .control-bar button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer
}

.player-container .control-bar a:focus,.player-container .control-bar button:focus {
  background-color: #ffbf47;
  outline: none
}

.player-container .control-bar .player-controls .play,.player-container .control-bar .player-controls .pause {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 40px;
  overflow: hidden;
  text-indent: -5000%;
  background-repeat: no-repeat;
  background-position: center left
}

.player-container .control-bar .player-controls .play {
  background-image: url(https://assets.publishing.service.gov.uk/frontend/player-icon-play-5f23ea564bd748ccc9c6e524d5ffbeda9bf8a22d46a8a9c0a4ef8656b017203c.png)
}

.player-container .control-bar .player-controls .pause {
  background-image: url(https://assets.publishing.service.gov.uk/frontend/player-icon-pause-0b5610c829c02671ca50e892d91f0174edba49ee46b646552a8584f6eb6c9657.png)
}

.player-container .control-bar .player-controls .rewind,.player-container .control-bar .player-controls .forward {
  position: absolute;
  top: 0;
  z-index: 30;
  height: 20px;
  width: 40px;
  overflow: hidden;
  text-indent: -5000%;
  background-repeat: no-repeat;
  background-position: center left
}

.player-container .control-bar .player-controls .rewind {
  left: 0;
  background-image: url(https://assets.publishing.service.gov.uk/frontend/player-icon-rewind-f6c25d30d21e8b1179a965bf0ccb7c8741bf89a2c084e3a5d1c9b9eb0e6ee729.png)
}

.player-container .control-bar .player-controls .forward {
  left: 100%;
  margin-left: -40px;
  background-image: url(https://assets.publishing.service.gov.uk/frontend/player-icon-forward-2b7a0f97a46fdd5cf8b530c404d550dfb49d7f06c61956fc01e7dcff832f9af6.png)
}

.player-container .control-bar .volume-controls {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 40px;
  width: 180px;
  overflow: visible
}

.player-container .control-bar .volume-controls .mute {
  position: absolute;
  bottom: 0;
  left: 120px;
  height: 40px;
  width: 50px;
  padding-top: 1px;
  font-size: 14px;
  line-height: 40px;
  text-align: center
}

.player-container .control-bar .volume-controls .muted {
  color: #2b8cc4
}

.player-container .control-bar .volume-controls .muted ~ * {
  opacity: 0.333
}

.player-container .control-bar .volume-controls .muted ~ .vol-display {
  text-decoration: line-through
}

.player-container .control-bar .volume-controls .muted::after {
  content: "d"
}

.player-container .control-bar .volume-controls .vol-down,.player-container .control-bar .volume-controls .vol-up {
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 60px;
  padding-top: 2px;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  z-index: 10

  &:before {
    position: absolute;
    content: '';
    height: 40px;
    width: 60px;
    z-index: 200;
  }

}

.player-container .control-bar .volume-controls .vol-down:hover,.player-container .control-bar .volume-controls .vol-down:focus,.player-container .control-bar .volume-controls .vol-up:hover,.player-container .control-bar .volume-controls .vol-up:focus {
  color: #2b8cc4
}

.player-container .control-bar .volume-controls .vol-down {
  text-align: left;
  padding-left: 10px;
  left: 0
}

.player-container .control-bar .volume-controls .vol-up {
  text-align: right;
  padding-right: 10px;
  left: 60px
}

.player-container .control-bar .volume-controls .vol-display {
  z-index: 100;
  position: absolute;
  bottom: 0;
  left: 20px;
  height: 40px;
  width: 0;
  padding-left: 35px;
  overflow: visible;
  font-size: 14px;
  font-weight: bold;
  line-height: 40px;
  background-repeat: no-repeat;
  background-position: center left;
  background-image: url(https://assets.publishing.service.gov.uk/frontend/player-icon-volume-5e2b2e02188f3c1065656dae9e64d80fb21de5c2455751cb91d4814862394f17.png)
}

.player-container .control-bar .current-time {
  position: absolute;
  bottom: 0;
  left: 50px;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  font-weight: bold
}

.player-container .control-bar .duration-time {
  display: none;
  position: absolute;
  bottom: 0;
  right: 10px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  font-weight: bold
}

.player-container .control-bar .ui-slider {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 20px;
  overflow: hidden;
  background: #bfc1c3
}

.player-container .control-bar .ui-slider .progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding-bottom: 1px;
  background: #2b8cc4
}

.player-container .control-bar .ui-slider .ui-slider-handle {
  position: absolute;
  top: 0;
  height: 100%;
  padding-bottom: 1px;
  width: 20px;
  color: rgba(0,0,0,0.5);
  z-index: 10
}

.player-container .ui-helper-hidden-accessible {
  position: absolute;
  left: -5000%
}
