body {
  @include core-19;
  -webkit-font-smoothing: antialiased;
}

// main has a tabindex=-1 to make the 'skip to main content' link work
//  - we don't want this to have a focus state
main:focus {
  outline: none;
}

main img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}


h1 {
  @extend .heading-xlarge;
}

h2 {
  @extend .heading-medium;
}

h3 {
  @extend .heading-small;
}



// lists
ul,
ol {
  margin-top: 5px;
  margin-bottom: 20px;
}

article ul,
article ol {
  padding-left: 0;
}

li {
  margin-bottom: 5px;
}

ul li {
  list-style-type: disc;
  margin-left: 20px;
}

ol li {
  list-style-type: decimal;
  margin-left: 25px;
}


strong {
  font-weight: bold;
}

small {
  @include core-16;
}
