// body
body {
  @include core-19;
  -webkit-font-smoothing: antialiased;
}

// main has a tabindex=-1 to make the 'skip to main content' link work
//  - we don't want this to have a focus state
main:focus {
  outline:none;
}


// lists
ul, ol {
  margin-top: 5px;
  margin-bottom: 20px;
}

li {
  margin-bottom: 5px;
}

ul li {
  list-style-type: disc;
  margin-left: 20px;
}

ol li {
  list-style-type: decimal;
  margin-left: 25px;
}
