@import "elements/helpers";

$path: false; // `elements/helpers` sets this to `public/images` which breaks
              // asset pipeline paths. Resetting this allows the `file-path`
              // helper to use asset pipeline paths.

@import "elements/reset";
@import "elements/elements-typography";
@import "elements/buttons";
@import "elements/forms";

//@import "elements/lists";   - using our own file instead - see base/lists
//@import "elements/tables";  - using our own file instead - see base/tables

//@import "elements/details"; - not yet needed
//@import "elements/panels";  - not yet needed
//@import "elements/icons";   - not yet needed


.button {
  @include media (mobile) {
    width: auto;  // prevent button from having a width of 100%
                  // as breaks layout on '/appointments/new'
  }

  td & {
    @include media (tablet) {
      margin-left: 1em; // give button more margin on '/appointments/new'
    }
  }
}
