@font-face {
  font-family: "roobert";
  src: font-url("Roobert-Regular.eot");
  src: font-url("Roobert-Regular.eot#iefix") format("embedded-opentype"),
  font-url("Roobert-Regular.woff") format("woff"),
  font-url("Roobert-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roobert";
  src: font-url("Roobert-Bold.eot");
  src: font-url("Roobert-Bold.eot#iefix") format("embedded-opentype"),
  font-url("Roobert-Bold.woff") format("woff"),
  font-url("Roobert-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

$primary-blue: #0f19a0;
$secondary: #000b3b;
$magenta: #c82a87;
$magenta-dark: #ae0060;
$form-border: #60637e;
$form-border-focus: #8200d1;

html,
body,
button,
input,
table,
td,
th,
h1,
h2,
h3,
h4,
h5,
p,
label,
.form-hint,
.error-message,
a,
legend,
li {
  font-family: "roobert", Arial, sans-serif !important;
}

h1,
h2,
h3 {
  color: $primary-blue;
}

p {
  font-size: 16px !important;
  line-height: 23px !important;
  color: $secondary !important;
}

a {
  color: $magenta;
}

a:hover {
  color: $magenta-dark;
}

.button {
  background-color: $magenta !important;
  box-shadow: 0 3px 0 rgba(0, 11, 59, .25);
  border-radius: 4px;
  font-weight: 600;
}

.form-control {
  border: 1px solid $form-border !important;
  box-sizing: border-box !important;
  border-radius: 4px !important;
}

.form-control:focus {
  border: 2px solid $form-border-focus !important;
  box-sizing: border-box !important;
  border-radius: 4px !important;
}
