@import "money-helper-variables.scss";

@font-face {
  font-family: "roobert";
  src: font-url("Roobert-Regular.eot");
  src: font-url("Roobert-Regular.eot#iefix") format("embedded-opentype"),
    font-url("Roobert-Regular.woff") format("woff"),
    font-url("Roobert-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roobert";
  src: font-url("Roobert-Bold.eot");
  src: font-url("Roobert-Bold.eot#iefix") format("embedded-opentype"),
    font-url("Roobert-Bold.woff") format("woff"),
    font-url("Roobert-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

html,
body,
button,
input,
table,
td,
th,
h1,
h2,
h3,
h4,
h5,
p,
label,
.form-hint,
.error-message,
a,
legend,
fieldset li {
  font-family: "roobert", Arial, sans-serif !important;
}

h1,
h2,
h3 {
  color: $color-blue-primary !important;
}

p {
  font-size: 16px !important;
  line-height: 23px !important;
  color: $color-dark-blue-secondary !important;
}

a {
  color: $color-magenta-primary !important;
}

a:hover {
  color: $color-magenta-dark-primary !important;
  text-decoration: none !important;
}

a:focus {
  background-color: $color-yellow-secondary;
  outline: 3px solid $color-yellow-secondary;
}

.button {
  background-color: $color-magenta-primary !important;
  box-shadow: 0 3px 0 rgba(0, 11, 59, 0.25) !important;
  border-radius: 4px !important;
  font-weight: 600 !important;
}

.button:active {
  background: $color-magenta-active-dark-primary !important;
  border: 3px solid $color-yellow-secondary !important;
  box-shadow: 0 1px 0 $color-white-supporting,
    inset 0 5px 2px rgba(0, 11, 59, 0.25) !important;
}

.button:focus {
  background: $color-yellow-secondary !important;
  border: 3px solid $color-violet-primary !important;
  color: $color-dark-blue-secondary !important;
}

.button:hover {
  background: $color-magenta-dark-primary !important;
  box-shadow: 0 1px 0 rgba(0, 11, 59, 0.25) !important;
  border-radius: 4px !important;
}

.button[disabled="disabled"] {
  background: $color-grey !important;
}

.button[disabled="disabled"]:focus {
  outline: none !important;
}

.form-control {
  border: 1px solid $color-grey-secondary !important;
  box-sizing: border-box !important;
  border-radius: 4px !important;
}

.form-control:focus {
  border: 2px solid $color-violet-primary !important;
  box-sizing: border-box !important;
  border-radius: 4px !important;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: 3px solid $color-yellow-secondary !important;
  outline-offset: 0 !important;
  box-sizing: border-box !important;
  border-radius: 4px !important;
}
