@font-face {
  font-family: "roobert";
  src: font-url("Roobert-Regular.eot");
  src: font-url("Roobert-Regular.eot#iefix") format("embedded-opentype"),
  font-url("Roobert-Regular.woff") format("woff"),
  font-url("Roobert-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roobert";
  src: font-url("Roobert-Bold.eot");
  src: font-url("Roobert-Bold.eot#iefix") format("embedded-opentype"),
  font-url("Roobert-Bold.woff") format("woff"),
  font-url("Roobert-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

$primary-blue: #0f19a0;
$secondary: #000b3b;
$magenta: #c82a87;
$magenta-dark: #ae0060;
$outline: #f0f05a;
$active-background: #9c0052;
$disabled-background: #e5e5e5;
$hover-background: #ae0060;
$form-border: #60637e;
$focus-colour: #8200d1;
$link-colour: $magenta;
$link-visited-colour: #792b9e;
$link-hover-colour: #ae0060;
$colour-white: #fff;

html,
body,
button,
input,
table,
td,
th,
h1,
h2,
h3,
h4,
h5,
p,
label,
.form-hint,
.error-message,
a,
legend,
fieldset
li {
  font-family: "roobert", Arial, sans-serif !important;
}

h1,
h2,
h3 {
  color: $primary-blue !important;
}

p {
  font-size: 16px !important;
  line-height: 23px !important;
  color: $secondary !important;
}

a {
  color: $magenta !important;
}

a:hover {
  color: $magenta-dark !important;
  text-decoration: none !important;
}

a:focus {
  background-color: $outline;
  outline: 3px solid $outline;
}

.button {
  background-color: $magenta !important;
  box-shadow: 0 3px 0 rgba(0, 11, 59, .25) !important;
  border-radius: 4px !important;
  font-weight: 600 !important;
}

.button:active {
  background: $active-background !important;
  border: 3px solid $outline !important;
  box-shadow: 0 1px 0 $colour-white, inset 0 5px 2px rgba(0, 11, 59, .25) !important;
}

.button:focus {
  background: $outline !important;
  border: 3px solid $focus-colour !important;
  color: $secondary !important;
}

.button:hover {
  background: $hover-background !important;
  box-shadow: 0 1px 0 rgba(0, 11, 59, .25) !important;
  border-radius: 4px !important;
}

.button[disabled="disabled"] {
  background: $disabled-background !important;
}

.button[disabled="disabled"]:focus {
  outline: none !important;
}

.form-control {
  border: 1px solid $form-border !important;
  box-sizing: border-box !important;
  border-radius: 4px !important;
}

.form-control:focus {
  border: 2px solid $focus-colour !important;
  box-sizing: border-box !important;
  border-radius: 4px !important;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: 3px solid $outline !important;
  outline-offset: 0 !important;
  box-sizing: border-box !important;
  border-radius: 4px !important;
}
