// sass library provided by alphagov/govuk_frontend_toolkit
@import "govuk-frontend-toolkit";

// styles provided by alphagov/govuk_elements
@import "govuk-elements";

// service specific styles
@import "lib/*";
@import "base/*";
@import "helpers/*";
@import "layout/**/*";
@import "components/**/*";

.home-intro,
.home-scope {
  @include core-24;
  color: $color-homepage-grey-text;
}

.home-scope {
  margin-top: 28px;
}
