// styles provided by alphagov/govuk_elements
@import "govuk-elements";

// service specific styles
@import "lib/*";
@import "base/*";
@import "helpers/*";
@import "layout/**/*";
@import "components/**/*";

.home-intro,
.home-scope {
  @include core-24;
  color: $color-homepage-grey-text;
}

.home-scope {
  margin-top: 28px;
}

.home-intro {
  margin-top: 30px;
  margin-bottom: 0;

  @include media(tablet) {
    text-align: right;
  }
}

.hide-from-screen {
  display: none;
}
