<% content_for(:page_title, t('service.title', page_title: 'Thank you')) %>

<% content_for :sidebar do %>
  <div class="link-promo ga-elsewhere-sidebar">
    <h2 class="link-promo__heading">Elsewhere on Pension Wise</h2>
    <ul class="link-promo__list">
      <li class="link-promo__item t-link-promo__item">
        <a href="/pension-pot-options">What you can do with your pension pot</a>
      </li>
      <li class="link-promo__item t-link-promo__item">
        <a href="/6-steps-you-need-to-take">6 steps you need to take</a>
      </li>
      <li class="link-promo__item t-link-promo__item">
        <a href="/pension-types">Know your pension type</a>
      </li>
      <li class="link-promo__item t-link-promo__item">
        <a href="/tax">Tax you pay on your pension</a>
      </li>
    </ul>
  </div>
<% end %>

<h1>Thank you</h1>

<p>Your appointment has been requested.</p>

<p>We will contact you to confirm the appointment.</p>
