<% content_for(:page_title, t('styleguide.title', page_title: 'Appointment details')) %>


<div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
  <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
    There is a problem
  </h1>

  <p>
    Check your information. You need to:
  </p>

  <ul class="error-summary-list">
    <li><a href="#appointment_name">Enter your First name</a></li>
    <li><a href="#appointment_type">Choose a type of appointment</a></li>
  </ul>
</div>

<h1>Appointment details</h1>

<p>Date<br>
  <strong>Monday 27 July 2015</strong></p>

<p>Time<br>
  <strong> 8:30 am</strong></p>

<form>
  <div class="form-group error">
    <fieldset id="appointment_type">
      <legend>
        <span class="form-label-bold">Type of appointment</span>
      </legend>
      <span class="form-hint">Face-to-face appointments take place at Citizens Advice bureaus.</span>

      <label class="block-label" data-target="memorable-word-inset" for="appointment_type_phone">
        <input type="radio" value="phone" name="appointment[type]" id="appointment_type_phone"> Phone
      </label>

      <label class="block-label" data-target="postcode-inset" for="appointment_type_face-to-face">
        <input type="radio" value="face-to-face" name="appointment[type]" id="appointment_type_face-to-face"> Face to face
      </label>
    </fieldset>
  </div>
  <div class="panel-indent js-hidden" id="memorable-word-inset">
    <div class="form-group">
      <label class="form-label"><span class="form-label-bold">Memorable word</span></label>

      <span class="form-hint">
            We’ll repeat this word to you at the start of your
            phone appointment. This is so you can be confident you’re speaking with
            a Pension Wise guidance specialist.
          </span>

      <input class="form-control" type="text" value="" name="appointment[memorable_word]" id="appointment_memorable_word">
    </div>  </div>

  <div class="panel-indent js-hidden" id="postcode-inset">
    <div class="form-group">
      <label class="form-label"><span class="form-label-bold">Postcode</span></label>

      <span class="form-hint">This is to help us find your nearest appointment location.</span>

      <input class="form-control" type="text" value="" name="appointment[postcode]" id="appointment_postcode">
    </div>  </div>

  <div class="form-group error">
    <label><span class="form-label-bold">First name</span><span class="error-message">Enter your First name</span></label>
    <input class="form-control" type="text" value="" name="appointment[name]" id="appointment_name">
  </div>
  <div class="form-group">
    <label><span class="form-label-bold">Last name</span></label>
    <input class="form-control" type="text" value="" name="appointment[surname]" id="appointment_surname">
  </div>
  <div class="form-group">
    <label><span class="form-label-bold">Phone number</span></label>
    <input class="form-control" type="text" value="" name="appointment[phone]" id="appointment_phone">
  </div>
  <div class="form-group">
    <label><span class="form-label-bold">Email</span></label>
    <input class="form-control" type="text" value="" name="appointment[email]" id="appointment_email">
  </div>

  <div class="form-group">
    <input type="submit" name="commit" value="Send request" class="button">
  </div>

</form>
