<% content_for(:page_title, t('styleguide.title', page_title: 'Homepage')) %>

<div class="l-home-header">
  <%= render 'components/header' %>
</div>

<div class="l-text">
  <p class="lede">The Pension Guidance Service is a free government service which
    helps you understand what you can do with your pension pot when you retire.</p>

  <h2>Pensions are changing</h2>

  <p>From April 2015 you'll have more freedom over how you take money from your pension pot.</p>

  <p>These changes affect you if you're <strong>55 or over</strong> and have a pension
    based on how much has been paid into your pot (a <strong>defined
    contribution pension</strong>).</p>
</div>

<hr/>

<h2>Work out your options</h2>

<div class="l-grid-row">
  <div class="l-column-half">
    <h3><a href="#insert">6 things you need to know about pension</a></h3>
    <p>6 steps you can follow to find out what you can do with the money in your
      pension pot.</p>
  </div>
  <div class="l-column-half">
    <h3><a href="#insert">Talk to an expert</a></h3>
    <p>If you’d like help understanding your options, you can arrange to speak
      to a pensions expert</p>

    <p>Guidance appointments are free and impartial.</p>
  </div>
</div>

<hr/>

<h2>Read our guides</h2>
<ul class="unstyled-list t-article-links">
  <li class="unstyled-list__item">
    Understand your pension type
  </li>
  <li class="unstyled-list__item">
    <a href="<%= article_path('check-the-value-of-your-pension-pot') %>">
      Check the value of your pension pot
    </a>
  </li>
  <li class="unstyled-list__item">
    What you can do with your pension pot
  </li>
  <li class="unstyled-list__item">
    Tax you pay on your pension
  </li>
  <li class="unstyled-list__item">
    <a href="<%= article_path('how-to-shop-around-for-the-best-deal') %>">
      How to shop around for the best deal
    </a>
  </li>
  <li class="unstyled-list__item">
    Calculate your retirement income
  </li>
  <li class="unstyled-list__item">
    Plan how long your money needs to last
  </li>
  <li class="unstyled-list__item">
    How to make a pension complaint
  </li>
  <li class="unstyled-list__item">
    How to avoid pension scams
  </li>
  <li class="unstyled-list__item">
    If you're on benefits
  </li>
  <li class="unstyled-list__item">
    Living overseas and your pension
  </li>
  <li class="unstyled-list__item">
    Pensions and divorce
  </li>
</ul>
