<% content_for(:page_title, t('styleguide.title', page_title: 'Journey Index')) %>

<div class="l-grid-row">
  <div class="l-column-two-thirds">
    <h1 id="things-you-need-to-know">6 things you need to know</h1>

    <p>You need to have a defined contribution pension - a pension based on how
      much has been paid into your pot - for these pension choices to apply to
      you. Check with your pension provider if you’re not sure what type of
      pension you have.</p>

    <p><a href="/articles/know-your-pension-type">Know your pension type</a></p>

    <%= render 'styleguide/components/journey_overview' %>

    <%= render 'styleguide/components/pager' %>
  </div>
  <div class="l-column-third l-column-third--sidebar">
    <div class="sidebar-hr"></div>

    <div class="link-promo">
      <h2 class="link-promo__heading">Elsewhere on Pension Wise</h2>
      <ul class="link-promo__list">
        <li class="link-promo__item">
          <a href="#insert_url">
            If you're on benefits
          </a>
        </li>
        <li class="link-promo__item">
          <a href="#insert_url">
            How to avoid a pension scam
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>
