<% content_for(:page_title, t('styleguide.title', page_title: 'Locations near you')) %>

<h1>Face-to-face appointments near sw</h1>

<p class="t-invalid-postcode"><strong>sw</strong> is not a valid postcode. Please try again.</p>

<form action="/styleguide/pages/locations-index" method="get">
  <label class="form-label-bold visuallyhidden" for="location">Find a location near you</label>
  <input type="text" class="form-control" name="postcode" id="location" value="sw">
  <input type="submit" class="button" value="Search">
</form>

<p>Or you can <a href="/appointments">book a phone appointment</a> instead.</p>

<% content_for :sidebar do %>
  <%= render 'styleguide/components/locator_link_promo_book' %>
<% end %>

<% content_for :breadcrumbs do %>
  <%= render 'styleguide/components/locator_breadcrumbs_items', items: 2 %>
<% end %>
