<% content_for(:page_title, t('styleguide.title', page_title: 'Find a face-to-face appointment location')) %>

<h1>Find a face-to-face appointment location</h1>

<form action="/styleguide/pages/locations-index" method="get">
  <div class="form-group">
    <label class="form-label-bold" for="location">Postcode
      <span class="form-hint">
        For example, 'SW1A 1AA'
      </span>
    </label>
    <input type="text" class="form-control" name="postcode" id="location" value="">
    <input type="submit" class="button" value="Search">
  </div>
</form>

<p>Or you can <a href="/styleguide/pages/book">book a phone appointment</a> instead.</p>

<% content_for :sidebar do %>
  <%= render 'styleguide/components/locator_link_promo_book' %>
<% end %>

<% content_for :breadcrumbs do %>
  <%= render 'styleguide/components/locator_breadcrumbs_items', items: 3 %>
<% end %>
