<% content_for(:page_title, t('styleguide.title', page_title: 'Locations near you')) %>

<div class="l-grid-row">
  <div class="l-column-two-thirds">
    <main role="main" id="content" tabindex="-1">
        <h1>Locations near you</h1>
        <p>You searched for <span class="visuallyhidden">SW17</span></p>

        <form action="/styleguide/pages/locator-results" method="get">
          <label class="form-label-bold visuallyhidden" for="location">Find a location near you</label>
          <input type="text" class="form-control" id="location" value="SW17">
          <input type="submit" class="button" value="Search">
        </form>

        <ol class="location-list">
          <li class="location-list__item">
            <h2 class="location-list__name">
              <a href="/styleguide/pages/locator-location">Merton &amp; Lambeth CAB - Morden</a>
            </h2>
            <p class="location-list__address">7 Crown Parade, Crown Lane, Merton, MORDEN, Surrey, SM4 5DA</p>
            <p class="location-list__distance">
              <span class="location-list__distance-label">Distance: </span>
              1.7 miles
            </p>
          </li>
          <li class="location-list__item">
            <h2 class="location-list__name">
              <a href="/styleguide/pages/locator-location">M&amp;L - Streatham Hill</a>
            </h2>
            <p class="location-list__address">1 Barrhill Road, Streatham Hill, Lambeth & Merton, LONDON, SW2 4RJ</p>
            <p class="location-list__distance">
              <span class="location-list__distance-label">Distance: </span>
              2.7 miles
            </p>
          </li>
        </ol>

    </main>
  </div>
  <div class="l-column-third l-column-third--sidebar">
    <div class="sidebar-hr"></div>

    <div class="link-promo ga-elsewhere-sidebar">
      <h2 class="link-promo__heading">Elsewhere on Pension Wise</h2>
      <ul class="link-promo__list">
        <li class="link-promo__item t-link-promo__item">

        </li>
        <li class="link-promo__item t-link-promo__item">
          <a href="/pension-pot-options">What you can do with your pension pot</a>
        </li>
        <li class="link-promo__item t-link-promo__item">
          <a href="/6-steps-you-need-to-take">6 steps you need to take</a>
        </li>
        <li class="link-promo__item t-link-promo__item">
          <a href="/pension-types">Know your pension type</a>
        </li>
        <li class="link-promo__item t-link-promo__item">
          <a href="/tax">Tax you pay on your pension</a>
        </li>
      </ul>
    </div>

  </div>
</div>
