<% content_for(:page_title, t('styleguide.title', page_title: 'Book a free appointment')) %>

<div class="l-grid-row">
  <div class="l-column-two-thirds">
    <main role="main" id="content" tabindex="-1">
      <article role="article" class="text">

        <h1 id="book-a-free-appointment">Book a free appointment</h1>

        <%= render 'styleguide/components/highlighted_info' %>

        <p>From outside the UK call: +44 20 3733 3495.</p>

        <p>Calls cost the same as a normal call - if your calls are free, it’s included.</p>

        <div class="locations-promo">

          <h2 class="locations-promo__heading" id="find-a-face-to-face-appointment-location-near-you">Find a face-to-face appointment location near you</h2>

          <p>Enter a postcode for a list of your 5 nearest locations.</p>

          <form action="/locations" method="get">
            <label class="visuallyhidden" for="location">Find a face-to-face appointment near you</label>
            <input type="text" class="form-control" id="location" name="postcode" value="">
            <input type="submit" class="button" value="Search">
          </form>

        </div>


        <h2 id="who-can-book">Who can book</h2>

        <p>You should be 50 or over and have a <a href="pension-types">defined contribution pension</a>.
          This is a pension based on how much you and possibly your employer paid into your pot.
          It’s not a final salary pension.</p>

        <h2 id="what-youll-get-from-the-appointment">What you’ll get from the appointment</h2>

        <p>The appointment is a conversation between you and a Pension Wise guidance specialist. You’ll get personal guidance on what you can do with your pension pot.</p>

        <p>The guidance specialist will:</p>

        <ul>
          <li>explain your pension options</li>
          <li>explain tax</li>
          <li>discuss which options might be suitable for you</li>
          <li>give you tips on what you can do next</li>
        </ul>

        <p>You can:</p>

        <ul>
          <li>ask questions about the options</li>
          <li>discuss what the options mean to you</li>
          <li>discuss how tax might affect you</li>
        </ul>

        <p>Afterwards you’ll get a letter with a summary of what you talked about.</p>

        <div role="note" aria-label="Information" class="application-notice info-notice">
          <p>Pension Wise guidance specialists are impartial. They don't recommend any products or companies and won’t tell you how to invest your money.</p>
        </div>

        <h2 id="testimonials">Testimonials</h2>

        <blockquote>
          <p>“It was a very, very good session, a very helpful session. Covered everything we said and gave me the impetus to get on with what we were talking about.”</p>
          — <cite>Thomas M</cite>, Coleshill
        </blockquote>

        <blockquote>
          <p>“The quality of the info was fantastic. It was an excellent experience.”</p>
          — <cite>Kevin J</cite>, Bristol
        </blockquote>
      </article>
    </main>
  </div>
  <div class="l-column-third l-column-third--sidebar">
    <div class="sidebar-hr"></div>

    <%= render 'styleguide/components/locator_link_promo' %>

  </div>
</div>
