<% content_for(:page_title, t('styleguide.title', page_title: 'Locations near you')) %>

<div class="l-grid-row">
  <div class="l-column-two-thirds">
    <main role="main" id="content" tabindex="-1">
      <h1>Locations near you</h1>
      <p><strong>SWXJ</strong> is not a valid post code. Please try again.</p>

      <form action="/locator/results" method="get">
        <label class="form-label-bold visuallyhidden" for="location">Find a location near you</label>
        <input type="text" class="form-control" id="location" value="SW17">
        <input type="submit" class="button" value="Search">
      </form>

    </main>
  </div>
  <div class="l-column-third l-column-third--sidebar">
    <div class="sidebar-hr"></div>

    <div class="link-promo ga-elsewhere-sidebar">
      <h2 class="link-promo__heading">Elsewhere on Pension Wise</h2>
      <ul class="link-promo__list">
        <li class="link-promo__item t-link-promo__item">

        </li>
        <li class="link-promo__item t-link-promo__item">
          <a href="/pension-pot-options">What you can do with your pension pot</a>
        </li>
        <li class="link-promo__item t-link-promo__item">
          <a href="/6-steps-you-need-to-take">6 steps you need to take</a>
        </li>
        <li class="link-promo__item t-link-promo__item">
          <a href="/pension-types">Know your pension type</a>
        </li>
        <li class="link-promo__item t-link-promo__item">
          <a href="/tax">Tax you pay on your pension</a>
        </li>
      </ul>
    </div>

  </div>
</div>
