<% content_for(:page_title, t('styleguide.title', page_title: 'Locations near you')) %>

<div class="l-grid-row">
  <div class="l-column-two-thirds">
    <main role="main" id="content" tabindex="-1">
      <h1>Face-to-face appointments near sw</h1>

      <p class="t-invalid-postcode"><strong>sw</strong> is not a valid postcode. Please try again.</p>

      <form action="/styleguide/pages/locator-results" method="get">
        <label class="form-label-bold visuallyhidden" for="location">Find a location near you</label>
        <input type="text" class="form-control" name="postcode" id="location" value="sw">
        <input type="submit" class="button" value="Search">
      </form>

      <p>Or you can <a href="/appointments">book a phone appointment</a> instead.</p>
    </main>
  </div>
  <div class="l-column-third l-column-third--sidebar">
    <div class="sidebar-hr"></div>

    <%= render 'styleguide/components/locator_link_promo_book' %>

  </div>
</div>
