<% content_for(:page_title, t('styleguide.title', page_title: 'Locations near you')) %>

<div class="l-grid-row">
  <div class="l-column-two-thirds">
    <main role="main" id="content" tabindex="-1">
      <h1>M&amp;L - Streatham Hill</h1>

      <h2 class="heading-small">Address</h2>
      <p>1 Barrhill Road, Streatham Hill, Lambeth & Merton, LONDON, SW2 4RJ</p>

      <h2 class="heading-small">Opening hours</h2>
      <p>Mon - Fri 10am - 4pm</p>

      <h2 class="heading-small">Phone</h2>
      <p>Call <b>0203 559 7400</b> to book an appointment.</p>

      <div class="application-notice help-notice">
        <p>We can't answer specific questions about your pension on this number.</p>
      </div>

      <p>Calls usually take less then 5 minutes. Appointments usually have a waiting time of 2 weeks.</p>
    </main>
  </div>
  <div class="l-column-third l-column-third--sidebar">
    <div class="sidebar-hr"></div>

    <div class="link-promo ga-elsewhere-sidebar">
      <h2 class="link-promo__heading">Elsewhere on Pension Wise</h2>
      <ul class="link-promo__list">
        <li class="link-promo__item t-link-promo__item">

        </li>
        <li class="link-promo__item t-link-promo__item">
          <a href="/pension-pot-options">What you can do with your pension pot</a>
        </li>
        <li class="link-promo__item t-link-promo__item">
          <a href="/6-steps-you-need-to-take">6 steps you need to take</a>
        </li>
        <li class="link-promo__item t-link-promo__item">
          <a href="/pension-types">Know your pension type</a>
        </li>
        <li class="link-promo__item t-link-promo__item">
          <a href="/tax">Tax you pay on your pension</a>
        </li>
      </ul>
    </div>

  </div>
</div>
