<% content_for(:page_title, t('styleguide.title', page_title: 'Locations near you')) %>

<div class="l-grid-row">
  <div class="l-column-two-thirds">
    <main role="main" id="content" tabindex="-1">
      <h1>Locations near you</h1>
      <p><strong>SWXJ</strong> is not a valid post code. Please try again.</p>

      <form action="/styleguide/pages/locator-results" method="get">
        <label class="form-label-bold visuallyhidden" for="location">Find a location near you</label>
        <input type="text" class="form-control" id="location" value="SW17">
        <input type="submit" class="button" value="Search">
      </form>

    </main>
  </div>
  <div class="l-column-third l-column-third--sidebar">
    <div class="sidebar-hr"></div>

    <%= render 'styleguide/components/locator_link_promo' %>

  </div>
</div>
