<% content_for(:page_title, t('styleguide.title', page_title: 'Search results')) %>

<div class="l-grid-row">
  <div class="l-column-two-thirds">
    <main role="main" id="content" tabindex="-1">
      <h1 class="heading-search-results">Search results</h1>

      <form action="/styleguide/pages/search-results" method="get" role="search" class="search">
        <label class="visuallyhidden" for="search">Search Pension Wise</label>
        <input id="search" class="search__input" required="" type="search" name="query" value="pension" autocomplete="off" placeholder="Search">

        <button class="search__submit " type="submit">
          Search
        </button>
      </form>

      <ol class="search-results">
        <li class="search-results__item">
          <h2 class="search-results__heading">
            <a href="/pension-pot-value">Check how much is in your pension pot</a></h2>
          <p>How to find out how much money you have in your pension pot, and how many pension pots you’ve paid into.</p>
        </li>
        <li class="search-results__item">
          <h2 class="search-results__heading">
            <a href="/when-you-die">Your pension when you die</a></h2>
          <p>What happens to your defined contribution pension when you die, including the tax your beneficiary pays.</p>
        </li>
        <li class="search-results__item">
          <h2 class="search-results__heading">
            <a href="/pension-pot-options">What you can do with your pension pot</a></h2>
          <p>You can usually take 25% of your pension pot tax free and then choose from a range of options.</p>
        </li>
        <li class="search-results__item">
          <h2 class="search-results__heading">
            <a href="/living-abroad">Living abroad and your pension</a></h2>
          <p>What you can do with your UK pension pot if you move or already live abroad.</p>
        </li>
        <li class="search-results__item">
          <h2 class="search-results__heading">
            <a href="/tax">Tax you pay on your pension</a></h2>
          <p>You pay tax on any income, including pension, that’s above your tax-free Personal Allowance.</p>
        </li>
      </ol>

      <ul class="pager">
        <li class="pager__item pager__item--previous">
          <a href="#insert_url" rel="prev">
            <span class="pager__label">Previous
              <span class="visuallyhidden">page</span>
            </span>
            <span class="pager__title">
              1 of 3
            </span>
          </a>
        </li>
        <li class="pager__item pager__item--next">
          <a href="#insert_url" rel="next">
            <span class="pager__label">Next
              <span class="visuallyhidden">page</span>
            </span>
            <span class="pager__title">
              3 of 3
            </span>
          </a>
        </li>
      </ul>

    </main>
  </div>
</div>
