<script>
  window.dataLayer = window.dataLayer || [];
  dataLayer.push({
    'event': 'CalculatorEstimate'
    , 'tax_paid': <%= estimate.pot_tax.to_i %>
    , 'pot_payout': <%= estimate.pot_received.to_i %>
  });
</script>

<p>
  <%= t('.summary.html', pot_value: number_to_currency(estimate.pot),
                         pot_received: number_to_currency(estimate.pot_received),
                         pot_tax: number_to_currency(estimate.pot_tax)) %>
</p>

<ul>
  <%= t('.notes.html') %>
</ul>
