<% content_for(:page_title, t('service.title', page_title: @guide.title)) %>
<% content_for(:meta_description, @guide.description) %>

<% content_for :sticky_sidebar do %>
  <div class="link-promo ga-elsewhere-sidebar">
    <div class="anchorific">

    </div>
  </div>
<% end %>

<% content_for :after_script do %>
  <%= javascript_include_tag 'anchorific' %>
  <%= javascript_include_tag 'affix' %>

  <script>
    'use strict';
    $('article.text').anchorific({
      anchorText: '',
      top: '.top',
      spy: true,
      spyOffset: 200
    });

    $('.sticky-sidebar').affix({
      offset: {
        top: 230,
        bottom: function () {
          return (this.bottom = $('.js-footer').outerHeight(true));
        }
      }
    });
  </script>
<% end %>

<%= @guide.content %>

<% if journey_navigation.active? %>
  <%= render 'components/pager', pager: journey_navigation %>
<% end %>
