<% content_for(:page_title, t('service.title', page_title: guide.title)) %>
<% content_for(:meta_description, guide.description) %>

<% content_for :sidebar do %>
  <div class="link-promo">
    <h2 class="link-promo__heading">6 things you need to know</h2>

    <p>
      <a href="/6-things-you-need-to-know">Read the 6 things overview</a>
    </p>
    <%= render 'components/journey_nav', journey: @journey, current_step: guide %>
  </div>

  <div class="link-promo">
    <h2 class="link-promo__heading">Elsewhere on Pension Wise</h2>
    <ul class="link-promo__list">
      <li class="link-promo__item t-link-promo__item">
        <a href="/benefits">
          If you're on benefits
        </a>
      </li>
      <li class="link-promo__item t-link-promo__item">
        <a href="/scams">
          How to avoid a pension scam
        </a>
      </li>
    </ul>
  </div>
<% end if @journey.include?(guide) %>

<%= guide.content %>
