<% content_for(:page_title, t('service.title', page_title: @guide.label)) %>
<% content_for(:meta_description, @guide.description) %>
<% content_for(:page_name, @guide.page_name) %>
<% content_for(:tool_step, @guide.tool_step) %>
<% content_for(:step_name, @guide.step_name) %>
<% content_for(:tool_name, @guide.tool_name) %>

<% if @guide.canonical.present? %>
  <% content_for(:canonical, @guide.canonical) %>
<% end %>

<div class="l-column-full">
<%= render 'option' if @guide.option? %>

<%= @guide.welsh? ? content_tag(:div, @guide.content, lang: 'cy') : @guide.content %>

<%= render 'journey_links' if @guide.related_to_journey? %>
</div>
