<div class="l-grid-row">
  <div class="l-column-two-thirds">
    <h1>Sorry, you’re unable to have an appointment</h1>

    <p>You must be aged <strong>50 or over</strong> with a
    <strong>defined contribution</strong> pension to have a Pension Wise appointment.</p>

    <div role="note" aria-label="Information" class="application-notice info-notice">
      <p>Pension Wise only provides guidance on defined contribution pensions. For help with defined benefit (final salary or career average) pensions go to <a rel="external" href="https://www.pensionsadvisoryservice.org.uk/" target="_parent">The Pensions Advisory Service</a>.</p>
    </div>

    <p>You can also find out what <%= link_to 'type of pension you have', money_helper_url('pensions-and-retirement/taking-your-pension/pension-wise/find-out-your-pension-type.html') %> you have.</p>
  </div>
</div>
