<div class="l-grid-row">
  <div class="l-column-full">
    <h1>Sorry, you’re not eligible for an appointment but we can still help</h1>

    <p>You must be aged <strong>50 or over</strong> with a <strong>defined contribution</strong> pension to have a Pension Wise appointment.</p>
    <p>Go back to the booking form if you think you might have entered your information incorrectly.</p>
    <p>If you’re under 50 or not sure what pension type you have, MoneyHelper can answer your questions.</p>
    <p>Call us free on <strong>0800 011 3797</strong> or <a href="https://www.moneyhelper.org.uk/en/pensions-chat" target="_blank" rel="external">use our webchat</a>. One of our pension specialists will be happy to help.</p>
    <p>Opening times: Monday to Friday: 9am to 5pm (helpline) 9am to 6pm (webchat). Closed on bank holidays.</p>
    <p>Alternatively, you can start exploring your pensions options with our <%= link_to 'free pensions guidance', money_helper_url('pensions-and-retirement/pension-wise/explore-your-pension-options') %>.</p>
  </div>
</div>
