.help-notice {
  background: image-url("icon-important.png") no-repeat scroll 0 0.5em;

  @include device-pixel-ratio() {
    background-image: image-url("icon-important-2x.png");
    background-size: 41px 41px;
  }

  p {
    font-weight: 600;
    padding-left: 2.5em;
  }
}

p + .help-notice {
  margin-top: 2em;
}
