.help-notice {
  background: image-url("icon_important_maps.png") no-repeat scroll 0 0.5em;

  @include device-pixel-ratio() {
    background-image: image-url("icon_important_maps_2x.png");
    background-size: 42px 42px;
  }

  p {
    font-weight: 600;
    padding-left: 2em;
  }
}

p + .help-notice {
  margin-top: 2em;
}
