.info-notice {
  clear: both;
  border-left: 10px solid $border-colour;
  margin-bottom: 1em;

  @include ie(6) {
    zoom: 1; //fix layout issue in IE6 caused by border-left
  }

  p {
    margin: .75em 0;
    padding-right: 1em;
  }
}

.info-notice--leave-pot-untouched {
  border-color: $color-option-leave-pot-untouched;
}

.info-notice--guaranteed-income {
  border-color: $color-option-guaranteed-income;
}

.info-notice--adjustable-income {
  border-color: $color-option-adjustable-income;
}

.info-notice--take-cash {
  border-color: $color-option-take-cash;
}

.info-notice--mix-options {
  border-color: $color-option-mix-options;
}

.info-notice--marketing {
  border-left-color: $color-black;
}
