.info-notice {
  border-left: 10px solid $border-colour;
  margin-bottom: 1em;

  @include ie(6) {
    zoom: 1; //fix layout issue in IE6 caused by border-left
  }

  p {
    margin: .75em 0;
    padding-right: 1em;
  }

  a[rel="external"] {
    display: inline;
  }
}

p + .info-notice {
  margin-top: 2em;
}

