<% content_for(:page_title, t('service.title', page_title: 'Confirmation')) %>
<div class="l-grid-row">
  <div class="l-column-two-thirds">
    <div class="govuk-box-highlight">
      <h1 class="bold-large govuk-box-highlight__header">We've booked your request</h1>
    </div>

    <h2>What happens next?</h2>

    <p>We’ll contact you within 2 working days to confirm your appointment.</p>

  </div>
</div>
