<% content_for(:page_title, t('service.title', page_title: 'Confirmation')) %>
<% content_for(:page_name, 'bsl-booking-requests--completed') %>
<% content_for(:tool_step, '2') %>
<% content_for(:step_name, 'Result') %>
<% content_for(:tool_name, 'BSL Booking Requests') %>

<div class="l-column-full">
  <div class="govuk-box-highlight">
    <h1 class="bold-large govuk-box-highlight__header">We've booked your request</h1>
  </div>

  <h2>What happens next?</h2>

  <p>We’ll contact you within 2 working days to schedule your appointment.</p>
</div>
