<div class="notice notice--extra-spacing">
  <i class="icon icon-information">
    <span class="visually-hidden">Info</span>
  </i>
  <strong class="small">No appointment availability</strong>
</div>
<p>You can also <%= link_to 'book a phone appointment', guide_path('book-phone') %>.</p>
