<% content_for(:page_title, t('service.title', page_title: 'Pension Wise appointment locations')) %>

<h1>Pension Wise appointment locations</h1>

<div class="application-notice help-notice">
  <p>There are no face-to-face appointments available due to the ongoing response to coronavirus.</p>
  <p>If you are unable to find a suitable <%= link_to 'phone appointment', guide_path('book-phone') %> or can no longer attend, you can <a href="/en/explore-your-options">explore your options</a>.</p>
</div>
