<% content_for(:page_title, t('service.title', page_title: 'Pension Wise appointment locations')) %>

<h1>Pension Wise appointment locations</h1>

<div class="l-grid-row">
  <div class="l-column-third">
    <span class="locations-a-z-total">
      <div>Appointment locations</div>
      <span class="locations-a-z-total__count"><%= @locations_total %></span>
    </span>
  </div>
  <div class="l-column-two-thirds">
    <% @locations_by_letter.each do |letter, locations| %>
      <h2 class="locations-a-z-letter"><%= letter %></h2>
      <ol class="locations-a-z-letter-list">
        <% locations.each do |location| %>
        <li class="locations-a-z-letter-list__location"><%= link_to location.name, location_path(location.id) %></li>
        <% end %>
      </ol>
    <% end %>
  </div>
</div>
