<% content_for(:page_title, "Face-to-face locations near #{@postcode.squish.upcase} - Pension Wise") %>

<h1>Face-to-face locations near <%= @postcode.squish.upcase %></h1>

<p>Your appointment will take place at a Citizens Advice bureau. All appointments are with trained Pension Wise guidance specialists.</p>

<div role="note" aria-label="Information" class="application-notice info-notice">
  <p>
    There may also be a more convenient location, such as a local library or community centre.
    Call your nearest location to find out.
  </p>
</div>

<p>Your nearest locations are:</p>

<ol class="location-list">
  <% @locations.each do |location| %>
    <li class="location-list__item t-location">
      <h2 class="location-list__name"><%= link_to(location.name, location_path(location.id), class: 't-name') %></h2>
      <p class="location-list__address t-address">
        <%= location.address %>
      </p>
      <p class="location-list__distance t-distance">
        <span class="location-list__distance-label">Distance:</span>
        <%= location.distance %> miles
      </p>
    </li>
  <% end %>
</ol>

<p>Try another postcode:</p>

<form action="/locations" method="get">
  <label class="form-label-bold visuallyhidden" for="location">Find a face-to-face appointment near you</label>
  <input type="text" class="form-control" name="postcode" id="location" value="">
  <input type="submit" class="button" value="Search">
</form>

<div class="application-notice info-notice">
  <p>You can also <a href="/appointments">book a phone appointment</a>.</p>
</div>
