<ol>
  <% @locations.each do |location| %>
    <li class="t-location">
      <h2 class="t-name"><%= location.name %></h2>
      <p><%= location.address %></p>
      <p class="t-distance">Distance: <%= location.distance %> miles</p>
    </li>
  <% end %>
</ol>
