<% content_for(:page_title, 'Find a face-to-face appointment location - Pension Wise') %>

<h1>Find a face-to-face appointment location</h1>

<p class="t-invalid-postcode"><strong><%= @postcode.squish.upcase %></strong> is not a valid postcode. Please try again.</p>

<form action="/locations" method="get">
  <label class="form-label-bold visuallyhidden" for="location">Find a location near you</label>
  <input type="text" class="form-control" name="postcode" id="location" value="<%= @postcode.squish.upcase %>">
  <input type="submit" class="button" value="Search">
</form>

<p>Or you can <a href="/appointments">book a phone appointment</a> instead.</p>
