<% content_for(:page_title, 'Find a face-to-face appointment location - Pension Wise') %>

<% content_for(:data_layer) do %>
  <script>
    dataLayer = [{
      'postcodeValid': false
    }];
  </script>
<% end %>

<h1>Find a face-to-face appointment location</h1>

<form action="/locations" method="get">
  <div class="form-group error">
    <label class="form-label-bold" for="location">Postcode
      <span class="form-hint">
        For example, 'SW1A 1AA'
      </span>
      <span class="t-invalid-postcode error-message">
        <strong><%= @postcode.squish %></strong> is not a valid postcode
      </span>
    </label>
    <input type="text" class="form-control" name="postcode" id="location" value="<%= @postcode.squish %>">
    <input type="submit" class="button" value="Search">
  </div>
</form>

<p>Or you can <a href="/book#by-phone">book a phone appointment</a> instead.</p>
