<% content_for(:page_title, 'Find a face-to-face appointment location - Pension Wise') %>

<h1>Find a face-to-face appointment location</h1>

<%= render 'components/locations_search' %>

<p>Or you can <a href="/book#by-phone">book a phone appointment</a> instead.</p>
