<% content_for(:page_title, "#{@location.name} - Pension Wise") %>
<% content_for(:meta_description, "Find out the address, booking hours and how to book a Pension Wise appointment at the #{@location.name}") %>

<h1 class="t-name"><%= @location.name %></h1>

<h2 class="heading-small">Address</h2>
<div class="t-address">
  <%= simple_format(@location.address) %>
  <p>
    There may also be a more convenient location, such as a local library or community centre.
  </p>
</div>

<% unless @location.hours.blank? %>
  <h3 class="heading-small">Booking hours</h3>
  <div class="t-hours"><%= simple_format(@location.hours) %></div>
<% end %>

<h2 class="heading-small">How to book</h2>

<p class="t-booking-location">
  Call <strong class="t-phone"><%= @location.phone %></strong>.
</p>

<p>Tell the operator you’d like to book a Pension Wise appointment.</p>
<p>You can also book in person by visiting any Citizens Advice bureau.</p>

<div class="application-notice help-notice">
  <p>We can’t answer specific questions about your pension on this number.</p>
</div>

