<%= render layout: 'layouts/base' do %>

  <%= render 'partials/breadcrumbs' %>

  <div class="l-grid-row">
    <div class="l-column-two-thirds">
      <main role="main" id="content" tabindex="-1">
        <article role="article" class="text">
          <%= yield %>
        </article>
      </main>
    </div>
  </div>
  </div>

<% end %>
