<%= render layout: 'layouts/two_column' do %>
  <article role="article" class="text">
    <% if flash[:alert] %>
      <div class="error-summary alert-alert" aria-labelledby="error-summary-heading" role="alert" data-error-summary>
        <h2 class="heading-medium error-summary-heading" id="error-summary-heading"><%= t('pension_type_tool.error_title') %></h2>
        <ul>
          <li><%= link_to t('pension_type_tool.error'), '#question' %></li>
        </ul>
      </div>
    <% end %>

    <%= yield %>
  </article>

<% end %>
