<%= render layout: 'layouts/base' do %>
  <div class="l-masthead">
    <div class="l-banner-container">
      <%= content_for(:page_nav) %>
    </div>
  </div>

  <div class="l-landing">
    <main role="main" id="content" tabindex="-1">
      <%= yield %>
    </main>
  </div>
<% end %>
