<% content_for(:head) do %>
  <%# Google Optimise anti-flicker %>
  <style>.async-hide { opacity: 0 !important} </style>
  <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
    h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
    (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
  })(window,document.documentElement,'async-hide','dataLayer',4000,
    {'GTM-PPZZQ9':true});</script>
<% end %>

<%= render layout: 'layouts/two_column' do %>
  <article role="article" class="text">
    <% if flash[:alert] %>
      <div class="error-summary alert-alert" aria-labelledby="error-summary-heading" role="group">
        <h2 class="heading-medium error-summary-heading" id="error-summary-heading"><%= t('pension_type_tool.error_title') %></h2>
        <ul>
          <li><%= link_to t('pension_type_tool.error'), '#question' %></li>
        </ul>
      </div>
    <% end %>

    <%= yield %>
  </article>
<% end %>
